<!DOCTYPE html>
<!--[if IE 8 ]>
<html class="ie ie8" lang="en"> <![endif]-->
<!--[if (gte IE 9)|!(IE)]><!-->
<html lang="en"> <!--<![endif]-->
<head>
    <!-- Global Site Tag (gtag.js) - Google Analytics -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=UA-111566442-1"></script>
    <script>
        window.dataLayer = window.dataLayer || [];
        function gtag(){dataLayer.push(arguments);}
        gtag('js', new Date());

        gtag('config', 'UA-111566442-1');
    </script>

    <!-- Basic Page Needs
    ================================================== -->
    <meta charset="utf-8">
    <title>Ant Commodity</title>

    <!-- Mobile Specific Metas
    ================================================== -->
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">

    <!-- CSS
    ================================================== -->
    <link rel="stylesheet" href="https://ajax.googleapis.com/ajax/libs/jqueryui/1.11.0/themes/smoothness/jquery-ui.css">
    <link rel="stylesheet" href="/css/style.css">
    <link rel="stylesheet" href="/css/colors/blue.css" id="colors">
    <link rel="stylesheet" href="/css/croppie.css"/>

    <script src="/scripts/tinymce/tinymce.min.js"></script>
    <script>
      tinymce.init({
        selector: '#editor',
        height: 300,
        menubar: false,
        plugins: [
          'advlist autolink lists link image charmap print preview anchor',
          'searchreplace visualblocks code fullscreen',
          'insertdatetime media table contextmenu paste code table'
        ],
        table_toolbar: "tableprops tabledelete | tableinsertrowbefore tableinsertrowafter tabledeleterow | tableinsertcolbefore tableinsertcolafter tabledeletecol",
        toolbar: 'undo redo | insert | styleselect | bold italic | alignleft aligncenter alignright alignjustify | bullist numlist outdent indent | link image | table',
        content_css: '//www.tinymce.com/css/codepen.min.css',
      });

    </script>

    <!--[if lt IE 9]>
    <script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
    <![endif]-->

</head>

<body class="boxed">
<div id="wrapper">

    <% include header.ejs %>

    <div class="row"></div>
    <div class="container">

        <!-- Content
        ================================================== -->

        <div class="twelve columns products centered">
            <a style="display: none" href="#small-dialog" class="popup-with-zoom-anim button color" id="cropWindow"></a>
            <div id="small-dialog" class="small-dialog zoom-anim-dialog mfp-hide upload-demo">
                <h3 class="headline">Crop Image</h3><span class="line margin-bottom-25"></span>
                <div class="clearfix"></div>
                <div align="center">
                    <div class="croppie-container" id="croppie-container"
                         style="width: 350px; height: 350px; display: none">
                    </div>
                    <div class="one columns">
                        <a class="button color" id="commodity-uploadimage" style="width: 200px; margin-left:3px">Select
                            Image</a>
                        <input type="file" name="fileToUpload" id="fileToUpload" style="display: none"><br>
                        <a class="button color" id="crop-btn" style="width: 200px">Crop Image</a>
                    </div>
                </div>

            </div>

            <section class="variables">

                <form method="post" id="addItemForm">

                    <fieldset>
                        <input type="hidden" id="userId" name="userId" value="<%= user.id %>"/>
                        <input type="hidden" id="commodityId" name="commodityId" value="<%= CommodityId %>"/>
                        <input type="hidden" id="commodityName" name="commodityName" value="<%= commodityName %>"/>

                        <div class="twelve alpha columns editform">
                            <label>Title : </label>
                            <input name="title" type="text" id="title"
                                   placeholder="Write a descriptive title. [Use words people would search for when looking for your commodity]"/>
                        </div>

                        <div class="twelve alpha columns editform">
                            <label>Listing Url Code: [unique and dashed(-) separated string please]</label>
                            <input name="item_url_code" type="text" id="title"
                                   placeholder="Don't use spaces, use dashed(-) for separate words."/>
                        </div>

                        <div class="thirteen alpha columns editform">
                            <label>Quantity : </label>
                            <div class="five columns" style="margin-left:0px">
                                <input name="quantityMin" type="text" id="quantity" placeholder="Min"/>
                            </div>
                            <div class="five columns" style="margin-left:10px">
                                <input name="quantityMax" type="text" id="quantity" placeholder="Max"/>
                            </div>
                            <div class="two columns">
                                <select name="measureUnit" id="measureUnit">
                                    <% for(var measureIndex = 0; measureIndex < measureUnits.length; measureIndex++) { %>
                                    <option value="<%= measureUnits[measureIndex].unitName %>"><%= measureUnits[measureIndex].unitName %></option>
                                    <% } %>
                                </select>
                            </div>
                        </div>

                        <div class="thirteen alpha columns editform">
                            <div class="twelve columns bidform" style="margin-left: 0;">
                                <label for="packing_type">Packing Type : </label>
                                <select id="packing_type" name="packingType">
                                    <% for(var packingIndex = 0; packingIndex < packingTypes.length; packingIndex++) { %>
                                    <option value="<%= packingTypes[packingIndex].type %>"><%= packingTypes[packingIndex].type %></option>
                                    <% } %>
                                </select>
                            </div>
                        </div>

                        <div class="twelve alpha columns editform">
                            <label for="payment_terms">Lead Time : </label>
                            <div class="five columns" style="margin-left: 0;">
                                <input type="text" name="loadTime">
                            </div>
                        </div>

                        <div class="thirteen alpha columns editform">
                            <label>Ask Price : </label>
                            <div class="five columns" style="margin-left:0px">
                                <input name="fob_price" type="text" id="suggested_price"
                                       placeholder="Suggest a price for the item"/>
                            </div>
                            <div class="two columns">
                                <select name="priceUnit" id="priceUnit">
                                    <% for(var priceIndex = 0; priceIndex < priceUnits.length; priceIndex++) { %>
                                    <option value="<%= priceUnits[priceIndex].unitName %>"><%= priceUnits[priceIndex].unitName %></option>
                                    <% } %>
                                </select>
                            </div>
                        </div>

                        <div class="twelve alpha columns editform">
                            <label>Origin : </label>
                            <div class="five columns bidform" style="margin-left: 0px;">
                                <input name="origin" type="text" id="days" placeholder="" value=""/>
                            </div>
                        </div>

                        <div class="twelve alpha columns editform">
                            <label>Producer Note: <span>*</span></label>
                            <textarea name="producer_note" cols="91" rows="3" id="seller_note" spellcheck="true"
                                      style="width: 97%" placeholder="Describe Your Item"></textarea>
                        </div>

                        <div class="twelve alpha columns editform">
                            <label>Commodity Description: <span>*</span></label>
                            <div class="twelve alpha columns editform">
                                <div id="editor">
                                    <div id='comDescText'></div>
                                </div>
                            </div>
                            <input type="hidden" name="comDesc" id="comDesc">
                        </div>

                        <div class="twelve alpha columns editform">
                            <label>Images : </label>
                            <div class="ten columns" id="imagepreview-div">
                            </div>
                            <button class="commodity-uploadimage" id="open-uploadimage-modal">Upload Images</button>
                        </div>
                        <div class="twelve columns bidform" style="margin-top: 10px">
                            <!--<input type="submit" class="submit" id="preview" value="Preview"/>-->
                            <input type="submit" class="submit" id="submit" value="Add" style="margin-top:5px"/>
                        </div>

                    </fieldset>
                    <br>
                    <div class="notification success closeable" style="display: none" id="message_success">
                        <p><span>Success! </span>Item was successfully added to listing!</p>
                        <a class="close" href="#"></a>
                    </div>
                    <div class="clearfix"></div>
                </form>

            </section>
        </div>

    </div>

    <div class="margin-top-50"></div>

    <!-- Footer
    ================================================== -->
    <% include footer.ejs %>

</div>


<!-- Java Script
================================================== -->
<script src="https://code.jquery.com/jquery-1.11.0.min.js"></script>
<script src="https://code.jquery.com/jquery-migrate-1.2.1.min.js"></script>
<script src="/scripts/jquery.jpanelmenu.js"></script>
<script src="/scripts/jquery.themepunch.plugins.min.js"></script>
<script src="/scripts/jquery.themepunch.revolution.min.js"></script>
<script src="/scripts/jquery.themepunch.showbizpro.min.js"></script>
<script src="/scripts/jquery.magnific-popup.min.js"></script>
<script src="/scripts/hoverIntent.js"></script>
<script src="/scripts/superfish.js"></script>
<script src="/scripts/jquery.pureparallax.js"></script>
<script src="/scripts/jquery.pricefilter.js"></script>
<script src="/scripts/jquery.selectric.min.js"></script>
<script src="/scripts/jquery.royalslider.min.js"></script>
<script src="/scripts/SelectBox.js"></script>
<script src="/scripts/modernizr.custom.js"></script>
<script src="/scripts/waypoints.min.js"></script>
<script src="/scripts/jquery.flexslider-min.js"></script>
<script src="/scripts/jquery.counterup.min.js"></script>
<script src="/scripts/jquery.tooltips.min.js"></script>
<script src="/scripts/jquery.isotope.min.js"></script>
<script src="/scripts/puregrid.js"></script>
<script src="/scripts/stacktable.js"></script>
<script src="/scripts/custom.js"></script>
<script src="/scripts/croppie.js"></script>

<script src="/scripts/views/additem.js"></script>
<script src="/scripts/views/header_func.js"></script>

</body>
</html>