<!--[if (gte IE 9)|!(IE)]><!-->
<html lang="en"> <!--<![endif]-->
<head>
    <!-- Global Site Tag (gtag.js) - Google Analytics -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=UA-107495910-1"></script>
    <script>
        window.dataLayer = window.dataLayer || [];
        function gtag(){dataLayer.push(arguments)};
        gtag('js', new Date());

        gtag('config', 'UA-107495910-1');
    </script>

    <!-- Basic Page Needs
    ================================================== -->
    <meta charset="utf-8">
    <title>Ant Commodity</title>

    <!-- Mobile Specific Metas
    ================================================== -->
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">

    <!-- CSS
    ================================================== -->
    <link rel="stylesheet" href="https://ajax.googleapis.com/ajax/libs/jqueryui/1.11.0/themes/smoothness/jquery-ui.css">
    <link rel="stylesheet" href="css/style.css">
    <link rel="stylesheet" href="css/colors/blue.css" id="colors">

    <!--[if lt IE 9]>
    <script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
    <![endif]-->

</head>

<body class="fullwidth">
<div id="wrapper">

    <% include header_bidpage.ejs %>


    <!-- Titlebar
    ================================================== -->
    <section class="parallax-titlebar fullwidth-element"  data-background="#000" data-opacity="0.3" data-height="160">

        <img src="images/mini-slides/5.jpg" alt="" />
        <div class="parallax-overlay"></div>

        <div class="parallax-content">
            <h2><%= item.item.title %></h2>
        </div>
    </section>
    <% if(message != null && message != undefined && message != "") {%>
    <div class="notification success closeable" id="message_success" style="margin-top: -38px;">
        <p><span><%= message %></span></p>
        <a class="close" href="#"></a>
    </div>
    <% } %>

    <div class="container fullscreen-container">

        <!-- Slider
        ================================================== -->
        <div class="seven columns">
            <div class="slider-padding">
                <div id="product-slider" class="royalSlider rsDefault">
                    <% if(item.itemImages.length > 0) {%>
                    <% for(imageIndex = 0; imageIndex < item.itemImages.length; imageIndex++) {;%>
                    <img style="width: 480px; height: 480px"
                         class="rsImg" src="uploads/items/<%= item.itemImages[imageIndex].url %>"
                         data-rsTmb="uploads/items/<%= item.itemImages[imageIndex].url %>"
                         alt=""/>
                    <% } %>
                    <% } else {  %>
                    <img class="rsImg" src="images/product_item_01a.jpg" data-rsTmb="images/product_item_thumb_01a.png"
                         alt=""/>
                    <% } %>
                </div>
                <div class="clearfix"></div>
            </div>
        </div>


        <!-- Content
        ================================================== -->
        <div class="seven columns">
            <div class="product-page">

                <!-- Headline -->
                <section class="title">
                    <h2><%= item.item.title %></h2>
                    <h3><%= item.user.full_name%></h3>

                    <%
                    var rateInString = ['zero', 'one', 'two', 'three', 'four', 'five'];
                    var feedbackCount = itemComments.length;
                    var rateSum = 0;
                    for( var commentIndex = 0; commentIndex < itemComments.length; commentIndex++) {
                        rateSum += parseInt(itemComments[commentIndex].rate);
                    }
                    var avgRate = feedbackCount != 0? Math.floor(rateSum/feedbackCount) : 0;
                    %>

                    <% if(feedbackCount != 0) {%>
                    <div class="reviews-counter-product">
                        <div class="rating <%= rateInString[avgRate] %>-stars">
                            <div class="star-rating"></div>
                            <div class="star-bg"></div>
                        </div>
                        <span><%= rateSum/feedbackCount %> stars</span>
                    </div>
                    <% } %>
                </section>

                <section>

                    <!-- Product Details Table -->
                    <div class="product-div">
                        <table class="basic-table">
                            <tr>
                                <th>Quantity</th>
                                <td><%= item.item.quantity %></td>
                            </tr>

                            <tr>
                                <th>Packing Type</th>
                                <td><%= item.item.packageType %></td>
                            </tr>

                            <tr>
                                <th>Delivery By</th>
                                <td id="item_delivery_by"><%= item.item.deliveryBy %></td>
                            </tr>

                            <tr>
                                <th>Warehouse Address</th>
                                <%
                                var warehouse = item.warehouse;
                                var formattedAddress = "";
                                formattedAddress = (warehouse.warehouseAddress1 != null && warehouse.warehouseAddress1 != undefined) ?
                                        warehouse.warehouseAddress1 : formattedAddress;
                                formattedAddress = (warehouse.warehouseAddress2 != null && warehouse.warehouseAddress2 != undefined) ?
                                formattedAddress + ", " +warehouse.warehouseAddress2 : formattedAddress;
                                formattedAddress = (warehouse.warehouseCity != null && warehouse.warehouseCity != undefined) ?
                                formattedAddress + ", " +warehouse.warehouseCity : formattedAddress;
                                %>
                                <td><%= formattedAddress %></td>
                            </tr>

                            <tr>
                                <th>Payment terms</th>
                                <td><%= item.item.paymentTerms %></td>
                            </tr>

                            <tr>
                                <th>Suggested Price</th>
                                <td><%= item.item.suggestedPrice %></td>
                            </tr>
                        </table>
                    </div>

                    <div class="product-seller-note">
                        <p class="margin-reset"><strong>Seller Note : </strong><%= item.item.note%></p>
                    </div>

                    <div class="notification notice" align="center">
                        <%
                        var numdays = Math.floor(item.remainingTime / 86400);
                        var numhours = Math.floor((item.remainingTime % 86400) / 3600);
                        var numminutes = Math.floor(((item.remainingTime % 86400) % 3600) / 60);
                        var numseconds = Math.floor(((item.remainingTime % 86400) % 3600) % 60);
                        var isAlligibleToBid = true;


                        var formattedTime = "";
                        formattedTime = numdays != 0 ? (formattedTime += numdays + " days ") : formattedTime;
                        formattedTime = numhours != 0 ? (formattedTime += numhours + " hrs ") : formattedTime;
                        formattedTime = numminutes != 0 ? (formattedTime += numminutes + " mins ") : formattedTime;
                        formattedTime = numseconds != 0 ? (formattedTime += numseconds + " secs ") : formattedTime;

                        if(numdays <= 0 && numhours <= 0 && numminutes <= 0 && numseconds <= 0) {
                            isAlligibleToBid = false;
                        }
                        %>
                        <% if(isAlligibleToBid) {%>
                        <p><span>Time left : </span> <%= formattedTime %></p>
                        <% } else { %>
                        <p><span>Time left : </span> 0 days 0 hrs 0 mins 0 secs</p>
                        <% } %>

                    </div>

                    <!-- Bid Table -->
                    <div class="last-bid" align="center">
                        <table border="0px">
                            <tr>
                                <td class="last-bid-label">
                                    <strong>Last Bid </strong>
                                </td>
                                <td>
                                    <%= lastBid != undefined ? lastBid.bid : 'No Bids' %>
                                </td>
                            </tr>
                            <tr>
                                <td class="last-bid-label">
                                    <strong>Your Last Bid </strong>
                                </td>
                                <td>
                                    <%= lastUserBid != undefined ? lastUserBid.bid : 'No Bids' %>
                                </td>
                            </tr>
                            <tr>
                                <td class="last-bid-label">
                                    <strong>Status </strong>
                                </td>
                                <td>
                                    <% if(isAlligibleToBid){ %>
                                    Open to bidding
                                    <% } else { %>
                                    Bidding Closed
                                    <% } %>
                                </td>
                            </tr>
                        </table>
                    </div>

                    <div class="clearfix"></div>

                </section>

            </div>
        </div>

        <div class="eight products columns" style="margin-top:5px">
            <br><br><br><br>
            <section class="variables">
                <form method="post" name="bidform" action="/api/bid/add">

                    <fieldset>
                        <input type="hidden" name="id" value="<%= item.item.id %>"/>
                        <input type="hidden" name="userId" value="<%= user.id %>"/>
                        <div class="eight alpha columns bidform">
                            <label>Your Bid : </label>
                            <div class="six columns" style="margin-left: 0px;">
                                <input name="bid" type="text" id="your_bid"/>
                            </div>
                            <div class="two columns" style="width:120px">
                                <select name="priceUnit" id="priceUnit">
                                    <% for(var priceIndex = 0; priceIndex < item.priceUnits.length; priceIndex++) { %>
                                    <option value="<%= item.priceUnits[priceIndex].unitName %>"><%= item.priceUnits[priceIndex].unitName %></option>
                                    <% } %>
                                </select>
                            </div>
                        </div>

                        <div class="eight alpha columns bidform">
                            <label>Quantity : </label>
                            <div class="six columns" style="margin-left: 0px;">
                                <input name="quantity" type="text" id="quantity"/>
                            </div>
                            <div class="two columns" style="width:120px">
                                <select name="measureUnit" id="measureUnit">
                                    <% for(var measureIndex = 0; measureIndex < item.measureUnits.length; measureIndex++) { %>
                                    <option value="<%= item.measureUnits[measureIndex].unitName %>"><%= item.measureUnits[measureIndex].unitName %></option>
                                    <% } %>
                                </select>
                            </div>
                        </div>

                        <div class="eight alpha columns bidform">
                            <label for="delivery_by">Delivery By : </label>
                            <select id="delivery_by" name="delivery_by">
                                <option value="Buyer">Buyer</option>
                                <% if(item.item.deliveryBy == 'Seller') {%>
                                <option selected value="Seller">Seller</option>
                                <% } else {%>
                                <option value="Seller">Seller</option>
                                <% } %>
                            </select>
                        </div>


                        <div class="eight alpha columns bidform" id="buyer_delivery_cost" style="display: none;">
                            <label>Delivery Cost : </label>

                            <div class="six columns" style="margin-left: 0px;">
                                <input name="delivery_cost" type="text" id="delivery_cost"/>
                            </div>
                            <div class="two columns" style="width:120px">
                                <select name="priceUnitDelivery" id="priceUnitDelivery">
                                    <% for(var priceIndex = 0; priceIndex < item.priceUnits.length; priceIndex++) { %>
                                    <option value="<%= item.priceUnits[priceIndex].unitName %>"><%= item.priceUnits[priceIndex].unitName %></option>
                                    <% } %>
                                </select>
                            </div>
                        </div>


                        <div class="eight alpha columns bidform">
                            <label for="warehouse">Warehouse : </label>
                            <select id="warehouse" name="warehouse">
                                <% for(var warehouseIndex = 0; warehouseIndex < userWareHouses.length; warehouseIndex++) {
                                    var warehouse = userWareHouses[warehouseIndex];
                                    var formattedAddress = "";
                                    formattedAddress = (warehouse.warehouseAddress1 != null && warehouse.warehouseAddress1 != undefined) ?
                                            warehouse.warehouseAddress1 : formattedAddress;
                                    formattedAddress = (warehouse.warehouseAddress2 != null && warehouse.warehouseAddress2 != undefined) ?
                                    formattedAddress + ", " +warehouse.warehouseAddress2 : formattedAddress;
                                    formattedAddress = (warehouse.warehouseCity != null && warehouse.warehouseCity != undefined) ?
                                    formattedAddress + ", " +warehouse.warehouseCity : formattedAddress;
                                %>
                                <option value="<%= warehouse.id %>"><%= formattedAddress %></option>
                                <% } %>
                            </select>
                        </div>

                        <div class="eight alpha columns bidform">
                            <label>Packing Type : </label>
                            <select name="packing_type" id="packing_type">
                                <% for(var packingIndex = 0; packingIndex < item.packingTypes.length; packingIndex++) { %>
                                <option value="<%= item.packingTypes[packingIndex].type %>"><%= item.packingTypes[packingIndex].type %></option>
                                <% } %>
                            </select>
                        </div>

                        <div class="eight alpha columns bidform">
                            <label for="payment_terms">Payment Terms : </label>
                            <select id="payment_terms" name="payment_terms">
                                <option>1 month credit</option>
                                <option>1 week credit</option>
                                <option>Cash On Delivery</option>
                            </select>
                        </div>


                        <div class="eight alpha columns bidform" id="buyer_delivery_date" style="display: none;">
                            <label>Delivery Date : </label>
                            <input name="delivery_date" type="text" id="delivery_date"/>
                        </div>


                        <div class="eight alpha columns bidform">
                            <label>Buyer Note: <span>*</span></label>
                            <textarea name="buyer_note" cols="91" rows="3" id="comment" spellcheck="true" style="width: 100%"></textarea>
                        </div>

                        <div class="eight columns bidform">
                            <input type="submit" class="submit" id="submit" value="Place Your Bid"/>
                        </div>

                    </fieldset>

                    <div class="clearfix"></div>
                </form>
            </section>
        </div>

    </div>

    <br><br>
    <div class="container margin-top-5">

        <!-- Headline -->
        <div class="sixteen columns">
            <h3 class="headline">Reviews</h3>
            <span class="line margin-bottom-0"></span>
        </div>
        <br><br>
        <!-- Products -->
        <div class="products">

            <% if(itemComments.length == 0) {%>
            <p>No Reviews Yet! </p>
            <%} %>
            <ul>
                <% for(commentIndex = 0; commentIndex < itemComments.length; commentIndex++) {
                    var comment = itemComments[commentIndex];
                    var rateInString = ['zero', 'one', 'two', 'three', 'four', 'five'];
                %>
                <li style="border-bottom: thin solid lightgray">
                    <div class="avatar">
                        <%if(comment.User.profile_pic == null) { %>
                        <img style="margin-top:5px; margin-left: 100px" src="http://www.gravatar.com/avatar/00000000000000000000000000000000?d=mm&amp;s=70" alt=""/>
                        <% } else { %>
                        <img src="/uploads/profile_pic/<%= comment.User.profile_pic %>" alt="" style="width: 80px; height: 80px;margin-top:5px; margin-left: 100px"/>
                        <% } %>
                    </div>
                    <div style="padding: 19px 22px 22px 100px;" class="comment-content">
                        <div class="arrow-comment"></div>
                        <div class="comment-by"><strong><%= comment.User.full_name %></strong><span
                                    class="date"><%= comment.createdAt.split('T')[0] %></span>
                            <div class="rating <%= rateInString[comment.rate] %>-stars">
                                <div class="star-rating"></div>
                                <div class="star-bg"></div>
                            </div>
                        </div>
                        <p><%= comment.comment%></p>
                    </div>
                </li>
                <% } %>
            </ul>
            <a style="margin-top:10px" href="#small-dialog" class="popup-with-zoom-anim button color">Add Review</a>
            <div id="small-dialog" class="small-dialog zoom-anim-dialog mfp-hide" style="top:-800px">
                <h3 class="headline">Add Review</h3><span class="line margin-bottom-25"></span>
                <div class="clearfix"></div>

                <!-- Form -->
                <form id="add-comment" class="add-comment" action="/api/items/feedback" method="POST">
                    <input type="hidden" name="rating" id="rating" value="0"/>
                    <input type="hidden" name="id" value="<%= item.item.id %>"/>
                    <input type="hidden" name="userId" value="<%= user.id %>"/>
                    <fieldset>
                        <div class="feedback-rating">
                            <span style="float:left">Rating:</span>
                            <input type="radio" id="star5" value="5" /><label class = "full" for="star5" title="Awesome - 5 stars"></label>
                            <input type="radio" id="star4" value="4" /><label class = "full" for="star4" title="Pretty good - 4 stars"></label>
                            <input type="radio" id="star3" value="3" /><label class = "full" for="star3" title="Meh - 3 stars"></label>
                            <input type="radio" id="star2" value="2" /><label class = "full" for="star2" title="Kinda bad - 2 stars"></label>
                            <input type="radio" id="star1" value="1" /><label class = "full" for="star1" title="Sucks big time - 1 star"></label>
                        </div>

                        <br><br>
                        <div>
                            <label>Review:</label>
                            <textarea cols="40" rows="3" name="feedback"></textarea>
                        </div>

                    </fieldset>
                    <input type="submit" class="button color" value="Add Review" style="width: 100%"/>
                    <div class="clearfix"></div>

                </form>
            </div>

        </div>
    </div>
    <br><br>
    <% if(item.similarItems.length > 0) {%>
    <!-- Related Products -->
    <div class="container margin-top-5">

        <!-- Headline -->
        <div class="sixteen columns">
            <h3 class="headline">Related Products</h3>
            <span class="line margin-bottom-0"></span>
        </div>

        <!-- Products -->
        <div class="products">

            <% for(var itemIndex = 0; itemIndex < item.similarItems.length; itemIndex++) {
                var similarItem = item.similarItems[itemIndex];
            if(similarItem.id != item.item.id) {
            %>
            <div class="four columns">
                <figure class="product">
                    <div class="mediaholder">
                        <% if(similarItem.ItemImages.length > 0) {%>
                        <img alt="" src="uploads/items/<%= similarItem.ItemImages[0].url %>" style="width: 280px; height: 280px"/>
                        <% } else { %>
                        <img alt="" src="images/shop_item_01.jpg" style="width: 280px; height: 280px"/>
                        <% } %>
                        <% if(similarItem.ItemImages.length > 1) {%>
                        <div class="cover">
                            <img alt="" src="uploads/items/<%= similarItem.ItemImages[1].url %>" style="width: 270px; height: 270px"/>
                        </div>
                        <% } %>
                        <a href="#" class="product-button"><i class="fa fa-shopping-cart"></i> Add to Cart</a>
                    </div>

                    <a href="/items/id/<%= similarItem.id %>">
                        <section>
                            <span class="product-category"><%= similarItem.title %></span>
                            <h5><%= similarItem.User.username %></h5>
                        </section>
                    </a>
                </figure>
            </div>
            <%  }
            }
            %>

        </div>
    </div>

    <% } %>

    <div class="margin-top-50"></div>

    <!-- Footer
    ================================================== -->
    <% include footer.ejs %>

</div>


<!-- Java Script
================================================== -->
<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
<script src="https://code.jquery.com/jquery-migrate-1.2.1.min.js"></script>
<script src="scripts/jquery.jpanelmenu.js"></script>
<script src="scripts/jquery.themepunch.plugins.min.js"></script>
<script src="scripts/jquery.themepunch.revolution.min.js"></script>
<script src="scripts/jquery.themepunch.showbizpro.min.js"></script>
<script src="scripts/jquery.magnific-popup.min.js"></script>
<script src="scripts/hoverIntent.js"></script>
<script src="scripts/superfish.js"></script>
<script src="scripts/jquery.pureparallax.js"></script>
<script src="scripts/jquery.pricefilter.js"></script>
<script src="scripts/jquery.selectric.min.js"></script>
<script src="scripts/jquery.royalslider.min.js"></script>
<script src="scripts/SelectBox.js"></script>
<script src="scripts/modernizr.custom.js"></script>
<script src="scripts/waypoints.min.js"></script>
<script src="scripts/jquery.flexslider-min.js"></script>
<script src="scripts/jquery.counterup.min.js"></script>
<script src="scripts/jquery.tooltips.min.js"></script>
<script src="scripts/jquery.isotope.min.js"></script>
<script src="scripts/puregrid.js"></script>
<script src="scripts/stacktable.js"></script>
<script src="scripts/custom.js"></script>
<script src="scripts/views/bid.js"></script>
<script src="scripts/views/header_func.js"></script>

</body>
</html>