<!DOCTYPE html>
<!--[if IE 8 ]>
<html class="ie ie8" lang="en"> <![endif]-->
<!--[if (gte IE 9)|!(IE)]><!-->
<html lang="en"> <!--<![endif]-->
<head>
    <!-- Global Site Tag (gtag.js) - Google Analytics -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=UA-107495910-1"></script>
    <script>
      window.dataLayer = window.dataLayer || [];
      function gtag() {
        dataLayer.push(arguments)
      };
      gtag('js', new Date());

      gtag('config', 'UA-107495910-1');
    </script>

    <!-- Basic Page Needs
    ================================================== -->
    <meta charset="utf-8">
    <title>SellBnB</title>

    <!-- Mobile Specific Metas
    ================================================== -->
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">

    <!-- CSS
    ================================================== -->
    <link rel="stylesheet" href="https://ajax.googleapis.com/ajax/libs/jqueryui/1.11.0/themes/smoothness/jquery-ui.css">
    <link rel="stylesheet" href="css/style.css">
    <link rel="stylesheet" href="css/colors/blue.css" id="colors">

    <!--[if lt IE 9]>
    <script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
    <![endif]-->

    <style>
        /*overrid*/
        .customSelect .selectedValue {
            font-size: 18px;
            padding-top: 11px;
            height: 27px;
            color: #999999;
        }

        .black-text{
            color: black;
        }
    </style>

</head>

<body class="boxed">
<div id="wrapper">

    <% include header.ejs %>

    <!-- Titlebar
    ================================================== -->
    <h1 style="color: #1b3d6d; text-align: center; font-size: 30px;"><%= item.commodity.name %></h1>
    <hr>
    <div class="container container">

        <!-- Slider
        ================================================== -->
        <div class="eight columns">
            <!-- Headline -->
            <div class="slider-padding">
                <div id="product-slider" class="royalSlider rsDefault">
                    <% if(item.itemImages.length > 0) { %>
                    <% for(imageIndex = 0; imageIndex < item.itemImages.length; imageIndex++) {; %>
                    <img style="width:100%;"
                         class="rsImg" src="uploads/items/<%= item.itemImages[imageIndex].url %>"
                         data-rsTmb="uploads/items/<%= item.itemImages[imageIndex].url %>"
                         alt=""/>
                    <% } %>
                    <% } else { %>
                    <img class="rsImg" src="images/product_item_01a.jpg" data-rsTmb="images/product_item_thumb_01a.png"
                         alt=""/>
                    <% } %>
                </div>
                <div class="clearfix"></div>
            </div>
            <div class="product-page">

                <!-- Product Details Table -->
                <div class="product-div">
                    <table class="basic-table" style="color: #000; font-size: 15px;">
                        <tr>
                            <th>Max. Quantity</th>
                            <td><%= item.item.quantityMax %></td>
                        </tr>

                        <tr>
                            <th>Min. Quantity</th>
                            <td><%= item.item.quantityMin%></td>
                        </tr>

                        <tr>
                            <th>Packing Type</th>
                            <td><%= item.item.packageType %></td>
                        </tr>

                        <tr>
                            <th>Lead time</th>
                            <td><%= item.item.loadTime %></td>
                        </tr>
                        <tr>
                            <th>Origin</th>
                            <td><%= item.item.origin %></td>
                        </tr>
                    </table>
                </div>
                <div class="product-seller-note">
                    <p class="margin-reset"><strong>Producer Note : </strong><%= item.item.note %></p>
                </div>
            </div>
        </div>

        <!-- Content
        ================================================== -->
        <div class="eight columns" style="border: solid 2px #5748ff; border-bottom: none; margin:0;">
            <section class="title" style="margin: 5px 0 10px 5px;">
                <%
                var name = '';
                if (item.user.company_name != null && item.user.company_name != '') {
                    name = item.user.company_name;
                } else if (item.user.full_name != null && item.user.full_name != '') {
                    name = item.user.full_name;
                } else if (item.user.username != null && item.user.username != '') {
                    name = item.user.username;
                }
                %>
                <h2 style="color: #1b3d6d; font-size: 30px"><%= item.item.title %></h2>
                <h6><a  target="_blank" href="/user/public/userId/<%= item.user.id %>"><i style="font-style: italic; color:#0000ff;"><%= name %></i></a> <span style="color: #1ecfca; font-style: oblique">[VERIFIED]</span></h6>
            </section>
        </div>
        <div class="eight products columns"
             style="padding: 10px 0; background-color: #e2e2e2; border: solid 2px #5748ff; border-top: none; margin:0;">
            <section class="variables">
                <div class="eight columns" style="border-bottom: solid 2px #5748ff; margin:0;">
                    <h1 style="margin-left: 10px; background-color: #e2e2e2" class="headline">FOB Price: <strong style="font-size: 30px; color: #729331 ;"><%= item.item.suggestedPrice + ' ' + item.item.priceUnit %></strong></h1>
                </div>
                <form method="POST" action="/api/offer/add" id="bidformToSubmit" style="background-color: #5d5c60">
                    <input type="hidden" name="itemId" value="<%= item.item.id %>"/>
                    <input type="hidden" name="userId" value="<%= user.id %>"/>
                    <input type="hidden" name="itemOwner" value="<%= item.user.id %>"/>
                    <input type="hidden" name="commodityId" value="<%= item.item.Commodity.id %>"/>
                    <input type="hidden" name="priceUnit" value="<%= item.item.priceUnit %>"/>
                    <div class="eight alpha columns bidform" style="display: inline-flex;">
                        <div class="two columns" style="font-size: 20px; margin-top: 10px">Your Offer : </div>
                        <div class="four columns" style="margin-left:0;">
                            <input style="font-size: 18px" name="offerPrice" type="text" id="your_bid"/>
                        </div>
                        <div class="two columns" style="margin-left:-10px">
                            <input style="font-size: 18px" type="text" value="<%= item.item.priceUnit %>" disabled>
                        </div>
                    </div>

                    <div class="eight alpha columns bidform" style="display: inline-flex;">
                        <div class="two columns" style="font-size: 20px; margin-top: 10px">Quantity : </div>
                        <div class="four columns" style="margin-left:0;">
                            <input style="font-size: 18px" name="quantity" type="text" id="quantity"/>
                        </div>
                        <div class="two columns" style="margin-left:-10px">
                            <select name="measureUnit" style="font-size: 18px">
                                <% for(var measureIndex = 0; measureIndex < measureUnits.length; measureIndex++) { %>
                                <option value="<%= measureUnits[measureIndex].unitName %>"><%= measureUnits[measureIndex].unitName %></option>
                                <% } %>
                            </select>
                        </div>
                    </div>

                    <div class="eight alpha columns bidform" style="display: inline-flex;">
                        <div class="three columns" style="font-size: 20px; margin-top: 10px">Destination port :</div>
                        <div class="five columns" style="margin-left: -10px; width: 344px">
                            <input style="font-size: 18px;" name="destPort" type="text" id="quantity"/>
                        </div>
                    </div>

                    <div class="four alpha columns bidform"  style="display: inline-flex;">
                        <div class="three columns" style="font-size: 20px; margin-top: 10px;width: 136px">Incoterms : </div>
                        <div class="two columns">
                            <select name="incoterms" style="width:50%;">
                                <option value="FOB">FOB</option>
                                <option value="CNF">CNF</option>
                                <option value="CIF">CIF</option>
                                <option value="Other">Other</option>
                            </select>
                        </div>
                        <a href="#">?</a>
                    </div>
                    <div class="four alpha columns bidform">
                        <div class="two columns" style="font-size: 20px; margin-top: 10px; margin-left: 63px">Medium : </div>
                        <div class="two columns" style="width: 30%; margin-left: -20px;">
                            <select name="medium">
                                <option value="Air">Air</option>
                                <option value="Sea">Sea</option>
                            </select>
                        </div>
                    </div>

                    <div class="eight columns">
                        <div class="two columns" style="font-size: 20px; margin-top: 10px; width:110px; margin-left: 0;">Note : </div>
                        <div class="five columns" style="margin-top: 10px; width: 407px">
                            <textarea name="buyerNote" id="" rows="3" style="width: 100%;"></textarea>
                        </div>

                    </div>

                    <div class="eight alpha columns bidform">
                        <input type="submit"  class="button" value="SUBMIT NOW"
                               style="margin-left:10px; width: 95%; background-color: #729331; font-size: 20px; color: white;"/>
                        <div class="clearfix"></div>
                    </div>
                </form>
                <br>
                <br>
            </section>
        </div>
        <div class="eight products columns" style="margin-top: 30px">
            <section class="variables">
                <div class="eight columns">
                    <h2 class="headline" style="color: black; font-size: 30px; margin-bottom: 10px; text-transform: capitalize">Producer Details</h2>
                    <span class="line margin-bottom-0"></span>
                </div>
                <div style="align-items: center; width: 100%;">
                    <img src="uploads/profile_pic/<%= item.user.profile_pic %>" style="height: 150px;"/>
                </div>
                <div>
                    <%- (item.user.companyIntroduction ? item.user.companyIntroduction : '').substr(0, 500) %>
                </div>
                <a href="/user/public/userId/<%= item.user.id %>">Read More</a>
                <!-- Headline -->
                <br>
                <div class="last-bid" align="center">
                    <table border="0px">
                        <tr>
                            <td>
                                <a href="#message-dialog" class="button popup-with-zoom-anim margin-left-0"
                                style="color: white; background-color: #729331">Contact Producer Now</a>
                                <div id="message-dialog" class="small-dialog zoom-anim-dialog mfp-hide"
                                     style="margin-top: -850px">
                                    <h3 class="headline">Send Message</h3><span class="line margin-bottom-25"></span>
                                    <div class="clearfix"></div>

                                    <!-- Form -->
                                    <form id="add-comment" class="add-comment" action="/api/messages/add" method="POST">
                                        <fieldset>
                                            <input type="hidden" name="returnTo" value="/items/id/<%= item.item.id %>"/>
                                            <input type="hidden" name="receiverUserIdFk" value="<%= item.user.id %>"/>
                                            <input type="hidden" name="senderUserIdFk" value="<%= user.id %>"/>
                                            <div class="twelve alpha columns editform">
                                                <label>Subject:</label>
                                                <input type="text" name="subject" placeholder="Type message subject"/>
                                            </div>
                                            <div>
                                                <label>Message:</label>
                                                <textarea cols="20" rows="3" name="message"
                                                          style="width: 97%"></textarea>
                                            </div>
                                        </fieldset>

                                        <input type="submit" class="button color" value="Send Message"
                                               style="width: 100%"/>
                                        <div class="clearfix"></div>

                                    </form>
                                </div>
                            </td>
                        </tr>
                    </table>
                </div>

            </section>
        </div>

    </div>

    <br><br>
    <div class="container margin-top-5">

        <!-- Headline -->
        <div class="sixteen columns">
            <h3 class="headline" style="color: black; font-size: 30px; margin-bottom: 10px; text-transform: capitalize">Commodity Description</h3>
            <span class="line margin-bottom-0"></span>
        </div>
        <br><br>
        <div style="padding-left: 10px;"><%-item.item.commodityDesc%></div>
    </div>
    <br><br>
    <% if(item.similarItems.length > 0) { %>
    <!-- Related Products -->
    <div class="container margin-top-5">

        <!-- Headline -->
        <div class="sixteen columns">
            <h3 class="headline" style="color: black; font-size: 30px; margin-bottom: 10px; text-transform: capitalize">Related Products</h3>
            <span class="line margin-bottom-0"></span>
        </div>

        <!-- Products -->
        <div class="products">

            <% for(var itemIndex = 0; itemIndex < item.similarItems.length; itemIndex++) {
                var similarItem = item.similarItems[itemIndex];
            if(similarItem.id != item.item.id) {
            %>
            <div class="four columns">
                <figure class="product">
                    <div class="mediaholder">
                        <a href="/items/id/<%= similarItem.id %>">
                            <% if(similarItem.ItemImages.length > 0) { %>
                            <img alt="" src="uploads/items/<%= similarItem.ItemImages[0].url %>"
                                 style="width: 280px; height: 280px"/>
                            <% } else { %>
                            <img alt="" src="images/shop_item_01.jpg" style="width: 280px; height: 280px"/>
                            <% } %>
                            <% if(similarItem.ItemImages.length > 1) { %>
                            <div class="cover">
                                <img alt="" src="uploads/items/<%= similarItem.ItemImages[1].url %>"
                                     style="width: 270px; height: 270px"/>
                            </div>
                            <% } %>
                            <a href="/items/id/<%= similarItem.id %>" class="product-button"><i
                                        class="fa fa-shopping-cart"></i> Make Offer</a>
                        </a>
                    </div>
                    <a href="/items/id/<%= similarItem.id %>">
                        <section>
                            <span class="product-category"><%= similarItem.title %></span>
                            <%
                                var name = '';
                                if (similarItem.User.company_name != null && similarItem.User.company_name != '') {
                                    name = similarItem.User.company_name;
                                } else if (similarItem.User.full_name != null && similarItem.User.full_name != '') {
                                    name = similarItem.User.full_name;
                                } else if (similarItem.User.username != null && similarItem.User.username != '') {
                                    name = similarItem.User.username;
                                }
                            %>
                            <h5><%= name %></h5>
                        </section>
                    </a>
                </figure>
            </div>
            <% }
            }
            %>

        </div>
    </div>

    <% } %>

    <div class="margin-top-50"></div>

    <!-- Footer
    ================================================== -->
    <% include footer.ejs %>

</div>


<!-- Java Script
================================================== -->
<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
<script src="http://code.jquery.com/jquery-migrate-1.2.1.min.js"></script>
<script src="scripts/jquery.jpanelmenu.js"></script>
<script src="scripts/jquery.themepunch.plugins.min.js"></script>
<script src="scripts/jquery.themepunch.revolution.min.js"></script>
<script src="scripts/jquery.themepunch.showbizpro.min.js"></script>
<script src="scripts/jquery.magnific-popup.min.js"></script>
<script src="scripts/hoverIntent.js"></script>
<script src="scripts/superfish.js"></script>
<script src="scripts/jquery.pureparallax.js"></script>
<script src="scripts/jquery.pricefilter.js"></script>
<script src="scripts/jquery.selectric.min.js"></script>
<script src="scripts/jquery.royalslider.min.js"></script>
<script src="scripts/SelectBox.js"></script>
<script src="scripts/modernizr.custom.js"></script>
<script src="scripts/waypoints.min.js"></script>
<script src="scripts/jquery.flexslider-min.js"></script>
<script src="scripts/jquery.counterup.min.js"></script>
<script src="scripts/jquery.tooltips.min.js"></script>
<script src="scripts/jquery.isotope.min.js"></script>
<script src="scripts/puregrid.js"></script>
<script src="scripts/stacktable.js"></script>
<script src="scripts/custom.js"></script>
<script src="scripts/views/bid.js"></script>
<script src="scripts/views/header_func.js"></script>

</body>
</html>