<!DOCTYPE html>
<!--[if IE 8 ]>
<html class="ie ie8" lang="en"> <![endif]-->
<!--[if (gte IE 9)|!(IE)]><!-->
<html lang="en"> <!--<![endif]-->
<head>
    <!-- Global Site Tag (gtag.js) - Google Analytics -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=UA-111566442-1"></script>
    <script>
        window.dataLayer = window.dataLayer || [];
        function gtag(){dataLayer.push(arguments);}
        gtag('js', new Date());

        gtag('config', 'UA-111566442-1');
    </script>

    <!-- Basic Page Needs
    ================================================== -->
    <meta charset="utf-8"> <meta name="google-site-verification" content="U-xjdUhtM9-lUJ6bu6AX3hq9Zo3LeN6qOpCbxqRe3IY" />
    <title>Ant Commodity</title>

    <!-- Mobile Specific Metas
    ================================================== -->
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">

    <!-- CSS
    ================================================== -->
    <link rel="stylesheet" href="/css/style.css">
    <link rel="stylesheet" href="/css/colors/blue.css" id="colors">

    <!--[if lt IE 9]>
    <script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
    <![endif]-->

</head>

<body class="boxed">
<div id="wrapper">

    <% include header.ejs %>

    <div class="row"></div>
    <!-- Content
    ================================================== -->

    <!-- Container -->
    <div class="container">

        <div class="fifteen columns centered">

            <div class="info-banner" align="center">
                <div class="info-content">
                    <h2>Contract Details - <strong><%= buyContractItem.User.full_name %>,
                            <%= buyContractItem.User.company_name%></strong></h2>
                </div>
            </div>

            <div class="contract-details">
                <table class="basic-table" style="">

                    <tbody>


                    </tbody>
                </table>

                <div class="clearfix"></div>

                <table class="basic-table" style="">

                    <tbody>
                    <tr>
                        <td> Contract ID</td>
                        <td> <%= 'CI'+buyContractBid.id%></td>
                    </tr>
                    <tr>
                        <td> Contract Date</td>
                        <td> <%= contractDate %></td>
                    </tr>
                    <tr>
                        <td> Status</td>
                        <% if(buyContractBid.status == 'open') {%>
                            <td> Contract Created </td>
                        <%} else if(buyContractBid.status == 'mutual-cancellation-buyer') {%>
                            <td> Pending Mutual Cancellation by Seller </td>
                        <% } else if(buyContractBid.status == 'mutual-cancellation-seller') {%>
                            <td> Pending Mutual Cancellation by Buyer </td>
                        <% } else if(buyContractBid.status == 'mutual-cancellation-all') { %>
                            <td> Mutual Cancellation accepted by both parties </td>
                        <% } %>
                    </tr>
                    <tr>
                        <td> Commodity Name</td>
                        <td> <%= buyContractItem.Commodity.name %></td>
                    </tr>
                    <tr>
                        <td> Packing Type</td>
                        <%if(buyContractBid.packageType !== null && buyContractBid.packageType != "") {%>
                        <td> <%= buyContractBid.packageType %></td>
                        <% } else {%>
                        <td> <%= buyContractItem.packageType %></td>
                        <% } %>
                    </tr>
                    <tr>
                        <td> Agreed Quantity</td>
                        <%if(buyContractBid.quantity !== null && buyContractBid.quantity != "") {%>
                        <td> <%= buyContractBid.quantity %></td>
                        <% } else {%>
                        <td> <%= buyContractItem.quantity %></td>
                        <% } %>
                    </tr>
                    <tr>
                        <td>Delivery By</td>
                        <td> <%= buyContractBid.deliveryBy %></td>
                    </tr>
                    <% if(buyContractBid.deliveryBy == 'Seller') {%>
                        <tr>
                            <td> Delivery Cost</td>
                            <td> <%= buyContractBid.deliveryCost %></td>
                        </tr>
                        <tr>
                            <td> Delivery Date</td>
                            <td> <%= buyContractBid.deliveryDate %></td>
                        </tr>
                        <tr>
                            <td>Seller Warehouse Address</td>
                            <%
                                var formattedAddress = "";
                                formattedAddress = (warehouse.warehouseAddress1 != null && warehouse.warehouseAddress1 != undefined) ?
                                        warehouse.warehouseAddress1 : formattedAddress;
                                formattedAddress = (warehouse.warehouseAddress2 != null && warehouse.warehouseAddress2 != undefined) ?
                                formattedAddress + ", " +warehouse.warehouseAddress2 : formattedAddress;
                                formattedAddress = (warehouse.warehouseCity != null && warehouse.warehouseCity != undefined) ?
                                formattedAddress + ", " +warehouse.warehouseCity : formattedAddress;
                            %>
                            <td> <%= formattedAddress %></td>
                        </tr>
                    <% } %>

                    <tr>
                        <td> Payment Terms</td>
                        <%if(buyContractBid.paymentTerms !== null && buyContractBid.paymentTerms != "") {%>
                        <td> <%= buyContractBid.paymentTerms %></td>
                        <% } else {%>
                        <td> <%= buyContractItem.paymentTerms %></td>
                        <% } %>
                    </tr>
                    <tr>
                        <td> Agreed Price</td>
                        <td> <%= buyContractBid.bid %></td>
                    </tr>
                    <tr>
                        <td>Seller Note</td>
                        <td><%= buyContractItem.note %></td>
                    </tr>
                    <%if(buyContractBid.note !== null && buyContractBid.note != "") {%>
                    <tr>
                        <td>Buyer Note</td>
                        <td><%= buyContractBid.note %></td>
                    </tr>
                    <% } %>

                    </tbody>
                </table>
                <a class="popup-with-zoom-anim" href="#fullname-edit-dialog" id="action-modal"
                   style="color:#2db2ea; display: none">Action Modal</a><br/>
                <div id="fullname-edit-dialog" class="small-dialog zoom-anim-dialog mfp-hide">
                    <h2 class="margin-bottom-10" id="action-heading">Mutual Cancellation Request</h2>
                    <form method="POST" name="editform" action="/api/bid/updatecontract/status">
                        <p id="action-description">Are you sure to request to cancel the contract?</p>
                        <fieldset>
                            <div class="twelve columns editform">
                                <% if (buyContractBid.status == 'mutual-cancellation-seller') { %>
                                <input type="hidden" name="status" value="mutual-cancellation-all" />
                                <% } else { %>
                                <input type="hidden" name="status" value="mutual-cancellation-buyer" />
                                <% } %>
                                <input type="hidden" name="requestFrom" value="Buyer" />
                                <input type="hidden" name="userId" value="<%= buyContractItem.User.id %>" />
                                <input type="hidden" name="itemName" value="<%= buyContractItem.title %>" />
                                <input type="hidden" name="itemId" value="<%= buyContractItem.id %>" />
                                <input type="hidden" name="bidId" value="<%= buyContractBid.id %>" />
                                <input type="submit" class="submit" value="Yes"/>
                            </div>
                        </fieldset>
                        <div class="clearfix"></div>
                    </form>
                </div>
                <% if (buyContractBid.status == 'mutual-cancellation-seller') { %>
                <button id="mutual_cancellation_btn" style="width: 100%" class="item-selling-btn">Accept Mutual Cancellation Request</button>
                <% } else if (buyContractBid.status == 'open') { %>
                <button id="mutual_cancellation_btn" style="width: 100%" class="item-selling-btn">Request Mutual Cancellation Request</button>
                <% } %>
            </div>
        </div>
    </div>

    <div class="margin-top-50"></div>


    <!-- Footer
    ================================================== -->
    <% include footer.ejs %>

</div>


<!-- Java Script
================================================== -->
<script src="https://code.jquery.com/jquery-1.11.0.min.js"></script>
<script src="https://code.jquery.com/jquery-migrate-1.2.1.min.js"></script>
<script src="/scripts/jquery.jpanelmenu.js"></script>
<script src="/scripts/jquery.themepunch.plugins.min.js"></script>
<script src="/scripts/jquery.themepunch.revolution.min.js"></script>
<script src="/scripts/jquery.themepunch.showbizpro.min.js"></script>
<script src="/scripts/jquery.magnific-popup.min.js"></script>
<script src="/scripts/hoverIntent.js"></script>
<script src="/scripts/superfish.js"></script>
<script src="/scripts/jquery.pureparallax.js"></script>
<script src="/scripts/jquery.pricefilter.js"></script>
<script src="/scripts/jquery.selectric.min.js"></script>
<script src="/scripts/jquery.royalslider.min.js"></script>
<script src="/scripts/SelectBox.js"></script>
<script src="/scripts/modernizr.custom.js"></script>
<script src="/scripts/waypoints.min.js"></script>
<script src="/scripts/jquery.flexslider-min.js"></script>
<script src="/scripts/jquery.counterup.min.js"></script>
<script src="/scripts/jquery.tooltips.min.js"></script>
<script src="/scripts/jquery.isotope.min.js"></script>
<script src="/scripts/puregrid.js"></script>
<script src="/scripts/stacktable.js"></script>
<script src="/scripts/custom.js"></script>
<script src="/scripts/views/buyercontract.js"></script>
<script src="/scripts/views/header_func.js"></script>

</body>
</html>