<!DOCTYPE html>
<!--[if IE 8 ]>
<html class="ie ie8" lang="en"> <![endif]-->
<!--[if (gte IE 9)|!(IE)]><!-->
<html lang="en"> <!--<![endif]-->
<head>

    <!-- Basic Page Needs
    ================================================== -->
    <meta charset="utf-8">
    <title>Seller BnB</title>

    <!-- Mobile Specific Metas
    ================================================== -->
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">

    <!-- CSS
    ================================================== -->
    <link rel="stylesheet" href="https://ajax.googleapis.com/ajax/libs/jqueryui/1.11.0/themes/smoothness/jquery-ui.css">
    <link rel="stylesheet" href="css/style.css">
    <link rel="stylesheet" href="css/colors/blue.css" id="colors">

    <!--[if lt IE 9]>
    <script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
    <![endif]-->

</head>

<body class="boxed">
<div id="wrapper">

    <% include header.ejs %>

    <!-- Titlebar
    ================================================== -->
    <section class="parallax-titlebar fullwidth-element"  data-background="#000" data-opacity="0.45" data-height="160">

        <img src="images/titlebar_bg_02.jpg" alt="" />
        <div class="parallax-overlay"></div>

        <div class="parallax-content">
            <h2>Commodity Details</h2>

            <nav id="breadcrumbs">
                <ul>
                    <li>Home</li>
                    <li>Sell</li>
                    <li>Search Commodity</li>
                    <li>Commodity Details</li>
                </ul>
            </nav>
        </div>
    </section>

    <div class="container">

        <!-- Content
        ================================================== -->

        <div class="twelve columns products centered">

            <h3 class="headline"><%= Commodity.name %></h3><span class="line margin-bottom-30"></span><div class="clearfix"></div>

            <% if(CommodityImages.length > 0) {%>
                <div class="eight columns centered" id="commodity-images-container">
                    <div class="slider-padding">
                        <div id="product-slider" class="royalSlider rsDefault">
                            <% for(var commodityImagesIndex = 0; commodityImagesIndex < CommodityImages.length; commodityImagesIndex++) {%>
                                <img class="rsImg" src="<%= 'uploads/commodity/'+CommodityImages[commodityImagesIndex].url %>"
                                     data-rsTmb="<%= 'uploads/commodity/'+CommodityImages[commodityImagesIndex].url %>"
                                     alt=""/>
                            <% } %>
                        </div>
                        <div class="clearfix"></div>
                    </div>
                </div>
            <% } %>


            <div class="twelve columns">
                <!-- Headline Trading Commodities-->
                <h3 class="headline">General Details</h3><span class="line margin-bottom-30"></span><div class="clearfix"></div>

                <table class="basic-table" style="">

                    <tbody>
                    <tr>
                        <td> Name</td>
                        <td> <%= Commodity.name %> </td>
                    </tr>
                    <tr>
                        <td>Segment</td>
                        <td><%= Commodity.segment %></td>
                    </tr>
                    <tr>
                        <td>Family</td>
                        <td><%= Commodity.family %></td>
                    </tr>
                    <tr>
                        <td>Class</td>
                        <td><%= Commodity.class %></td>
                    </tr>
                    <tr>
                        <td>Alternative Names</td>
                        <td>
                            <% for(var alterNamesIndex = 0; alterNamesIndex < CommodityAlterNames.length-1; alterNamesIndex++) {%>
                                <%= CommodityAlterNames[alterNamesIndex].name %><br>
                            <% } %>
                            <%= CommodityAlterNames[CommodityAlterNames.length-1].name %>
                        </td>
                    </tr>
                    <tr>
                        <td>Measure Units</td>
                        <td>
                            <% for(var unitIndex = 0; unitIndex < CommodityMeasureUnits.length-1; unitIndex++) {%>
                            <%= CommodityMeasureUnits[unitIndex].unitName %><br>
                            <% } %>
                            <%= CommodityMeasureUnits[CommodityMeasureUnits.length-1].unitName %>
                        </td>
                    </tr>
                    </tbody>
                </table>
                <p>Specification: <%= Commodity.specification %></p>
                <br>

                <% if(CommodityParameters.length > 0) {%>
                    <!-- Headline Business Certificate-->
                    <h3 class="headline">Characteristics</h3><span class="line margin-bottom-30"></span><div class="clearfix"></div>

                    <table class="basic-table" style="">

                        <tbody>
                        <% for(var parameterIndex = 0; parameterIndex < CommodityParameters.length; parameterIndex++) {%>
                            <tr>
                                <td> <%= CommodityParameters[parameterIndex].name %></td>
                                <td> <%= CommodityParameters[parameterIndex].value %></td>
                            </tr>
                        <% } %>
                        </tbody>
                    </table>
                <% } %>
            </div>
            <form method="GET" action="/items/add" >
                <input type="hidden" name="id" value="<%= Commodity.id %>"/>
                <input type="submit" class="commoditysearch-nextbtn" value="Next" id="nextbuton">
                <button class="commoditysearch-nextbtn" style="margin-right:10px" id="backbutton">Back</button>
            </form>

        </div>

    </div>

    <div class="margin-top-50"></div>

    <!-- Footer
    ================================================== -->
    <div id="footer">

        <!-- Container -->
        <div class="container">

            <div class="four columns">
                <img src="images/logo-footer.png" alt="" class="margin-top-10"/>
                <p class="margin-top-15">Nulla facilisis feugiat magna, ut molestie metus hendrerit vitae. Vivamus
                    tristique lectus at varius rutrum. Integer lobortis mauris non consectetur eleifend.</p>
            </div>

            <div class="four columns">

                <!-- Headline -->
                <h3 class="headline footer">Customer Service</h3>
                <span class="line"></span>
                <div class="clearfix"></div>

                <ul class="footer-links">
                    <li><a href="#">Order Status</a></li>
                    <li><a href="#">Payment Methods</a></li>
                    <li><a href="#">Delivery & Returns</a></li>
                    <li><a href="#">Privacy Policy</a></li>
                    <li><a href="#">Terms & Conditions</a></li>
                </ul>

            </div>

            <div class="four columns">

                <!-- Headline -->
                <h3 class="headline footer">My Account</h3>
                <span class="line"></span>
                <div class="clearfix"></div>

                <ul class="footer-links">
                    <li><a href="#">My Account</a></li>
                    <li><a href="#">Order History</a></li>
                    <li><a href="#">Wish List</a></li>
                </ul>

            </div>

            <div class="four columns">

                <!-- Headline -->
                <h3 class="headline footer">Newsletter</h3>
                <span class="line"></span>
                <div class="clearfix"></div>
                <p>Sign up to receive email updates on new product announcements, gift ideas, special promotions, sales
                    and more.</p>

                <form action="#" method="get">
                    <button class="newsletter-btn" type="submit">Join</button>
                    <input class="newsletter" type="text" placeholder="mail@example.com" value=""/>
                </form>
            </div>

        </div>
        <!-- Container / End -->

    </div>
    <!-- Footer / End -->

    <!-- Footer Bottom / Start -->
    <div id="footer-bottom">

        <!-- Container -->
        <div class="container">

            <div class="eight columns">© Copyright 2014 by <a href="#">trizzy</a>. All Rights Reserved.</div>
            <div class="eight columns">
                <ul class="payment-icons">
                    <li><img src="images/visa.png" alt=""/></li>
                    <li><img src="images/mastercard.png" alt=""/></li>
                    <li><img src="images/skrill.png" alt=""/></li>
                    <li><img src="images/moneybookers.png" alt=""/></li>
                    <li><img src="images/paypal.png" alt=""/></li>
                </ul>
            </div>

        </div>
        <!-- Container / End -->

    </div>
    <!-- Footer Bottom / End -->

    <!-- Back To Top Button -->
    <div id="backtotop"><a href="#"></a></div>

</div>


<!-- Java Script
================================================== -->
<script src="http://code.jquery.com/jquery-1.11.0.min.js"></script>
<script src="http://code.jquery.com/jquery-migrate-1.2.1.min.js"></script>
<script src="scripts/jquery.jpanelmenu.js"></script>
<script src="scripts/jquery.themepunch.plugins.min.js"></script>
<script src="scripts/jquery.themepunch.revolution.min.js"></script>
<script src="scripts/jquery.themepunch.showbizpro.min.js"></script>
<script src="scripts/jquery.magnific-popup.min.js"></script>
<script src="scripts/hoverIntent.js"></script>
<script src="scripts/superfish.js"></script>
<script src="scripts/jquery.pureparallax.js"></script>
<script src="scripts/jquery.pricefilter.js"></script>
<script src="scripts/jquery.selectric.min.js"></script>
<script src="scripts/jquery.royalslider.min.js"></script>
<script src="scripts/SelectBox.js"></script>
<script src="scripts/modernizr.custom.js"></script>
<script src="scripts/waypoints.min.js"></script>
<script src="scripts/jquery.flexslider-min.js"></script>
<script src="scripts/jquery.counterup.min.js"></script>
<script src="scripts/jquery.tooltips.min.js"></script>
<script src="scripts/jquery.isotope.min.js"></script>
<script src="scripts/puregrid.js"></script>
<script src="scripts/stacktable.js"></script>
<script src="scripts/custom.js"></script>
<script src="scripts/views/commoditydetailsadd.js"></script>

</body>
</html>