<!DOCTYPE html>
<!--[if IE 8 ]>
<html class="ie ie8" lang="en"> <![endif]-->
<!--[if (gte IE 9)|!(IE)]><!-->
<html lang="en"> <!--<![endif]-->
<head>
    <!-- Global Site Tag (gtag.js) - Google Analytics -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=UA-107495910-1"></script>
    <script>
      window.dataLayer = window.dataLayer || [];
      function gtag() {
        dataLayer.push(arguments)
      }
      gtag('js', new Date());

      gtag('config', 'UA-107495910-1');
    </script>

    <!-- Basic Page Needs
    ================================================== -->
    <meta charset="utf-8">
    <title>AntCommodity</title>

    <!-- Mobile Specific Metas
    ================================================== -->
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">

    <!-- CSS
    ================================================== -->
    <link rel="stylesheet" href="https://ajax.googleapis.com/ajax/libs/jqueryui/1.11.0/themes/smoothness/jquery-ui.css">
    <link rel="stylesheet" href="/css/style.css">
    <link rel="stylesheet" href="/css/colors/blue.css" id="colors">


    <!--[if lt IE 9]>
    <script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
    <![endif]-->

</head>

<body class="boxed">
<div id="wrapper">

    <% include header.ejs %>

    <!-- Slider -->
    <img src="/images/slides/slide1.jpg" alt="slidebg1" style="width: 100%; height: 50vh;" data-bgfit="cover"
         data-bgposition="left top" data-bgrepeat="no-repeat">
    <!-- Featured
    ================================================== -->
    <div class="container">


        <!-- Headline -->
        <div class="sixteen columns">
            <h3 class="headline">Commodities</h3>
            <span class="line margin-bottom-0"></span>
        </div>

        <!-- Carousel -->
        <div id="category-div" class="showbiz-container sixteen columns">

            <!-- Navigation -->
            <div class="showbiz-navigation">
                <div id="showbiz_left_1" class="sb-navigation-left"><i class="fa fa-angle-left"></i></div>
                <div id="showbiz_right_1" class="sb-navigation-right"><i class="fa fa-angle-right"></i></div>
            </div>
            <div class="clearfix"></div>

            <!-- Products -->
            <div class="showbiz" data-left="#showbiz_left_1" data-right="#showbiz_right_1" data-play="#showbiz_play_1">
                <div class="overflowholder">

                    <ul>
                        <% for(var commodityIndex = 0; commodityIndex < commodityPopular.length; commodityIndex++) { %>
                        <li>
                            <div class="one-third column">
                                <a href="/api/items/search/start/0?start=0&keyword=<%= commodityPopular[commodityIndex].name %>"
                                   class="img-caption">
                                    <figure style="width: 280px">
                                        <% if(commodityPopular[commodityIndex].CommodityImages.length > 0) { %>
                                        <img style="width: 280px; height: 280px"
                                             src="/uploads/commodity/<%= commodityPopular[commodityIndex].CommodityImages[0].url %>"
                                             alt="" style="width: 280px; height: 185px"/>
                                        <% } else { %>
                                        <img src="/images/featured_img_3.jpg" alt=""
                                             style="width: 280px; height: 280px"/>
                                        <% } %>
                                        <figcaption style="width: 250px">
                                            <h3><%= commodityPopular[commodityIndex].name %></h3>
                                        </figcaption>
                                    </figure>
                                </a>
                            </div>
                        </li>
                        <% } %>
                    </ul>

                </div>
            </div>
        </div>

    </div>
    <div class="clearfix"></div>


    <!-- New Listing
    ================================================== -->
    <div class="container">

        <!-- Headline -->
        <div class="sixteen columns">
            <h3 class="headline">New Listings</h3>
            <span class="line margin-bottom-0"></span>
        </div>

        <!-- Carousel -->
        <div id="new-arrivals" class="showbiz-container sixteen columns">

            <!-- Navigation -->
            <div class="showbiz-navigation">
                <div id="showbiz_left_2" class="sb-navigation-left"><i class="fa fa-angle-left"></i></div>
                <div id="showbiz_right_2" class="sb-navigation-right"><i class="fa fa-angle-right"></i></div>
            </div>
            <div class="clearfix"></div>

            <!-- Products -->
            <div class="showbiz" data-left="#showbiz_left_2" data-right="#showbiz_right_2" data-play="#showbiz_play_1">
                <div class="overflowholder">

                    <ul>
                        <% for(var itemIndex = 0; itemIndex < latestItems.length; itemIndex++) { %>
                        <li>
                            <div class="one-third column">
                                <a href="/items/name/<%= latestItems[itemIndex].item_url_code %>" class="img-caption">
                                    <figure style="width: 280px">
                                        <% if(latestItems[itemIndex].images.length > 0) { %>
                                        <img alt="" src="/uploads/items/<%= latestItems[itemIndex].images[0].url %>"
                                             style="width:280px; height: 280px;"/>
                                        <% } else { %>
                                        <img alt="" src="/images/shop_item_01.jpg" style="width:280px; height: 280px;"/>
                                        <% } %>
                                        <figcaption style="width: 250px">
                                            <h3><%= latestItems[itemIndex].commodity.name %></h3>
                                            <h5 style="color:white"><%= latestItems[itemIndex].title %></h5>
                                            <span class="product-price"
                                                  style="color:white"><%= latestItems[itemIndex].suggestedPrice + ' ' + latestItems[itemIndex].priceUnit %></span>
                                        </figcaption>
                                    </figure>
                                </a>
                            </div>
                        </li>
                        <% } %>
                    </ul>
                    <div class="clearfix"></div>

                </div>
                <div class="clearfix"></div>
            </div>
        </div>
    </div>
    
    <div>
        <img src="/images/steps.png" alt="steps" style="width: 90%; margin: 0 auto 30px auto">
    </div>

    <!-- Latest Articles
    ================================================== -->
    <div class="container">

        <!-- Headline -->
        <div class="sixteen columns">
            <h3 class="headline">Latest Articles</h3>
            <span class="line margin-bottom-30"></span>
        </div>

        <% for(var latestNewsIndex = 0; latestNewsIndex < latestNews.length; latestNewsIndex++) {
            var news = latestNews[latestNewsIndex];
        %>
        <!-- Post #1 -->
        <div class="four columns">
            <article class="from-the-blog">

                <figure class="from-the-blog-image">
                    <% if(news.img == null) { %>
                    <a href="/news/id/<%= news.id %>?lan=en"><img src="/images/from_the_blog_01.jpg" alt=""/></a>
                    <% } else { %>
                    <a href="/news/id/<%= news.id %>?lan=en"><img src="<%= '/' + news.img %>" alt=""
                                                                  style="height: 160px; width: 280px;"/></a>
                    <% } %>
                </figure>

                <section class="from-the-blog-content">
                    <a href="/news/id/<%= news.id %>?lan=en">
                        <h5>
                            <%= news.title.substring(0, 25) %>
                            <% if(news.title.length > 25) { %>
                            ...
                            <% } %>
                        </h5>
                    </a>
                    <i>By <%= news.user %> on <%= news.date + ', ' + news.month + ' ' + news.year %></i>
                    <span>
                        <% if(news.summary != null) { %>
                        <%= news.summary.substr(0, 50) + '...' %>
                        <% } %>
                    </span><br>
                    <a href="/news/id/<%= news.id %>?lan=en" class="button gray">Read More</a>
                </section>

            </article>
        </div>
        <% } %>

    </div>

    <div class="margin-top-50"></div>

    <!-- Footer
    ================================================== -->
    <% include footer.ejs %>

</div>


<!-- Java Script
================================================== -->
<script src="http://code.jquery.com/jquery-1.8.3.min.js"></script>
<script src="/scripts/jquery.jpanelmenu.js"></script>
<script src="/scripts/jquery.themepunch.plugins.min.js"></script>
<script src="/scripts/jquery.themepunch.revolution.min.js"></script>
<script src="/scripts/jquery.themepunch.showbizpro.min.js"></script>
<script src="/scripts/jquery.magnific-popup.min.js"></script>
<script src="/scripts/hoverIntent.js"></script>
<script src="/scripts/superfish.js"></script>
<script src="/scripts/jquery.pureparallax.js"></script>
<script src="/scripts/jquery.pricefilter.js"></script>
<script src="/scripts/jquery.selectric.min.js"></script>
<script src="/scripts/jquery.royalslider.min.js"></script>
<script src="/scripts/SelectBox.js"></script>
<script src="/scripts/modernizr.custom.js"></script>
<script src="/scripts/waypoints.min.js"></script>
<script src="/scripts/jquery.flexslider-min.js"></script>
<script src="/scripts/jquery.counterup.min.js"></script>
<script src="/scripts/jquery.tooltips.min.js"></script>
<script src="/scripts/jquery.isotope.min.js"></script>
<script src="/scripts/puregrid.js"></script>
<script src="/scripts/stacktable.js"></script>
<script src="/scripts/custom.js"></script>
<script src="/scripts/views/header_func.js"></script>

</body>
</html>