<!DOCTYPE html>
<!--[if IE 8 ]>
<html class="ie ie8" lang="en"> <![endif]-->
<!--[if (gte IE 9)|!(IE)]><!-->
<html lang="en"> <!--<![endif]-->
<head>

    <!-- Basic Page Needs
    ================================================== -->
    <meta charset="utf-8">
    <title>Sell BnB</title>

    <!-- Mobile Specific Metas
    ================================================== -->
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">

    <!-- CSS
    ================================================== -->
    <link rel="stylesheet" href="https://ajax.googleapis.com/ajax/libs/jqueryui/1.11.0/themes/smoothness/jquery-ui.css">
    <link rel="stylesheet" href="css/style.css">
    <link rel="stylesheet" href="css/colors/blue.css" id="colors">

    <!--[if lt IE 9]>
    <script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
    <![endif]-->

</head>

<body class="boxed">
<div id="wrapper">

    <% include header.ejs %>

    <!-- Titlebar
    ================================================== -->
    <section class="parallax-titlebar fullwidth-element"  data-background="#000" data-opacity="0.2" data-height="160">

        <img src="images/mini-slides/10.jpg" alt="" />
        <div class="parallax-overlay"></div>

        <div class="parallax-content">
            <h2>Sell You Item</h2>

            <nav id="breadcrumbs">
                <ul>
                    <li>Home</li>
                    <li>Sell</li>
                </ul>
            </nav>
        </div>
    </section>

    <div class="container">

        <!-- Content
        ================================================== -->
        <div class="twelve columns products centered">
                <h3 class="headline">What do you want to sell?</h3><span class="line margin-bottom-30"></span><div class="clearfix"></div>
                <!-- Search -->
                <form action="/api/commodity/search" method="post">
                    <input type="hidden" value="<%= user.id%>" name="userId">
                    <div class="commodity-search">
                        <button><i class="fa fa-search"></i></button>
                        <input class="search-field" type="text" placeholder="Search Your Commodity" list="commodities" name="commodity"/>
                        <datalist id="commodities">
                            <% for(var commodityIndex = 0; commodityIndex < Commodities.length; commodityIndex++) {%>
                            <option value="<%= Commodities[commodityIndex].name %>">
                                <% } %>
                        </datalist>
                    </div>
                    <button class="commoditysearch-nextbtn">Next</button>
                </form>

                <h3 class="headline" style="margin-top: 50px">Recent Searches</h3><span class="line margin-bottom-30"></span><div class="clearfix"></div>
                <nav class="tags">
                    <% for(searchIndex = 0; searchIndex < recentSearches.length; searchIndex++) {%>
                        <a href="/api/commodity/search/commodity/<%= recentSearches[searchIndex].DISTINCT %>/userId/<%= user.id%>"><%= recentSearches[searchIndex].DISTINCT %></a>
                    <% } %>
                </nav>
            </div>

    </div>

    <div class="margin-top-50"></div>

    <!-- Footer
    ================================================== -->
    <% include footer.ejs %>

</div>


<!-- Java Script
================================================== -->
<script src="http://code.jquery.com/jquery-1.11.0.min.js"></script>
<script src="http://code.jquery.com/jquery-migrate-1.2.1.min.js"></script>
<script src="scripts/jquery.jpanelmenu.js"></script>
<script src="scripts/jquery.themepunch.plugins.min.js"></script>
<script src="scripts/jquery.themepunch.revolution.min.js"></script>
<script src="scripts/jquery.themepunch.showbizpro.min.js"></script>
<script src="scripts/jquery.magnific-popup.min.js"></script>
<script src="scripts/hoverIntent.js"></script>
<script src="scripts/superfish.js"></script>
<script src="scripts/jquery.pureparallax.js"></script>
<script src="scripts/jquery.pricefilter.js"></script>
<script src="scripts/jquery.selectric.min.js"></script>
<script src="scripts/jquery.royalslider.min.js"></script>
<script src="scripts/SelectBox.js"></script>
<script src="scripts/modernizr.custom.js"></script>
<script src="scripts/waypoints.min.js"></script>
<script src="scripts/jquery.flexslider-min.js"></script>
<script src="scripts/jquery.counterup.min.js"></script>
<script src="scripts/jquery.tooltips.min.js"></script>
<script src="scripts/jquery.isotope.min.js"></script>
<script src="scripts/puregrid.js"></script>
<script src="scripts/stacktable.js"></script>
<script src="scripts/custom.js"></script>
<script src="scripts/views/header_func.js"></script>

</body>
</html>