<!DOCTYPE html>
<!--[if IE 8 ]>
<html class="ie ie8" lang="en"> <![endif]-->
<!--[if (gte IE 9)|!(IE)]><!-->
<html lang="en"> <!--<![endif]-->
<head>
    <!-- Global Site Tag (gtag.js) - Google Analytics -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=UA-111566442-1"></script>
    <script>
        window.dataLayer = window.dataLayer || [];
        function gtag(){dataLayer.push(arguments);}
        gtag('js', new Date());

        gtag('config', 'UA-111566442-1');
    </script>

    <!-- Basic Page Needs
    ================================================== -->
    <meta charset="utf-8"> <meta name="google-site-verification" content="U-xjdUhtM9-lUJ6bu6AX3hq9Zo3LeN6qOpCbxqRe3IY" />
    <title>Ant Commodity</title>

    <!-- Mobile Specific Metas
    ================================================== -->
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">

    <!-- CSS
    ================================================== -->
    <link rel="stylesheet" href="/css/jquery-ui.css">
    <link rel="stylesheet" href="/css/style.css">
    <link rel="stylesheet" href="/css/colors/blue.css" id="colors">

    <!--[if lt IE 9]>
    <script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
    <![endif]-->

</head>

<body class="boxed">
<div id="wrapper">

    <% include header.ejs %>
<div class="row"></div>
    <div class="container">

        <!-- Sidebar
        ================================================== -->
        <div class="four columns">

            <!-- Categories -->
            <div class="widget margin-top-0">

                <ul id="categories">

                    <li><a href="/user/basic" class="active">Basic Account</a></li>
                    <li><a href="/user/contact">Contact Information</a></li>
                    <li><a href="/user/payment">Payment Information</a></li>
                    <% if(user.is_seller) { %>
                        <li><a href="/user/business">Business Information</a></li>
                    <% } %>
                    <li><a href="/user/inbox">Messages</a></li>
                    <!--<li><a href="/user/notification">Notification Preferences</a></li>-->

                </ul>
                <div class="clearfix"></div>
            </div>

        </div>


        <!-- Content
        ================================================== -->

        <div class="twelve columns products">

            <% if(errorMessage != '') { %>
                <div class="notification error closeable" id="passwordErrorMessage">
                    <p><span>Error!</span> <%= errorMessage %></p>
                    <a class="close" href="#"></a>
                </div>
            <% } %>

            <div class="three columns products centered">
                <div class="two columns" id="imagepreview-div">
                    <input type="hidden" id="userId" value="<%= user.id %>"/>
                    <% if(user.profile_pic != null && user.profile_pic != '' && user.profile_pic != undefined) {%>
                    <img src="/uploads/profile_pic/<%= user.profile_pic %>" alt="" id="profile_pic"/>
                    <% } else { %>
                    <img src="/images/small_product_list_01.jpg" alt="" id="profile_pic"/>
                    <% } %>
                    <a class="popup-with-zoom-anim" style="color:#2db2ea;" id="upload_image">
                        <% if(user.profile_pic != null && user.profile_pic != '' && user.profile_pic != undefined) {%>
                            Change Profile Pic.
                        <% } else { %>
                            Upload Profile Pic.
                        <% } %>
                    </a>
                    <br><br>
                </div>
                <input type="file" name="fileToUpload" id="fileToUpload" style="display: none">
            </div>
            <table class="basic-table" style="">

                <tbody>
                <tr>
                    <td> User Name</td>
                    <td> <%= user.username %></td>
                    <td>
                        <!--<a class="popup-with-zoom-anim" href="#username-edit-dialog" style="color:#2db2ea;">Edit</a><br/>-->

                        <!--<div id="username-edit-dialog" class="small-dialog zoom-anim-dialog mfp-hide">-->
                            <!--<h2 class="margin-bottom-10">Edit User Name</h2>-->
                            <!--<form method="post" name="editform">-->

                                <!--<fieldset>-->

                                    <!--<div class="twelve alpha columns editform">-->
                                        <!--<input name="newusername" type="text" id="newusername" placeholder="New User Name"/>-->
                                    <!--</div>-->

                                    <!--<div class="twelve columns editform">-->
                                        <!--<input type="submit" class="submit" id="submitusername" value="Save"/>-->
                                    <!--</div>-->

                                <!--</fieldset>-->

                                <!--<div class="clearfix"></div>-->
                            <!--</form>-->
                        <!--</div>-->
                    </td>
                </tr>
                <tr>
                    <td> Password</td>
                    <td> ************</td>
                    <td>
                        <a class="popup-with-zoom-anim" href="#password-edit-dialog" style="color:#2db2ea;">Edit</a><br/>

                        <div id="password-edit-dialog" class="small-dialog zoom-anim-dialog mfp-hide">
                            <h2 class="margin-bottom-10">Edit Password</h2>
                            <form method="post" name="editform" action="/api/user/password" id="passwordChangeForm">

                                <fieldset>
                                    <div class="notification error closeable" style="display: none" id="passwordErrorMessage">
                                        <p><span>Error!</span> New Password & Reentered New Password don't match</p>
                                        <a class="close" href="#"></a>
                                    </div>

                                    <input name="id" type="hidden" id="id" value="<%= user.id %>"/>

                                    <div class="twelve alpha columns editform">
                                        <input name="currentpassword" type="password" id="currentpassword" placeholder="Current Password"/>
                                    </div>

                                    <div class="twelve alpha columns editform">
                                        <input name="newpassword" type="password" id="newpassword" placeholder="New Password"/>
                                    </div>

                                    <div class="twelve alpha columns editform">
                                        <input name="newrepassword" type="password" id="newrepassword" placeholder="Reenter Password"/>
                                    </div>

                                    <div class="twelve columns editform">
                                        <input type="submit" class="submit" id="submitpassword" value="Save"/>
                                    </div>

                                </fieldset>

                                <div class="clearfix"></div>
                            </form>
                        </div>
                    </td>
                </tr>
                <tr>
                    <td> Full Name</td>
                    <td> <%= user.full_name %></td>
                    <td>
                        <% if(user.full_name != '' && user.full_name != undefined) { %>
                            <a class="popup-with-zoom-anim" href="#fullname-edit-dialog" style="color:#2db2ea;">Edit</a><br/>
                        <% } else { %>
                            <a class="popup-with-zoom-anim" href="#fullname-edit-dialog" style="color:#2db2ea;">Add</a><br/>
                        <% } %>

                        <div id="fullname-edit-dialog" class="small-dialog zoom-anim-dialog mfp-hide">
                            <h2 class="margin-bottom-10">Edit Full Name</h2>
                            <form method="post" name="editform" action="/api/user/fullname" id="fullnameChangeForm">

                                <fieldset>
                                    <div class="notification error closeable" style="display: none" id="fullnameErrorMessage">
                                        <p><span>Error!</span> Please enter valid Name</p>
                                        <a class="close" href="#"></a>
                                    </div>

                                    <input name="id" type="hidden" id="fullname_userid" value="<%= user.id %>"/>

                                    <div class="twelve alpha columns editform">
                                        <input name="newfullname" type="text" id="newfullname" placeholder="New Full Name"/>
                                    </div>

                                    <div class="twelve columns editform">
                                        <input type="submit" class="submit" id="submitfullname" value="Save"/>
                                    </div>

                                </fieldset>

                                <div class="clearfix"></div>
                            </form>
                        </div>
                    </td>
                </tr>
                <tr>
                    <td> Company Name</td>
                    <td> <%= user.company_name %></td>
                    <td>
                        <% if(user.company_name != '' || user.company_name != undefined) { %>
                        <a class="popup-with-zoom-anim" href="#companyname-edit-dialog" style="color:#2db2ea;">Edit</a><br/>
                        <% } else { %>
                        <a class="popup-with-zoom-anim" href="#companyname-edit-dialog" style="color:#2db2ea;">Add</a><br/>
                        <% } %>

                        <div id="companyname-edit-dialog" class="small-dialog zoom-anim-dialog mfp-hide">
                            <h2 class="margin-bottom-10">Edit Company Name</h2>
                            <form method="post" name="editform" action="/api/user/companyname" id="companynameChangeForm">

                                <fieldset>
                                    <div class="notification error closeable" style="display: none" id="companynameErrorMessage">
                                        <p><span>Error!</span> Please enter valid Comapny Name</p>
                                        <a class="close" href="#"></a>
                                    </div>

                                    <input name="id" type="hidden" id="companyname_userid" value="<%= user.id %>"/>

                                    <div class="twelve alpha columns editform">
                                        <input name="newcompanyname" type="text" id="newcompanyname" placeholder="New Company Name"/>
                                    </div>

                                    <div class="twelve columns editform">
                                        <input type="submit" class="submit" id="submitcompanyname" value="Save"/>
                                    </div>

                                </fieldset>

                                <div class="clearfix"></div>
                            </form>
                        </div>
                    </td>
                </tr>
                <!--<tr>-->
                    <!--<td> Account Deactivate</td>-->
                    <!--<td> </td>-->
                    <!--<td>  <a class="popup-with-zoom-anim" href="#deactivate-dialog" style="color:#2db2ea;">Deactivate</a><br/>-->

                        <!--<div id="deactivate-dialog" class="small-dialog zoom-anim-dialog mfp-hide">-->
                            <!--<h2 class="margin-bottom-10">Deactivate Account</h2>-->
                            <!--<form method="post" name="editform">-->

                                <!--<fieldset>-->

                                    <!--<p>Blah Blah Blah Blah Blah Blah Blah Blah Blah Blah Blah Blah Blah Blah Blah</p>-->

                                    <!--<div class="twelve columns editform">-->
                                        <!--<input type="submit" class="submit" id="submitdeactivation" value="Confirm"/>-->
                                    <!--</div>-->

                                <!--</fieldset>-->

                                <!--<div class="clearfix"></div>-->
                            <!--</form>-->
                        <!--</div>-->
                    <!--</td>-->
                <!--</tr>-->
                </tbody>
            </table>

        </div>

    </div>

    <div class="margin-top-50"></div>

    <!-- Footer
    ================================================== -->
    <% include footer.ejs %>

</div>


<!-- Java Script
================================================== -->
<script src="/scripts/jquery-1.11.0.min.js"></script>
<script src="/scripts/jquery-migrate-1.2.1.min.js"></script>
<script src="/scripts/jquery.jpanelmenu.js"></script>
<script src="/scripts/jquery.themepunch.plugins.min.js"></script>
<script src="/scripts/jquery.themepunch.revolution.min.js"></script>
<script src="/scripts/jquery.themepunch.showbizpro.min.js"></script>
<script src="/scripts/jquery.magnific-popup.min.js"></script>
<script src="/scripts/hoverIntent.js"></script>
<script src="/scripts/superfish.js"></script>
<script src="/scripts/jquery.pureparallax.js"></script>
<script src="/scripts/jquery.pricefilter.js"></script>
<script src="/scripts/jquery.selectric.min.js"></script>
<script src="/scripts/jquery.royalslider.min.js"></script>
<script src="/scripts/SelectBox.js"></script>
<script src="/scripts/modernizr.custom.js"></script>
<script src="/scripts/waypoints.min.js"></script>
<script src="/scripts/jquery.flexslider-min.js"></script>
<script src="/scripts/jquery.counterup.min.js"></script>
<script src="/scripts/jquery.tooltips.min.js"></script>
<script src="/scripts/jquery.isotope.min.js"></script>
<script src="/scripts/puregrid.js"></script>
<script src="/scripts/stacktable.js"></script>
<script src="/scripts/custom.js"></script>
<script src="/scripts/views/useraccountbasic.js"></script>
<script src="/scripts/views/header_func.js"></script>

</body>
</html>