<!DOCTYPE html>
<!--[if IE 8 ]>
<html class="ie ie8" lang="en"> <![endif]-->
<!--[if (gte IE 9)|!(IE)]><!-->
<html lang="en"> <!--<![endif]-->
<head>

    <!-- Basic Page Needs
    ================================================== -->
    <meta charset="utf-8">
    <title>Seller BnB</title>

    <!-- Mobile Specific Metas
    ================================================== -->
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">

    <!-- CSS
    ================================================== -->
    <link rel="stylesheet" href="css/jquery-ui.css">
    <link rel="stylesheet" href="css/style.css">
    <link rel="stylesheet" href="css/colors/blue.css" id="colors">

    <!--[if lt IE 9]>
    <script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
    <![endif]-->

</head>

<body class="boxed">
<div id="wrapper">

    <% include header.ejs %>

    <!-- Titlebar
    ================================================== -->
    <section class="parallax-titlebar fullwidth-element"  data-background="#000" data-opacity="0.2" data-height="160">

        <img src="images/mini-slides/6.jpg" alt="" />
        <div class="parallax-overlay"></div>

        <div class="parallax-content">
            <h2>User Account <span>Contact Details</span></h2>

            <nav id="breadcrumbs">
                <ul>
                    <li>Home</li>
                    <li>Account</li>
                    <li>Contact Details</li>
                </ul>
            </nav>
        </div>
    </section>

    <div class="container">

        <!-- Sidebar
        ================================================== -->
        <div class="four columns">

            <!-- Categories -->
            <div class="widget margin-top-0">

                <ul id="categories">

                    <li><a href="/user/basic">Basic Account</a></li>
                    <li><a href="/user/contact" class="active">Contact Information</a></li>
                    <li><a href="/user/payment">Payment Information</a></li>
                    <li><a href="/user/business">Business Information</a></li>
                    <!--<li><a href="/user/notification">Notification Preferences</a></li>-->

                </ul>
                <div class="clearfix"></div>

            </div>

        </div>


        <!-- Content
        ================================================== -->

        <div class="twelve columns products">

            <% if(errorMessage != '') { %>
            <div class="notification error closeable" id="passwordErrorMessage">
                <p><span>Error!</span> <%= errorMessage %></p>
                <a class="close" href="#"></a>
            </div>
            <% } %>

            <table class="basic-table" style="">

                <tbody>
                <tr>
                    <td> Email Addresses</td>
                    <% var emails = userContactInformation.Emails %>
                    <td>
                        <% for(var emailIndex = 0; emailIndex < emails.length; emailIndex++) {%>
                            <%if(emailIndex < emails.length - 1) { %>
                                <%= emails[emailIndex].email %>
                                <a href="#" style="color:#2db2ea;" class="emailremove">(Remove)</a><br>
                                <form action="/api/user/email/delete" method="post">
                                    <input type="hidden" value="<%= emails[emailIndex].id %>" name="emailId"/>
                                </form>
                            <% } else { %>
                                <%= emails[emailIndex].email %>
                                <a href="#" style="color:#2db2ea;" class="emailremove">(Remove)</a><br>
                                <form action="/api/user/email/delete" method="post">
                                    <input type="hidden" value="<%= emails[emailIndex].id %>" name="emailId"/>
                                </form>
                            <% }  %>
                        <% } %>
                    </td>
                    <td>
                        <a class="popup-with-zoom-anim" href="#email-add-dialog" style="color:#2db2ea;">Add</a><br/>

                        <div id="email-add-dialog" class="small-dialog zoom-anim-dialog mfp-hide">
                            <h2 class="margin-bottom-10">Add Email Address</h2>
                            <form method="post" name="editform" action="/api/user/email/add">

                                <fieldset>

                                    <input name="id" type="hidden" value="<%= user.id %>"/>

                                    <div class="twelve alpha columns editform">
                                        <input name="newemail" type="email" id="newemail" placeholder="New Email Address"/>
                                    </div>

                                    <div class="twelve columns editform">
                                        <input type="submit" class="submit" id="submitnewemail" value="Save"/>
                                    </div>

                                </fieldset>

                                <div class="clearfix"></div>
                            </form>
                        </div>
                    </td>
                </tr>
                <tr>
                    <td> Phone Number</td>
                    <% var phonenumbers = userContactInformation.PhoneNumbers %>
                    <td>
                        <% for(var phoneIndex = 0; phoneIndex < phonenumbers.length; phoneIndex++) {%>
                            <%= phonenumbers[phoneIndex].number %>
                            <a href="#" style="color:#2db2ea;" class="phoneremove">(Remove)</a><br>
                            <form action="/api/user/phone/delete" method="post">
                                <input type="hidden" value="<%= phonenumbers[phoneIndex].id %>" name="phoneId"/>
                            </form>
                        <% } %>
                    </td>
                    <td>
                        <a class="popup-with-zoom-anim" href="#phone-add-dialog" style="color:#2db2ea;">Add</a><br/>

                        <div id="phone-add-dialog" class="small-dialog zoom-anim-dialog mfp-hide">
                            <h2 class="margin-bottom-10">Add Phone Number</h2>
                            <form method="post" name="editform" action="/api/user/phone/add">

                                <fieldset>

                                    <input name="id" type="hidden" value="<%= user.id %>"/>

                                    <div class="twelve alpha columns editform">
                                        <input name="newphone" type="text" id="newphone" placeholder="New Phone Number"/>
                                    </div>

                                    <div class="twelve columns editform">
                                        <input type="submit" class="submit" id="submitnewphone" value="Save"/>
                                    </div>

                                </fieldset>

                                <div class="clearfix"></div>
                            </form>
                        </div>
                    </td>
                </tr>
                <tr>
                    <td> Website</td>
                    <td> <%= userContactInformation.website %></td>
                    <td>
                        <% if(userContactInformation.website != '' && userContactInformation.website != undefined) { %>
                            <a class="popup-with-zoom-anim" href="#website-edit-dialog" style="color:#2db2ea;">Edit</a><br/>
                        <% } else { %>
                            <a class="popup-with-zoom-anim" href="#website-edit-dialog" style="color:#2db2ea;">Add</a><br/>
                        <% } %>

                        <div id="website-edit-dialog" class="small-dialog zoom-anim-dialog mfp-hide">
                            <h2 class="margin-bottom-10">Edit Website</h2>
                            <form method="post" name="editform" action="/api/user/website">

                                <fieldset>

                                    <input name="id" type="hidden" value="<%= user.id %>"/>

                                    <div class="twelve alpha columns editform">
                                        <input name="newwebsite" type="text" id="newwebsite" placeholder="New Website"/>
                                    </div>

                                    <div class="twelve columns editform">
                                        <input type="submit" class="submit" id="submitnewwebsite" value="Save"/>
                                    </div>

                                </fieldset>

                                <div class="clearfix"></div>
                            </form>
                        </div>
                    </td>
                </tr>
                <tr>
                    <td> Mailing Address</td>
                    <% if(user.mailingddress1 != null) {
                        var address = user.mailingddress1;
                        if(user.mailingddress2 != '') {
                            address += ', ' + user.mailingddress2;
                        }
                        if(user.mailingCity != '') {
                            address += ', ' + user.mailingCity;
                        }
                    %>
                    <td> <%= address %></td>
                    <% } else { %>
                    <td></td>
                    <% } %>
                    <td>
                        <% if(user.mailingddress1 != null) { %>
                        <a class="popup-with-zoom-anim" href="#location-edit-dialog" style="color:#2db2ea;">Edit</a><br/>
                        <% } else { %>
                        <a class="popup-with-zoom-anim" href="#location-edit-dialog" style="color:#2db2ea;">Add</a><br/>
                        <% } %>

                        <div id="location-edit-dialog" class="small-dialog zoom-anim-dialog mfp-hide">
                            <h2 class="margin-bottom-10">Edit Location</h2>
                            <form method="post" name="editform" action="/api/user/location" id="locationChangeForm">

                                <fieldset>
                                    <div class="notification error closeable" style="display: none" id="locationErrorMessage">
                                        <p><span>Error!</span> Please enter valid Address</p>
                                        <a class="close" href="#"></a>
                                    </div>

                                    <input name="id" type="hidden" id="location_userid" value="<%= user.id %>"/>

                                    <div class="twelve alpha columns editform">
                                        <input name="newaddress1" type="text" id="newaddress1" placeholder="New Address Line 1"/>
                                    </div>

                                    <div class="twelve alpha columns editform">
                                        <input name="newaddress2" type="text" id="newaddress2" placeholder="New Address Line 2"/>
                                    </div>

                                    <div class="twelve alpha columns editform">
                                        <input name="newcity" type="text" id="newcity" placeholder="New City"/>
                                    </div>

                                    <div class="twelve columns editform">
                                        <input type="submit" class="submit" id="submitlocation" value="Save"/>
                                    </div>

                                </fieldset>

                                <div class="clearfix"></div>
                            </form>
                        </div>
                    </td>
                </tr>
                <tr>
                    <td> Warehouse Address</td>
                    <% var warehouses = userContactInformation.WareHouses %>
                    <td>
                        <% for(var warehouseIndex = 0; warehouseIndex < warehouses.length; warehouseIndex++) {
                            var address = warehouses[warehouseIndex].warehouseAddress1;
                            if(warehouses[warehouseIndex].warehouseAddress2 != '' && warehouses[warehouseIndex].warehouseAddress2 != null) {
                                address += ', ' + warehouses[warehouseIndex].warehouseAddress2;
                            }
                            if(warehouses[warehouseIndex].warehouseCity != '' && warehouses[warehouseIndex].warehouseCity != null) {
                                address += ', ' + warehouses[warehouseIndex].warehouseCity;
                            }
                        %>
                            <%= address %> <a href="#" style="color:#2db2ea;" class="warehouseremove">(Remove)</a><br>
                            <form action="/api/user/warehouse/delete" method="post">
                                <input type="hidden" value="<%= warehouses[warehouseIndex].id %>" name="warehouseId"/>
                            </form>
                        <% } %>
                    </td>
                    <td>
                        <a class="popup-with-zoom-anim" href="#warehouse-add-dialog" style="color:#2db2ea;">Add</a><br/>

                        <div id="warehouse-add-dialog" class="small-dialog zoom-anim-dialog mfp-hide">
                            <h2 class="margin-bottom-10">Add Warehouse Address</h2>
                            <form method="post" name="editform" action="/api/user/warehouse/add">

                                <fieldset>

                                    <input name="id" type="hidden" id="location_userid" value="<%= user.id %>"/>

                                    <div class="twelve alpha columns editform">
                                        <input name="newwarehouseaddress1" type="text" id="newwarehouseaddress1" placeholder="New Address Line 1"/>
                                    </div>

                                    <div class="twelve alpha columns editform">
                                        <input name="newwarehouseaddress2" type="text" id="newwarehouseaddress2" placeholder="New Address Line 2"/>
                                    </div>

                                    <div class="twelve alpha columns editform">
                                        <input name="newwarehousecity" type="text" id="newwarehousecity" placeholder="New City"/>
                                    </div>

                                    <div class="twelve columns editform">
                                        <input type="submit" class="submit" id="submitwarehouseaddress" value="Save"/>
                                    </div>

                                </fieldset>

                                <div class="clearfix"></div>
                            </form>
                        </div>
                    </td>
                </tr>
                </tbody>
            </table>

        </div>

    </div>

    <div class="margin-top-50"></div>

    <!-- Footer
    ================================================== -->
    <% include footer.ejs %>

</div>


<!-- Java Script
================================================== -->
<script src="scripts/jquery-1.11.0.min.js"></script>
<script src="scripts/jquery-migrate-1.2.1.min.js"></script>
<script src="scripts/jquery.jpanelmenu.js"></script>
<script src="scripts/jquery.themepunch.plugins.min.js"></script>
<script src="scripts/jquery.themepunch.revolution.min.js"></script>
<script src="scripts/jquery.themepunch.showbizpro.min.js"></script>
<script src="scripts/jquery.magnific-popup.min.js"></script>
<script src="scripts/hoverIntent.js"></script>
<script src="scripts/superfish.js"></script>
<script src="scripts/jquery.pureparallax.js"></script>
<script src="scripts/jquery.pricefilter.js"></script>
<script src="scripts/jquery.selectric.min.js"></script>
<script src="scripts/jquery.royalslider.min.js"></script>
<script src="scripts/SelectBox.js"></script>
<script src="scripts/modernizr.custom.js"></script>
<script src="scripts/waypoints.min.js"></script>
<script src="scripts/jquery.flexslider-min.js"></script>
<script src="scripts/jquery.counterup.min.js"></script>
<script src="scripts/jquery.tooltips.min.js"></script>
<script src="scripts/jquery.isotope.min.js"></script>
<script src="scripts/puregrid.js"></script>
<script src="scripts/stacktable.js"></script>
<script src="scripts/custom.js"></script>
<script src="scripts/views/useraccountcontactinformation.js"></script>

</body>
</html>