<!DOCTYPE html>
<!--[if IE 8 ]>
<html class="ie ie8" lang="en"> <![endif]-->
<!--[if (gte IE 9)|!(IE)]><!-->
<html lang="en" xmlns="http://www.w3.org/1999/html"> <!--<![endif]-->
<head>

    <!-- Global Site Tag (gtag.js) - Google Analytics -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=UA-107495910-1"></script>
    <script>
      window.dataLayer = window.dataLayer || [];
      function gtag() {
        dataLayer.push(arguments)
      };
      gtag('js', new Date());

      gtag('config', 'UA-107495910-1');
    </script>

    <!-- Basic Page Needs
    ================================================== -->
    <meta charset="utf-8">
    <title>SellBnB</title>

    <!-- Mobile Specific Metas
    ================================================== -->
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">

    <!-- CSS
    ================================================== -->
    <link rel="stylesheet" href="css/style.css">
    <link rel="stylesheet" href="css/colors/blue.css" id="colors">

    <!--[if lt IE 9]>
    <script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
    <![endif]-->

</head>

<body class="boxed">
<div id="wrapper">

    <% include header.ejs %>

    <!-- Titlebar
    ================================================== -->
    <section class="titlebar">
        <div class="container">
            <div class="sixteen columns">
                <h2>User Profile</h2>

                <nav id="breadcrumbs">
                    <ul>
                        <li><a href="#">Home</a></li>
                        <li><a href="#">Products</a></li>
                        <li><a href="#">User Profile</a></li>
                    </ul>
                </nav>
            </div>
        </div>
    </section>

    <!-- Parallax Banner
    ================================================== -->
    <div class="parallax-banner fullwidth-element" data-background="#000" data-opacity="0.4" data-height="200">

        <% if(userPublicInformation.logo != null && userPublicInformation.logo != '' && userPublicInformation.logo != undefined) { %>
        <img src="uploads/logo/<%= userPublicInformation.logo %>" alt="" id="company-logo" style="width: 100%"/>
        <% } else { %>
        <img src="images/parallax_03.jpg" alt="" id="company-logo"/>
        <% } %>
        <div class="parallax-overlay"></div>
        <% if (userPublicInformation.mailingddress1 != null) {
            var address = userPublicInformation.mailingddress1;
            if (userPublicInformation.mailingddress2 != '') {
                address += ', ' + userPublicInformation.mailingddress2;
            }
            if (userPublicInformation.mailingCity != '') {
                address += ', ' + userPublicInformation.mailingCity;
            }
        }
        %>
        <div class="parallax-title"><%= userPublicInformation.company_name %> <span><%= address %></span></div>
    </div>

    <div class="margin-top-40"></div>

    <div class="container">

        <!-- Sidebar
        ================================================== -->
        <div class="four columns">
            <% if(userPublicInformation.profile_pic != null && userPublicInformation.profile_pic != '') { %>
            <img src="uploads/profile_pic/<%= userPublicInformation.profile_pic %>"
                 style="width: 100%;"/>
            <% } else { %>
            <img src="icons/user_profile.png"
                 style="width: 100%"/>
            <% } %>
            <!--contact table-->
            <table class="basic-table">
                <tr>
                    <th>Name</th>
                    <td><%= userPublicInformation.company_name %></td>
                </tr>

                <tr>
                    <th> Warehouse Address</th>
                    <% var warehouses = userContactInformation.WareHouses %>
                    <td>
                        <% for(var warehouseIndex = 0; warehouseIndex < warehouses.length; warehouseIndex++) {
                            var address = warehouses[warehouseIndex].warehouseAddress1;
                            if (warehouses[warehouseIndex].warehouseAddress2 != '' && warehouses[warehouseIndex].warehouseAddress2 != null) {
                                address += ', ' + warehouses[warehouseIndex].warehouseAddress2;
                            }
                            if (warehouses[warehouseIndex].warehouseCity != '' && warehouses[warehouseIndex].warehouseCity != null) {
                                address += ', ' + warehouses[warehouseIndex].warehouseCity;
                            }
                        %>
                        <%= address %>
                        <% } %>
                    </td>
                </tr>

            </table>
            <div class="row">
                <a href="#message-dialog" class="popup-with-zoom-anim button color margin-left-0" style="width: 90%">Send
                    Message</a>
                <div id="message-dialog" class="small-dialog zoom-anim-dialog mfp-hide" style="margin-top: 0px">
                    <h3 class="headline">Send Message</h3><span class="line margin-bottom-25"></span>
                    <div class="clearfix"></div>
                    <!-- Form -->
                    <form id="add-comment" class="add-comment" action="/api/messages/add" method="POST">
                        <fieldset>
                            <input type="hidden" name="returnTo" value="/user/public/userId/<%= userPublicInformation.id %>" />
                            <input type="hidden" name="receiverUserIdFk" value="<%= userPublicInformation.id %>"/>
                            <input type="hidden" name="senderUserIdFk" value="<%= user.id  %>"/>
                            <div class="twelve alpha columns editform">
                                <label>Subject:</label>
                                <input type="text" name="subject" placeholder="Type message subject"/>
                            </div>
                            <div>
                                <label>Message:</label>
                                <textarea cols="20" rows="3" name="message" style="width: 97%"></textarea>
                            </div>
                        </fieldset>

                        <input type="submit" class="button color" value="Send Message" style="width: 100%"/>
                        <div class="clearfix"></div>

                    </form>
                </div>
            </div>
        </div>
        <div class="twelve columns products">
            <p><%- userPublicInformation.companyIntroduction %></p>
        </div>
        <div class="sixteen columns">
            <h3 class="headline">Business Photos</h3>
            <span class="line margin-bottom-0"></span>

            <div class="sixteen columns" style="float: left; display: inline-flex; overflow-x: auto;">
            <% var imgLst = JSON.parse(userPublicInformation.business_images != null && userPublicInformation.business_images != '' ? userPublicInformation.business_images : '[]') %>
            <% for(var x = 0; x < imgLst.length; x++) { %>
            <img style="height: 200px;" src="uploads/businessImages/<%= imgLst[x] %>" alt="">
            <% } %>
            </div>
            <br>
            <br>
        </div>
    </div>
    <div class="container">
        <div class="container margin-top-5">
            <br><br><br>
            <!-- Headline -->
            <div class="sixteen columns">
                <h3 class="headline">Current Listings</h3>
                <span class="line margin-bottom-0"></span>
            </div>

            <!-- Carousel -->
            <div id="new-arrivals" class="showbiz-container sixteen columns">

                <!-- Navigation -->
                <div class="showbiz-navigation">
                    <div id="showbiz_left_2" class="sb-navigation-left"><i class="fa fa-angle-left"></i></div>
                    <div id="showbiz_right_2" class="sb-navigation-right"><i class="fa fa-angle-right"></i></div>
                </div>
                <div class="clearfix"></div>

                <!-- Products -->
                <div class="showbiz" data-left="#showbiz_left_2" data-right="#showbiz_right_2"
                     data-play="#showbiz_play_1">
                    <div class="overflowholder">

                        <ul>
                            <% for(var itemIndex = 0; itemIndex < userPublicCurrentListing.length; itemIndex++) { %>
                            <li>
                                <figure class="product">
                                    <div class="mediaholder">
                                        <a href="/items/id/<%= userPublicCurrentListing[itemIndex].id %>">
                                            <% if(userPublicCurrentListing[itemIndex].ItemImages.length > 0) { %>
                                            <img alt=""
                                                 src="uploads/items/<%= userPublicCurrentListing[itemIndex].ItemImages[0].url %>"
                                                 style="width:280px; height: 280px;"/>
                                            <% } else { %>
                                            <img alt="" src="images/shop_item_01.jpg"
                                                 style="width:280px; height: 280px;"/>
                                            <% } %>
                                            <% if(userPublicCurrentListing[itemIndex].ItemImages.length > 1) { %>
                                            <div class="cover">
                                                <img alt=""
                                                     src="uploads/items/<%= userPublicCurrentListing[itemIndex].ItemImages[1].url %>"
                                                     style="width:280px; height: 280px;"/>
                                            </div>
                                            <% } %>
                                        </a>
                                        <a href="/items/id/<%= userPublicCurrentListing[itemIndex].id %>"
                                           class="product-button"><i class="fa fa-shopping-cart"></i> Make Offer</a>
                                    </div>

                                    <a href="/items/id/<%= userPublicCurrentListing[itemIndex].id %>">
                                        <section>
                                            <span class="product-category"><%= userPublicCurrentListing[itemIndex].Commodity.name %></span>
                                            <span class="product-price"><%= userPublicCurrentListing[itemIndex].suggestedPrice %></span>
                                        </section>
                                    </a>
                                </figure>
                            </li>
                            <% } %>

                        </ul>
                        <div class="clearfix"></div>

                    </div>
                    <div class="clearfix"></div>
                </div>
            </div>
        </div>
    </div>
    <!-- Related Products -->

    <div class="margin-top-50"></div>

    <!-- Footer
    ================================================== -->
    <% include footer.ejs %>

</div>


<!-- Java Script
================================================== -->
<script src="http://code.jquery.com/jquery-1.11.0.min.js"></script>
<script src="http://code.jquery.com/jquery-migrate-1.2.1.min.js"></script>
<script src="scripts/jquery.jpanelmenu.js"></script>
<script src="scripts/jquery.themepunch.plugins.min.js"></script>
<script src="scripts/jquery.themepunch.revolution.min.js"></script>
<script src="scripts/jquery.themepunch.showbizpro.min.js"></script>
<script src="scripts/jquery.magnific-popup.min.js"></script>
<script src="scripts/hoverIntent.js"></script>
<script src="scripts/superfish.js"></script>
<script src="scripts/jquery.pureparallax.js"></script>
<script src="scripts/jquery.pricefilter.js"></script>
<script src="scripts/jquery.selectric.min.js"></script>
<script src="scripts/jquery.royalslider.min.js"></script>
<script src="scripts/SelectBox.js"></script>
<script src="scripts/modernizr.custom.js"></script>
<script src="scripts/waypoints.min.js"></script>
<script src="scripts/jquery.flexslider-min.js"></script>
<script src="scripts/jquery.counterup.min.js"></script>
<script src="scripts/jquery.tooltips.min.js"></script>
<script src="scripts/jquery.isotope.min.js"></script>
<script src="scripts/puregrid.js"></script>
<script src="scripts/stacktable.js"></script>
<script src="scripts/custom.js"></script>
<script src="scripts/views/userprofile.js"></script>
<script src="scripts/views/header_func.js"></script>

</body>
</html>