<!DOCTYPE html>
<!--[if IE 8 ]>
<html class="ie ie8" lang="en"> <![endif]-->
<!--[if (gte IE 9)|!(IE)]><!-->
<html lang="en"> <!--<![endif]-->
<head>
    <!-- Global Site Tag (gtag.js) - Google Analytics -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=UA-107495910-1"></script>
    <script>
        window.dataLayer = window.dataLayer || [];
        function gtag(){dataLayer.push(arguments)};
        gtag('js', new Date());

        gtag('config', 'UA-107495910-1');
    </script>

    <%
    if (typeof(message)== undefined)
        var message = "";
    %>
    <!-- Basic Page Needs
    ================================================== -->
    <meta charset="utf-8">
    <title>Ant Commodity</title>

    <!-- Mobile Specific Metas
    ================================================== -->
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">

    <!-- CSS
    ================================================== -->
    <link rel="stylesheet" href="https://ajax.googleapis.com/ajax/libs/jqueryui/1.11.0/themes/smoothness/jquery-ui.css">
    <link rel="stylesheet" href="/css/style.css">
    <link rel="stylesheet" href="/css/colors/blue.css" id="colors">

    <!--[if lt IE 9]>
    <script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
    <![endif]-->

</head>

<body class="boxed">
<div id="wrapper">

    <% include header.ejs %>

<div class="row"></div>
    <div class="container">


        <div class="container">
            <div class="fourteen columns centered">
                <!-- Tabs Navigation -->
                <ul class="tabs-nav">
                    <li id="tab_1"><a href="#tab1">Open</a></li>
                    <li id="tab_2"><a href="#tab2">Pending</a></li>
                    <li id="tab_3"><a href="#tab3">Cancelled</a></li>
                </ul>

                <!-- Tabs Content -->
                <div class="tabs-container">

                    <div class="tab-content" id="tab1">
                        <div>
                            <form action="/user/sell/list/start/0,0,0" method = "GET" id="open_duration_form">
                                <input type="hidden" name="sellingpageItemOption" value="Open"/>
                                <input type="hidden" name="pendingDurationOption" value="1"/>
                                <input type="hidden" name="cancelledDurationOption" value="1"/>
                                Your have <%= sellingListOpen.length %> items in
                                <select class="orderby" name="openDurationOption" id="filter_options_open">
                                    <% if(filterParamerOpen == '1') {%>
                                    <option selected value="1">Last Month</option>
                                    <option value="6">Last Six Months</option>
                                    <option value="12">Last Year</option>
                                    <option value="0">From Beginning</option>
                                    <% } %>
                                    <% if(filterParamerOpen == '6') {%>
                                    <option value="1">Last Month</option>
                                    <option selected value="6">Last Six Months</option>
                                    <option value="12">Last Year</option>
                                    <option value="0">From Beginning</option>
                                    <% } %>
                                    <% if(filterParamerOpen == '12') {%>
                                    <option value="1">Last Month</option>
                                    <option value="6">Last Six Months</option>
                                    <option selected value="12">Last Year</option>
                                    <option value="0">From Beginning</option>
                                    <% } %>
                                    <% if(filterParamerOpen == '0') {%>
                                    <option value="1">Last Month</option>
                                    <option value="6">Last Six Months</option>
                                    <option value="12">Last Year</option>
                                    <option selected value="0">From Beginning</option>
                                    <% } %>
                                </select>
                            </form>
                        </div>
                        <div class="fourteen columns products centered">
                            <% if(sellingListOpen.length == 0) {%>
                                <br><br>
                                <div align="center"><h3>No Items to display. Check other sections.</h3></div>
                            <% } %>
                            <% for(var itemIndex = 0; itemIndex < sellingListOpen.length; itemIndex++) {
                                var item = sellingListOpen[itemIndex];
                                var biddingDetails = biddingDetailListOpen[itemIndex];
                                var maxBid = 0;
                                var currency = '';
                                var maxBidIndex = -1;
                                if((biddingDetails != undefined && biddingDetails != null) && biddingDetails.length > 0) {
                                    for(var bidIndex = 0; bidIndex < biddingDetails.length; bidIndex++) {
                                        var bid = biddingDetails[bidIndex].bid.split(" ")[1];
                                        if(parseFloat(bid) > maxBid) {
                                            maxBid = parseFloat(bid);
                                            currency = biddingDetails[bidIndex].bid.split(" ")[0];
                                            maxBidIndex = bidIndex;
                                        }
                                    }
                                }
                                var formattedCreatedTime = item.createdAt.split('T')[1].split(".");
                            %>
                            <!-- Selling Items -->
                            <div class="item-selling-div fourteen columns">
                                <div class="item-selling-div">
                                    <div class="three columns">
                                        <% if(item.ItemImages.length > 0) {%>
                                        <img src="/uploads/items/<%= item.ItemImages[0].url %>"/>
                                        <% } %>
                                    </div>
                                    <div class="six columns">
                                        <h3><%= item.title %></h3>
                                        <p> Commodity Name: <%= item.Commodity.name %><br>
                                            <%if(maxBidIndex != -1) {%>
                                                Max Bid: <%= currency+" "+maxBid %> by <a href="/user/public/userId/<%= biddingDetails[maxBidIndex].UserId %>"> <%= biddingDetails[maxBidIndex].username %></a><br>
                                            <% } %>
                                            Status: Contract Created <br>
                                            <% if(remainingTimesOpen[itemIndex][0] != 0) {
                                                var remainingTime = remainingTimesOpen[itemIndex][0];
                                                var numdays = Math.floor(remainingTime / 86400);
                                                var numhours = Math.floor((remainingTime % 86400) / 3600);
                                                var numminutes = Math.floor(((remainingTime % 86400) % 3600) / 60);
                                                var numseconds = Math.floor(((remainingTime % 86400) % 3600) % 60);

                                                var formattedTime = "";
                                                formattedTime = numdays != 0 ? (formattedTime += numdays + " days ") : formattedTime;
                                                formattedTime = numhours != 0 ? (formattedTime += numhours + " hrs ") : formattedTime;
                                                formattedTime = numminutes != 0 ? (formattedTime += numminutes + " mins ") : formattedTime;
                                                formattedTime = numseconds != 0 ? (formattedTime += numseconds + " secs ") : formattedTime;
                                            %>
                                            <%= 'Time Left: '+formattedTime %><br>
                                            <% } else {%>
                                            <%= 'Bidding Closed At: ' + remainingTimesOpen[itemIndex][2] %><br>
                                            <% } %>
                                            Listed Date: <%= item.createdAt.split('T')[0]+" "+formattedCreatedTime[0] %><br>
                                        </p>
                                    </div>
                                    <a class="popup-with-zoom-anim" href="#fullname-edit-dialog" id="action-modal"
                                       style="color:#2db2ea; display: none">Action Modal</a><br/>
                                    <div id="fullname-edit-dialog" class="small-dialog zoom-anim-dialog mfp-hide">
                                        <h2 class="margin-bottom-10" id="action-heading"></h2>
                                        <form method="POST" name="editform" action="/api/items/update/status">
                                            <p id="action-description"></p>
                                            <fieldset>
                                                <div class="twelve columns editform">
                                                    <input type="hidden" name="action" id="actionToSubmit" />
                                                    <input type="hidden" name="itemId" value="<%= item.id %>" />
                                                    <input type="submit" class="submit" value="Yes"/>
                                                </div>
                                            </fieldset>
                                            <div class="clearfix"></div>
                                        </form>
                                    </div>
                                    <div class="four columns" style="float:right">
                                        <form action="/user/sell/bids/start/0" method="get">
                                            <input type="hidden" name="itemId" value="<%= item.id %>"/>
                                            <input type="submit" class="item-selling-btn" value="View Bidding Details"/>
                                        </form>
                                        <!--<form action="/user/sell/edit" method="get">-->
                                            <!--<input type="hidden" name="itemId" value=""/>-->
                                            <!--<input type="submit" class="item-selling-btn" value="     Edit Item Details    "/>-->
                                        <!--</form>-->
                                    </div>
                                </div>
                            </div>

                            <span class="line" style="margin-top:10px;margin-bottom: 0px"></span><div class="clearfix"></div>
                            <% } %>


                            <div class="clearfix"></div>

                            <!-- Pagination -->
                            <div class="pagination-container">
                                <nav class="pagination">
                                    <ul>
                                        <%
                                        var pageOne = (pageMultipationFactorOpen * 10) + 1;
                                        var pageTwo = (pageMultipationFactorOpen * 10) + 2;
                                        var pageThree = (pageMultipationFactorOpen * 10) + 3;
                                        %>
                                        <% if(maxPageCountOpen >= pageOne) {%>
                                        <li>
                                            <a href="/user/sell/list/start/<%= (pageOne-1) * 10 %>,0,0?sellingpageItemOption=Open&openDurationOption=<%= filterParamerOpen %>&pendingDurationOption=1&cancelledDurationOption=1" <% if(pageOne === currentPageNumberOpen) { %>class="current-page"<% } %>>
                                                <%= pageOne %>
                                            </a>
                                        </li>
                                        <% } %>
                                        <% if(maxPageCountOpen >= pageTwo) {%>
                                        <li>
                                            <a href="/user/sell/list/start/<%= (pageTwo-1) * 10 %>,0,0?sellingpageItemOption=Open&openDurationOption=<%= filterParamerOpen %>&pendingDurationOption=1&cancelledDurationOption=1" <% if(pageTwo === currentPageNumberOpen) { %>class="current-page"<% } %>>
                                                <%= pageTwo %>
                                            </a>
                                        </li>
                                        <% } %>
                                        <% if(maxPageCountOpen >= pageThree) {%>
                                        <li>
                                            <a href="/user/sell/list/start/<%= (pageThree-1) * 10 %>,0,0?sellingpageItemOption=Open&openDurationOption=<%= filterParamerOpen %>&pendingDurationOption=1&cancelledDurationOption=1" <% if(pageThree === currentPageNumberOpen) { %>class="current-page"<% } %>>
                                                <%= pageThree %>
                                            </a>
                                        </li>
                                        <% } %>
                                    </ul>
                                </nav>

                                <nav class="pagination-next-prev">
                                    <ul>
                                        <% if(0 < pageMultipationFactorOpen) {%>
                                        <li><a href="/user/sell/list/start/<%= (pageMultipationFactorOpen - 1) * 30 %>,0,0?sellingpageItemOption=Open&openDurationOption=<%= filterParamerOpen %>&pendingDurationOption=1&cancelledDurationOption=1" class="prev"></a></li>
                                        <% } %>
                                        <% if(maxPageCountOpen >= (pageMultipationFactorOpen * 10) + 4) {%>
                                        <li><a href="/user/sell/list/start/<%= (pageMultipationFactorOpen + 1) * 30 %>,0,0?sellingpageItemOption=Open&openDurationOption=<%= filterParamerOpen %>&pendingDurationOption=1&cancelledDurationOption=1" class="next"></a></li>
                                        <% } %>
                                    </ul>
                                </nav>
                            </div>

                        </div>
                    </div>

                    <div class="tab-content" id="tab2">
                        <div>
                            <form action="/user/sell/list/start/0,0,0" method = "GET" id="pending_duration_form">
                                <input type="hidden" name="sellingpageItemOption" value="Pending"/>
                                <input type="hidden" name="openDurationOption" value="1"/>
                                <input type="hidden" name="cancelledDurationOption" value="1"/>
                                Your have <%= sellingListPending.length %> items in
                                <select class="orderby" name="pendingDurationOption" id="filter_options_pending">
                                    <% if(filterParamerPending == '1') {%>
                                    <option selected value="1">Last Month</option>
                                    <option value="6">Last Six Months</option>
                                    <option value="12">Last Year</option>
                                    <option value="0">From Beginning</option>
                                    <% } %>
                                    <% if(filterParamerPending == '6') {%>
                                    <option value="1">Last Month</option>
                                    <option selected value="6">Last Six Months</option>
                                    <option value="12">Last Year</option>
                                    <option value="0">From Beginning</option>
                                    <% } %>
                                    <% if(filterParamerPending == '12') {%>
                                    <option value="1">Last Month</option>
                                    <option value="6">Last Six Months</option>
                                    <option selected value="12">Last Year</option>
                                    <option value="0">From Beginning</option>
                                    <% } %>
                                    <% if(filterParamerPending == '0') {%>
                                    <option value="1">Last Month</option>
                                    <option value="6">Last Six Months</option>
                                    <option value="12">Last Year</option>
                                    <option selected value="0">From Beginning</option>
                                    <% } %>
                                </select>
                            </form>
                        </div>

                        <div class="fourteen columns products centered">
                            <% if(sellingListPending.length == 0) {%>
                            <br><br>
                            <div align="center"><h3>No Items to display. Check other sections.</h3></div>
                            <% } %>
                            <% for(var itemIndex = 0; itemIndex < sellingListPending.length; itemIndex++) {
                                var item = sellingListPending[itemIndex];
                                var biddingDetails = biddingDetailListPending[itemIndex];
                                var maxBid = 0;
                                var currency = '';
                                var maxBidIndex = -1;
                                if((biddingDetails != undefined && biddingDetails != null) && biddingDetails.length > 0) {
                                    for(var bidIndex = 0; bidIndex < biddingDetails.length; bidIndex++) {
                                        var bid = biddingDetails[bidIndex].bid.split(" ")[1];
                                        if(parseFloat(bid) > maxBid) {
                                            maxBid = parseFloat(bid);
                                            currency = biddingDetails[bidIndex].bid.split(" ")[0];
                                            maxBidIndex = bidIndex;
                                        }
                                    }
                                }
                                var formattedCreatedTime = item.createdAt.split('T')[1].split(".");
                            %>
                            <!-- Selling Items -->
                            <div class="item-selling-div fourteen columns">
                                <div class="item-selling-div">
                                    <div class="three columns">
                                        <% if(item.ItemImages.length > 0) {%>
                                        <img src="/uploads/items/<%= item.ItemImages[0].url %>"/>
                                        <% } %>
                                    </div>
                                    <div class="six columns">
                                        <h3><%= item.title %></h3>
                                        <p>Commodity Name: <%= item.Commodity.name %><br>
                                            <%if(maxBidIndex != -1) {%>
                                                Max Bid: <%= currency+" "+maxBid %> by <a href="/user/public/userId/<%= biddingDetails[maxBidIndex].UserId %>"> <%= biddingDetails[maxBidIndex].username %></a><br>
                                            <% } %>
                                            <% if(remainingTimesPending[itemIndex][0] != 0) {
                                                var remainingTime = remainingTimesPending[itemIndex][0];
                                                var numdays = Math.floor(remainingTime / 86400);
                                                var numhours = Math.floor((remainingTime % 86400) / 3600);
                                                var numminutes = Math.floor(((remainingTime % 86400) % 3600) / 60);
                                                var numseconds = Math.floor(((remainingTime % 86400) % 3600) % 60);

                                                var formattedTime = "";
                                                formattedTime = numdays != 0 ? (formattedTime += numdays + " days ") : formattedTime;
                                                formattedTime = numhours != 0 ? (formattedTime += numhours + " hrs ") : formattedTime;
                                                formattedTime = numminutes != 0 ? (formattedTime += numminutes + " mins ") : formattedTime;
                                                formattedTime = numseconds != 0 ? (formattedTime += numseconds + " secs ") : formattedTime;
                                            %>
                                            <%= 'Time Left: '+formattedTime %><br>
                                            Status:  Active Bidding <br>
                                            <% } else {%>
                                            <%= 'Bidding Closed At: ' + remainingTimesPending[itemIndex][2] %><br>
                                            Status:  Select the winning bid<br>
                                            <% } %>
                                            Listed Date: <%= item.createdAt.split('T')[0]+" "+formattedCreatedTime[0] %><br>
                                        </p>
                                    </div>
                                    <a class="popup-with-zoom-anim" href="#fullname-edit-dialog" id="action-modal"
                                       style="color:#2db2ea; display: none">Action Modal</a><br/>
                                    <div id="fullname-edit-dialog" class="small-dialog zoom-anim-dialog mfp-hide">
                                        <h2 class="margin-bottom-10" id="action-heading"></h2>
                                        <form method="POST" name="editform" action="/api/items/update/status">
                                            <p id="action-description"></p>
                                            <fieldset>
                                                <div class="twelve columns editform">
                                                    <input type="hidden" name="action" id="actionToSubmit" />
                                                    <input type="hidden" name="itemId" value="<%= item.id %>" />
                                                    <input type="submit" class="submit" value="Yes"/>
                                                </div>
                                            </fieldset>
                                            <div class="clearfix"></div>
                                        </form>
                                    </div>
                                    <div class="four columns" style="float:right">
                                        <form action="/user/sell/bids/start/0" method="get">
                                            <input type="hidden" name="itemId" value="<%= item.id %>"/>
                                            <input type="submit" class="item-selling-btn" value="View Bidding Details"/>
                                        </form>
                                    </div>
                                </div>
                            </div>

                            <span class="line" style="margin-top:10px;margin-bottom: 0px"></span><div class="clearfix"></div>
                            <% } %>


                            <div class="clearfix"></div>

                            <!-- Pagination -->
                            <div class="pagination-container">
                                <nav class="pagination">
                                    <ul>
                                        <%
                                        var pageOne = (pageMultipationFactorPending * 10) + 1;
                                        var pageTwo = (pageMultipationFactorPending * 10) + 2;
                                        var pageThree = (pageMultipationFactorPending * 10) + 3;
                                        %>
                                        <% if(maxPageCountPending >= pageOne) {%>
                                        <li>
                                            <a href="/user/sell/list/start/0,<%= (pageOne-1) * 10 %>,0?sellingpageItemOption=Pending&openDurationOption=1&pendingDurationOption=<%= filterParamerPending %>&cancelledDurationOption=1" <% if(pageOne === currentPageNumberPending) { %>class="current-page"<% } %>>
                                                <%= pageOne %>
                                            </a>
                                        </li>
                                        <% } %>
                                        <% if(maxPageCountPending >= pageTwo) {%>
                                        <li>
                                            <a href="/user/sell/list/start/0,<%= (pageTwo-1) * 10 %>,0?sellingpageItemOption=Pending&openDurationOption=1&pendingDurationOption=<%= filterParamerPending %>&cancelledDurationOption=1" <% if(pageTwo === currentPageNumberPending) { %>class="current-page"<% } %>>
                                                <%= pageTwo %>
                                            </a>
                                        </li>
                                        <% } %>
                                        <% if(maxPageCountPending >= pageThree) {%>
                                        <li>
                                            <a href="/user/sell/list/start/0,<%= (pageThree-1) * 10 %>,0?sellingpageItemOption=Pending&openDurationOption=1&pendingDurationOption=<%= filterParamerPending %>&cancelledDurationOption=1" <% if(pageThree === currentPageNumberPending) { %>class="current-page"<% } %>>
                                                <%= pageThree %>
                                            </a>
                                        </li>
                                        <% } %>
                                    </ul>
                                </nav>

                                <nav class="pagination-next-prev">
                                    <ul>
                                        <% if(0 < pageMultipationFactorPending) {%>
                                        <li><a href="/user/sell/list/start/0,<%= (pageThree-1) * 10 %>,0?sellingpageItemOption=Pending&openDurationOption=1&pendingDurationOption=<%= filterParamerPending %>&cancelledDurationOption=1" class="prev"></a></li>
                                        <% } %>
                                        <% if(maxPageCountPending >= (pageMultipationFactorPending * 10) + 4) {%>
                                        <li><a href="/user/sell/list/start/0,<%= (pageThree-1) * 10 %>,0?sellingpageItemOption=Pending&openDurationOption=1&pendingDurationOption=<%= filterParamerPending %>&cancelledDurationOption=1" class="next"></a></li>
                                        <% } %>
                                    </ul>
                                </nav>
                            </div>

                        </div>

                    </div>

                    <div class="tab-content" id="tab3">
                        <div>
                            <form action="/user/sell/list/start/0,0,0" method = "GET" id="pending_duration_form">
                                <input type="hidden" name="sellingpageItemOption" value="Cancelled"/>
                                <input type="hidden" name="openDurationOption" value="1"/>
                                <input type="hidden" name="cancelledDurationOption" value="1"/>
                                Your have <%= sellingListCancelled.length %> items in
                                <select class="orderby" name="pendingDurationOption" id="filter_options_pending">
                                    <% if(filterParamerCancelled == '1') {%>
                                    <option selected value="1">Last Month</option>
                                    <option value="6">Last Six Months</option>
                                    <option value="12">Last Year</option>
                                    <option value="0">From Beginning</option>
                                    <% } %>
                                    <% if(filterParamerCancelled == '6') {%>
                                    <option value="1">Last Month</option>
                                    <option selected value="6">Last Six Months</option>
                                    <option value="12">Last Year</option>
                                    <option value="0">From Beginning</option>
                                    <% } %>
                                    <% if(filterParamerCancelled == '12') {%>
                                    <option value="1">Last Month</option>
                                    <option value="6">Last Six Months</option>
                                    <option selected value="12">Last Year</option>
                                    <option value="0">From Beginning</option>
                                    <% } %>
                                    <% if(filterParamerCancelled == '0') {%>
                                    <option value="1">Last Month</option>
                                    <option value="6">Last Six Months</option>
                                    <option value="12">Last Year</option>
                                    <option selected value="0">From Beginning</option>
                                    <% } %>
                                </select>
                            </form>
                        </div>

                        <div class="fourteen columns products centered">
                            <% if(sellingListCancelled.length == 0) {%>
                            <br><br>
                            <div align="center"><h3>No Items to display. Check other sections.</h3></div>
                            <% } %>
                            <% for(var itemIndex = 0; itemIndex < sellingListCancelled.length; itemIndex++) {
                                var item = sellingListCancelled[itemIndex];
                                var biddingDetails = biddingDetailListCancelled[itemIndex];
                                var maxBid = 0;
                                var currency = '';
                                var maxBidIndex = -1;
                                if((biddingDetails != undefined && biddingDetails != null) && biddingDetails.length > 0) {
                                    for(var bidIndex = 0; bidIndex < biddingDetails.length; bidIndex++) {
                                        var bid = biddingDetails[bidIndex].bid.split(" ")[1];
                                        if(parseFloat(bid) > maxBid) {
                                            maxBid = parseFloat(bid);
                                            currency = biddingDetails[bidIndex].bid.split(" ")[0];
                                            maxBidIndex = bidIndex;
                                        }
                                    }
                                }
                                var formattedCreatedTime = item.createdAt.split('T')[1].split(".");
                            %>
                            <!-- Selling Items -->
                            <div class="item-selling-div fourteen columns">
                                <div class="item-selling-div">
                                    <div class="three columns">
                                        <% if(item.ItemImages.length > 0) {%>
                                        <img src="/uploads/items/<%= item.ItemImages[0].url %>"/>
                                        <% } %>
                                    </div>
                                    <div class="six columns">
                                        <h3><%= item.title %></h3>
                                        <p>Commodity Name: <%= item.Commodity.name %><br>
                                            <%if(maxBidIndex != -1) {%>
                                                Max Bid: <%= currency+" "+maxBid %> by <a href="/user/public/userId/<%= biddingDetails[maxBidIndex].UserId %>"> <%= biddingDetails[maxBidIndex].username %></a><br>
                                            <% } %>
                                            Status: Mutual Cancellation <br>
                                            <% if(remainingTimesCancelled[itemIndex][0] != 0) {
                                                var remainingTime = remainingTimesCancelled[itemIndex][0];
                                                var numdays = Math.floor(remainingTime / 86400);
                                                var numhours = Math.floor((remainingTime % 86400) / 3600);
                                                var numminutes = Math.floor(((remainingTime % 86400) % 3600) / 60);
                                                var numseconds = Math.floor(((remainingTime % 86400) % 3600) % 60);

                                                var formattedTime = "";
                                                formattedTime = numdays != 0 ? (formattedTime += numdays + " days ") : formattedTime;
                                                formattedTime = numhours != 0 ? (formattedTime += numhours + " hrs ") : formattedTime;
                                                formattedTime = numminutes != 0 ? (formattedTime += numminutes + " mins ") : formattedTime;
                                                formattedTime = numseconds != 0 ? (formattedTime += numseconds + " secs ") : formattedTime;
                                            %>
                                            <%= 'Time Left: '+formattedTime %><br>
                                            <% } else {%>
                                            <%= 'Bidding Closed At: ' + remainingTimesCancelled[itemIndex][2] %><br>
                                            <% } %>
                                            Listed Date: <%= item.createdAt.split('T')[0]+" "+formattedCreatedTime[0] %><br>
                                        </p>
                                    </div>
                                    <a class="popup-with-zoom-anim" href="#fullname-edit-dialog" id="action-modal"
                                       style="color:#2db2ea; display: none">Action Modal</a><br/>
                                    <div id="fullname-edit-dialog" class="small-dialog zoom-anim-dialog mfp-hide">
                                        <h2 class="margin-bottom-10" id="action-heading"></h2>
                                        <form method="POST" name="editform" action="/api/items/update/status">
                                            <p id="action-description"></p>
                                            <fieldset>
                                                <div class="twelve columns editform">
                                                    <input type="hidden" name="action" id="actionToSubmit" />
                                                    <input type="hidden" name="itemId" value="<%= item.id %>" />
                                                    <input type="submit" class="submit" value="Yes"/>
                                                </div>
                                            </fieldset>
                                            <div class="clearfix"></div>
                                        </form>
                                    </div>
                                    <div class="four columns" style="float:right">
                                        <form action="/user/sell/bids/start/0" method="get">
                                            <input type="hidden" name="itemId" value="<%= item.id %>"/>
                                            <input type="submit" class="item-selling-btn" value="View Bidding Details"/>
                                        </form>
                                    </div>
                                </div>
                            </div>

                            <span class="line" style="margin-top:10px;margin-bottom: 0px"></span><div class="clearfix"></div>
                            <% } %>


                            <div class="clearfix"></div>

                            <!-- Pagination -->
                            <div class="pagination-container">
                                <nav class="pagination">
                                    <ul>
                                        <%
                                        var pageOne = (pageMultipationFactorCancelled * 10) + 1;
                                        var pageTwo = (pageMultipationFactorCancelled * 10) + 2;
                                        var pageThree = (pageMultipationFactorCancelled * 10) + 3;
                                        %>
                                        <% if(maxPageCountCancelled >= pageOne) {%>
                                        <li>
                                            <a href="/user/sell/list/start/0,0,<%= (pageOne-1) * 10 %>?sellingpageItemOption=Cancelled&openDurationOption=1&pendingDurationOption=1&cancelledDurationOption=<%= filterParamerCancelled %>" <% if(pageOne === currentPageNumberCancelled) { %>class="current-page"<% } %>>
                                                <%= pageOne %>
                                            </a>
                                        </li>
                                        <% } %>
                                        <% if(maxPageCountCancelled >= pageTwo) {%>
                                        <li>
                                            <a href="/user/sell/list/start/0,0,<%= (pageTwo-1) * 10 %>?sellingpageItemOption=Cancelled&openDurationOption=1&pendingDurationOption=1&cancelledDurationOption=<%= filterParamerCancelled %>" <% if(pageTwo === currentPageNumberCancelled) { %>class="current-page"<% } %>>
                                                <%= pageTwo %>
                                            </a>
                                        </li>
                                        <% } %>
                                        <% if(maxPageCountCancelled >= pageThree) {%>
                                        <li>
                                            <a href="/user/sell/list/start/0,0,<%= (pageThree-1) * 10 %>?sellingpageItemOption=Cancelled&openDurationOption=1&pendingDurationOption=1&cancelledDurationOption=<%= filterParamerCancelled %>" <% if(pageThree === currentPageNumberCancelled) { %>class="current-page"<% } %>>
                                                <%= pageThree %>
                                            </a>
                                        </li>
                                        <% } %>
                                    </ul>
                                </nav>

                                <nav class="pagination-next-prev">
                                    <ul>
                                        <% if(0 < pageMultipationFactorCancelled) {%>
                                        <li><a href="/user/sell/list/start/0,0,<%= (pageThree-1) * 10 %>?sellingpageItemOption=Cancelled&openDurationOption=1&pendingDurationOption=1&cancelledDurationOption=<%= filterParamerCancelled %>" class="prev"></a></li>
                                        <% } %>
                                        <% if(maxPageCountCancelled >= (pageMultipationFactorCancelled * 10) + 4) {%>
                                        <li><a href="/user/sell/list/start/0,0,<%= (pageThree-1) * 10 %>?sellingpageItemOption=Cancelled&openDurationOption=1&pendingDurationOption=1&cancelledDurationOption=<%= filterParamerCancelled %>" class="next"></a></li>
                                        <% } %>
                                    </ul>
                                </nav>
                            </div>

                        </div>
                    </div>
                </div>
            </div>
        </div>

        <!-- Content
        ================================================== -->
        <!--<div class="twelve columns">-->

            <!--&lt;!&ndash; Search &ndash;&gt;-->
            <!--<div class="item-search">-->
                <!--<form action="#" method="get">-->
                    <!--<button><i class="fa fa-search"></i></button>-->
                    <!--<input class="search-field" type="text" placeholder="Search" value="" size="5" maxlength="4"/>-->
                <!--</form>-->
            <!--</div>-->

        <!--</div>-->



    </div>

    <div class="margin-top-50"></div>

    <!-- Footer
    ================================================== -->
    <% include footer.ejs%>

</div>


<!-- Java Script
================================================== -->
<script src="https://code.jquery.com/jquery-1.11.0.min.js"></script>
<script src="/scripts/views/useraccountselling.js"></script>
<script src="https://code.jquery.com/jquery-migrate-1.2.1.min.js"></script>
<script src="/scripts/jquery.jpanelmenu.js"></script>
<script src="/scripts/jquery.themepunch.plugins.min.js"></script>
<script src="/scripts/jquery.themepunch.revolution.min.js"></script>
<script src="/scripts/jquery.themepunch.showbizpro.min.js"></script>
<script src="/scripts/jquery.magnific-popup.min.js"></script>
<script src="/scripts/hoverIntent.js"></script>
<script src="/scripts/superfish.js"></script>
<script src="/scripts/jquery.pureparallax.js"></script>
<script src="/scripts/jquery.pricefilter.js"></script>
<script src="/scripts/jquery.selectric.min.js"></script>
<script src="/scripts/jquery.royalslider.min.js"></script>
<script src="/scripts/SelectBox.js"></script>
<script src="/scripts/modernizr.custom.js"></script>
<script src="/scripts/waypoints.min.js"></script>
<script src="/scripts/jquery.flexslider-min.js"></script>
<script src="/scripts/jquery.counterup.min.js"></script>
<script src="/scripts/jquery.tooltips.min.js"></script>
<script src="/scripts/jquery.isotope.min.js"></script>
<script src="/scripts/puregrid.js"></script>
<script src="/scripts/stacktable.js"></script>
<script src="/scripts/custom.js"></script>
<script src="https://ajax.googleapis.com/ajax/libs/jqueryui/1.11.0/jquery-ui.min.js"></script>
<script src="/scripts/views/header_func.js"></script>

<script>
    $(document).ready(function() {
        $("#from").datepicker();
        $("#to").datepicker();
    });
</script>

</body>
</html>