<!DOCTYPE html>
<!--[if IE 8 ]>
<html class="ie ie8" lang="en"> <![endif]-->
<!--[if (gte IE 9)|!(IE)]><!-->
<html lang="en"> <!--<![endif]-->
<head>

    <!-- Global Site Tag (gtag.js) - Google Analytics -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=UA-107495910-1"></script>
    <script>
      window.dataLayer = window.dataLayer || [];
      function gtag() {
        dataLayer.push(arguments)
      };
      gtag('js', new Date());

      gtag('config', 'UA-107495910-1');
    </script>
    <!-- Include Editor style. -->
    <link href='https://cdnjs.cloudflare.com/ajax/libs/froala-editor/2.7.1/css/froala_editor.min.css' rel='stylesheet'
          type='text/css'/>
    <link href='https://cdnjs.cloudflare.com/ajax/libs/froala-editor/2.7.1/css/froala_style.min.css' rel='stylesheet'
          type='text/css'/>

    <link rel="stylesheet" href="scripts/froalaEditor/colors.css">
    <link rel="stylesheet" href="scripts/froalaEditor/quick_insert.min.css">
    <!-- Basic Page Needs
    ================================================== -->
    <meta charset="utf-8">
    <title>SellBnB</title>

    <!-- Mobile Specific Metas
    ================================================== -->
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">

    <!-- CSS
    ================================================== -->
    <link rel="stylesheet" href="https://ajax.googleapis.com/ajax/libs/jqueryui/1.11.0/themes/smoothness/jquery-ui.css">
    <link rel="stylesheet" href="css/style.css">
    <link rel="stylesheet" href="css/colors/blue.css" id="colors">

    <!--[if lt IE 9]>
    <script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
    <![endif]-->

</head>

<body class="boxed">
<div id="wrapper">

    <% include header.ejs %>

    <!-- Titlebar
    ================================================== -->
    <section class="parallax-titlebar fullwidth-element" data-background="#000" data-opacity="0.2" data-height="160">

        <img src="images/mini-slides/6.jpg" alt=""/>
        <div class="parallax-overlay"></div>

        <div class="parallax-content">
            <h2>User Account <span>Contact Details</span></h2>

            <nav id="breadcrumbs">
                <ul>
                    <li>Home</li>
                    <li>Account</li>
                    <li>Contact Details</li>
                </ul>
            </nav>
        </div>
    </section>

    <div class="container">

        <!-- Sidebar
        ================================================== -->
        <div class="four columns">

            <!-- Categories -->
            <div class="widget margin-top-0">

                <ul id="categories">

                    <li><a href="/user/basic">Basic Account</a></li>
                    <li><a href="/user/contact">Contact Information</a></li>
                    <li><a href="/user/payment">Payment Information</a></li>
                    <li><a href="/user/business" class="active">Business Information</a></li>
                    <li><a href="/user/inbox">Messages</a></li>
                    <!--<li><a href="/user/notification">Notification Preferences</a></li>-->

                </ul>
                <div class="clearfix"></div>

            </div>

        </div>


        <!-- Content
        ================================================== -->

        <div class="twelve columns products">

            <!-- Headline Business Logo-->
            <h3 class="headline">Company Logo</h3><span class="line margin-bottom-30"></span>
            <div class="clearfix"></div>
            <% if(user.logo != null && user.logo != '' && user.logo != undefined) { %>
            <img src="uploads/logo/<%= user.logo %>" alt="" id="company-logo"/>
            <% } else { %>
            <img src="images/titlebar_bg_02.jpg" alt="" id="company-logo"/>
            <% } %>
            <input type="hidden" id="userId" value="<%= user.id %>"/>
            <input type="file" name="fileToUpload" id="fileToUpload" style="display: none">
            <a style="color:#2db2ea;float: right; margin-top:10px" id="logo-upload">Upload New Image</a></td>

            <br><br>
            <!--Bussiness Image upload-->

            <h3 class="headline">Business Images</h3><span class="line margin-bottom-30"></span>
            <div class="clearfix"></div>
            <% if(user.business_images!=null && user.business_images !='') { %>
            <p>you have uploaded <%= JSON.parse(user.business_images).length %> photos</p>
            <% } else { %>
            <p>You don't have upload any photo yet.</p>
            <% } %>
            <input id="imageFile" name="imageFile[]" type="file" style="display: none" multiple/>
            <a style="color:#2db2ea;float: right; margin-top:10px" id="images-upload">Upload New Image</a></td>

            <br><br>
            <!-- Headline Business Introduction-->
            <h3 class="headline">Company Introduction</h3><span class="line margin-bottom-30"></span>
            <div class="clearfix"></div>
            <p><%- user.companyIntroduction %></p>
            <% if(user.companyIntroduction != '' && user.companyIntroduction != undefined) { %>
            <a class="popup-with-zoom-anim" href="#edit-introduction-dialog" style="color:#2db2ea;float: right">Edit</a><br/>
            <% } else { %>
            <a class="popup-with-zoom-anim" href="#edit-introduction-dialog"
               style="color:#2db2ea;float: right">Add</a><br/>
            <% } %>

            <div id="edit-introduction-dialog" class="small-dialog zoom-anim-dialog mfp-hide">
                <h2 class="margin-bottom-10">Edit Introduction</h2>
                <form method="post" name="editform" action="/api/user/companyIntroduction" id="CompyIntroForm">

                    <fieldset>

                        <input type="hidden" name="id" value="<%= user.id %>"/>

                        <div class="twelve alpha columns editform">
                            <div id="editor">
                                <div id='introductionEditor' style="margin-top: 30px;">
                                </div>
                            </div>
                        </div>
                        <input type="hidden" id="introRawTxt" name="newCompanyIntroduction">

                        <div class="twelve columns editform">
                            <input id="submitCompyIntro" type="submit" class="submit" id="submitnewintroduction" value="Save"/>
                        </div>

                    </fieldset>

                    <div class="clearfix"></div>
                </form>
            </div>

            <br><br>

            <!-- Headline Trading Commodities-->
            <h3 class="headline">Trading Commodities</h3><span class="line margin-bottom-30"></span>
            <div class="clearfix"></div>

            <table class="basic-table" style="">

                <tbody>
                <tr>
                    <td> Buying</td>
                    <td>
                        <% for(var tradingIndex = 0; tradingIndex < userTradingBusinessInformation.length ; tradingIndex++) { %>
                        <% if(userTradingBusinessInformation[tradingIndex].buyOrSell == 0) { %>
                        <%= userTradingBusinessInformation[tradingIndex].Commodity.name %>
                        <a href="#" style="color:#2db2ea;" class="tradingbuyingremove">(Remove)</a><br>
                        <form action="/api/user/tradingcommodity/delete" method="post">
                            <input type="hidden" value="<%= userTradingBusinessInformation[tradingIndex].id %>"
                                   name="tradingCommodityId"/>
                        </form>
                        <% } %>
                        <% } %>
                    </td>
                    <td>
                        <a class="popup-with-zoom-anim" href="#buying-commodity-add-dialog"
                           style="color:#2db2ea;">Add</a><br/>

                        <div id="buying-commodity-add-dialog" class="small-dialog zoom-anim-dialog mfp-hide">
                            <h2 class="margin-bottom-10">Add New Commodity</h2>
                            <form method="post" name="editform" action="/api/user/tradingcommodity/add">

                                <fieldset>

                                    <div class="twelve alpha columns editform">
                                        <input type="hidden" name="type" value="0"/>
                                        <input type="hidden" name="id" value="<%= user.id %>"/>
                                        <input name="tradingcommodity" type="text" id="newbuyingcommodity"
                                               placeholder="New Commodity" list="searchresults"/>
                                        <datalist id="searchresults"></datalist>
                                    </div>

                                    <div class="twelve columns editform">
                                        <input type="submit" class="submit" id="submitbuyingcommodity" value="Save"/>
                                    </div>

                                </fieldset>

                                <div class="clearfix"></div>
                            </form>
                        </div>
                    </td>
                </tr>
                <tr>
                    <td> Selling</td>
                    <td>
                        <% for(var tradingIndex = 0; tradingIndex < userTradingBusinessInformation.length ; tradingIndex++) { %>
                        <% if(userTradingBusinessInformation[tradingIndex].buyOrSell == 1) { %>
                        <%= userTradingBusinessInformation[tradingIndex].Commodity.name %>
                        <a href="#" style="color:#2db2ea;" class="tradingsellingremove">(Remove)</a><br>
                        <form action="/api/user/tradingcommodity/delete" method="post">
                            <input type="hidden" value="<%= userTradingBusinessInformation[tradingIndex].id %>"
                                   name="tradingCommodityId"/>
                        </form>
                        <% } %>
                        <% } %>
                    </td>
                    <td>
                        <a class="popup-with-zoom-anim" href="#selling-commodity-add-dialog"
                           style="color:#2db2ea;">Add</a><br/>

                        <div id="selling-commodity-add-dialog" class="small-dialog zoom-anim-dialog mfp-hide">
                            <h2 class="margin-bottom-10">Add New Commodity</h2>
                            <form method="post" name="editform" action="/api/user/tradingcommodity/add">

                                <fieldset>

                                    <div class="twelve alpha columns editform">
                                        <input type="hidden" name="type" value="1"/>
                                        <input type="hidden" name="id" value="<%= user.id %>"/>
                                        <input name="tradingcommodity" type="text" id="newsellingcommodity"
                                               placeholder="New Commodity" list="searchresultsselling"/>
                                        <datalist id="searchresultsselling"></datalist>
                                    </div>

                                    <div class="twelve columns editform">
                                        <input type="submit" class="submit" id="submitbuyingcommodity" value="Save"/>
                                    </div>

                                </fieldset>

                                <div class="clearfix"></div>
                            </form>
                        </div>
                    </td>
                </tr>
                </tbody>
            </table>

            <br><br>
            <!-- Headline Business Certificate-->
            <h3 class="headline">Business Certificate</h3><span class="line margin-bottom-30"></span>
            <div class="clearfix"></div>

            <table class="basic-table" style="">
                <thead>
                <tr>
                    <th>
                        Certificate Number
                    </th>
                    <th>
                        Certificate Name
                    </th>
                    <th>
                    </th>
                </tr>
                </thead>
                <tbody>
                <% for(var certificateIndex = 0; certificateIndex < userCertificateInformation.length ; certificateIndex++) { %>
                <tr>
                    <td>
                        <%= userCertificateInformation[certificateIndex].number %>
                    </td>
                    <td>
                        <%= userCertificateInformation[certificateIndex].name %>
                    </td>
                    <td>
                        <a href="#" style="color:#2db2ea;" class="certificateremove">(Expire)</a><br>
                        <form action="/api/user/certificate/delete" method="post">
                            <input type="hidden" value="<%= userCertificateInformation[certificateIndex].id %>"
                                   name="certificateId"/>
                        </form>
                    </td>
                </tr>
                <% } %>
                </tbody>
            </table>
            <a class="popup-with-zoom-anim" href="#certificate-add-dialog" style="color:#2db2ea;float: right">Add
                Certificate</a><br/>

            <div id="certificate-add-dialog" class="small-dialog zoom-anim-dialog mfp-hide">
                <h2 class="margin-bottom-10">Add New Cerficate</h2>
                <form method="post" name="editform" action="/api/user/certificate/add">

                    <fieldset>

                        <div class="twelve alpha columns editform">
                            <input type="hidden" name="id" value=""/>
                            <input name="newcertificatenumber" type="text" placeholder="Certificate Number"/>
                            <input name="newcertificatename" type="text" placeholder="Certificate Name"/>
                        </div>

                        <div class="twelve columns editform">
                            <input type="submit" class="submit" id="submitbuyingcommodity" value="Save"/>
                        </div>

                    </fieldset>

                    <div class="clearfix"></div>
                </form>
            </div>

        </div>

    </div>

    <div class="margin-top-50"></div>

    <!-- Footer
    ================================================== -->
    <% include footer.ejs %>

</div>


<!-- Java Script
================================================== -->
<script src="http://code.jquery.com/jquery-1.11.0.min.js"></script>
<script src="http://code.jquery.com/jquery-migrate-1.2.1.min.js"></script>
<script src="scripts/jquery.jpanelmenu.js"></script>
<script src="scripts/jquery.themepunch.plugins.min.js"></script>
<script src="scripts/jquery.themepunch.revolution.min.js"></script>
<script src="scripts/jquery.themepunch.showbizpro.min.js"></script>
<script src="scripts/jquery.magnific-popup.min.js"></script>
<script src="scripts/hoverIntent.js"></script>
<script src="scripts/superfish.js"></script>
<script src="scripts/jquery.pureparallax.js"></script>
<script src="scripts/jquery.pricefilter.js"></script>
<script src="scripts/jquery.selectric.min.js"></script>
<script src="scripts/jquery.royalslider.min.js"></script>
<script src="scripts/SelectBox.js"></script>
<script src="scripts/modernizr.custom.js"></script>
<script src="scripts/waypoints.min.js"></script>
<script src="scripts/jquery.flexslider-min.js"></script>
<script src="scripts/jquery.counterup.min.js"></script>
<script src="scripts/jquery.tooltips.min.js"></script>
<script src="scripts/jquery.isotope.min.js"></script>
<script src="scripts/puregrid.js"></script>
<script src="scripts/stacktable.js"></script>
<script src="scripts/custom.js"></script>
<script src="scripts/views/header_func.js"></script>

<!-- Include JS file. -->
<script type='text/javascript'
        src='https://cdnjs.cloudflare.com/ajax/libs/froala-editor/2.7.1/js/froala_editor.min.js'></script>
<script src="scripts/froalaEditor/colors.min.js"></script>
<script src="scripts/froalaEditor/quick_insert.min.js"></script>
<script src="scripts/froalaEditor/align.min.js"></script>
<script src="scripts/froalaEditor/font_family.min.js"></script>
<script src="scripts/froalaEditor/font_size.min.js"></script>

<script src="scripts/views/userbusinessinformation.js"></script>
</body>
</html>