<!DOCTYPE html>
<!--[if IE 8 ]>
<html class="ie ie8" lang="en"> <![endif]-->
    <!--[if (gte IE 9)|!(IE)]><!-->
<html lang="en"> <!--<![endif]-->
    <head>
    <%
if (typeof(message)== undefined)
    var message = "";
%>
<!-- Basic Page Needs
================================================== -->
<meta charset="utf-8">
    <title>Sell BnB</title>

<!-- Mobile Specific Metas
================================================== -->
<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">

    <!-- CSS
    ================================================== -->
    <link rel="stylesheet" href="https://ajax.googleapis.com/ajax/libs/jqueryui/1.11.0/themes/smoothness/jquery-ui.css">
    <link rel="stylesheet" href="css/style.css">
    <link rel="stylesheet" href="css/colors/blue.css" id="colors">

    <!--[if lt IE 9]>
<script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
    <![endif]-->

    </head>

    <body class="boxed">
    <div id="wrapper">

    <% include header.ejs %>

<!-- Titlebar
================================================== -->
<section class="parallax-titlebar fullwidth-element" data-background="#000" data-opacity="0.45" data-height="160">

    <img src="images/titlebar_bg_02.jpg" alt=""/>
    <div class="parallax-overlay"></div>

    <div class="parallax-content">
    <h2>Account <span>Bidding Items</span></h2>

<nav id="breadcrumbs">
    <ul>
    <li>Home</li>
    <li>News</li>
    </ul>
    </nav>
    </div>
    </section>

    <div class="container">

    <!-- Sidebar
    ================================================== -->
    <div class="four columns">

    <!--&lt;!&ndash; Widget &ndash;&gt;-->
<!--<div class="widget">-->
    <!--<h3 class="headline">Filter By Price</h3><span class="line"></span><div class="clearfix"></div>-->

    <!--<div id="price-range">-->
    <!--<div class="padding-range"><div id="slider-range"></div></div>-->
    <!--<label for="amount">Price:</label>-->
<!--<input type="text" id="amount"/>-->
    <!--<a href="#" class="button color">Filter</a>-->
    <!--</div>-->
    <!--<div class="clearfix"></div>-->
    <!--</div>-->

    <!--&lt;!&ndash; Sorting &ndash;&gt;-->
<form action="/api/items/start/0/userId/<%= user.id %>" method = "GET" id="filter_form">
    <div class="widget">
    <h3 class="headline" style="z-index: 0 !important;">Filter By</h3><span class="line"></span><div class="clearfix"></div>

    <select class="orderby" name="sellpageItemOption" id="filter_options">
    <% if(filterParamer == 'All') {%>
<option selected>All</option>
    <option>Open Contract</option>
    <option>Closed Contract</option>
    <option>Pending</option>
    <option>Cancelled</option>
    <% } %>
<% if(filterParamer == 'Open') {%>
<option>All</option>
    <option selected>Open Contract</option>
    <option>Closed Contract</option>
    <option>Pending</option>
    <option>Cancelled</option>
    <% } %>
<% if(filterParamer == 'Closed') {%>
<option>All</option>
    <option>Open Contract</option>
    <option selected>Closed Contract</option>
    <option>Pending</option>
    <option>Cancelled</option>
    <% } %>
<% if(filterParamer == 'Pending') {%>
<option>All</option>
    <option>Open Contract</option>
    <option>Closed Contract</option>
    <option selected>Pending</option>
    <option>Cancelled</option>
    <% } %>
<% if(filterParamer == 'Cancelled') {%>
<option>All</option>
    <option>Open Contract</option>
    <option>Closed Contract</option>
    <option>Pending</option>
    <option selected>Cancelled</option>
    <% } %>
</select>
<div class="clearfix"></div>
    </div>

    <!-- Sorting -->
    <div class="widget">
    <h3 class="headline" style="z-index: 0 !important;">Date</h3><span class="line"></span><div class="clearfix"></div>


    <div class="four alpha columns">
    <label>From : </label>
<input type="text" name="from" id="from" style="width: 91%; z-index: 100" value=""/>
    </div>
    <br><br><br>
    <div class="four alpha columns">
    <label>To : </label>
<input type="text" name="to" id="to" style="width: 91%; z-index: 100" value=""/>
    </div>
    <div class="four alpha columns" style="margin-top:10px">
    <input type="submit" class="button color" style="float: right; z-index: 0" value="Filter"/>
    </div>

    <div class="clearfix"></div>
    </div>
    </form>

    </div>


    <!-- Content
    ================================================== -->
    <!--<div class="twelve columns">-->

    <!--&lt;!&ndash; Search &ndash;&gt;-->
<!--<div class="item-search">-->
    <!--<form action="#" method="get">-->
    <!--<button><i class="fa fa-search"></i></button>-->
    <!--<input class="search-field" type="text" placeholder="Search" value="" size="5" maxlength="4"/>-->
    <!--</form>-->
    <!--</div>-->

    <!--</div>-->

    <div class="twelve columns products">

    <% for(var itemIndex = 0; itemIndex < sellingList.length; itemIndex++) {
    var item = sellingList[itemIndex];
    var biddingDetails = biddingDetailList[itemIndex];
    var lastBidding = {};
    if((biddingDetails != undefined && biddingDetails != null) && biddingDetails.length > 0) {
        lastBidding = biddingDetails[biddingDetails.length-1];
    }
%>
<!-- Selling Items -->
    <div class="item-selling-div twelve columns">
        <div class="item-selling-div">
        <div class="two columns">
        <% if(item.ItemImages.length > 0) {%>
    <img src="uploads/items/<%= item.ItemImages[0].url %>"/>
            <% } %>
</div>
    <div class="five columns">
    <h3><%= item.title %></h3>
        <p>
        <% if((biddingDetails != undefined && biddingDetails != null) && biddingDetails.length > 0) {%>
        Last Bid: <%= lastBidding.bid+' by '+lastBidding.username %><br>
            <% } else { %>
        No Bids <br>
        <% } %>
<% if(remainingTimes[itemIndex][0] != 0) {
        var remainingTime = remainingTimes[itemIndex][0];
        var numdays = Math.floor(remainingTime / 86400);
        var numhours = Math.floor((remainingTime % 86400) / 3600);
        var numminutes = Math.floor(((remainingTime % 86400) % 3600) / 60);
        var numseconds = Math.floor(((remainingTime % 86400) % 3600) % 60);

        var formattedTime = "";
        formattedTime = numdays != 0 ? (formattedTime += numdays + " days ") : formattedTime;
        formattedTime = numhours != 0 ? (formattedTime += numhours + " hrs ") : formattedTime;
        formattedTime = numminutes != 0 ? (formattedTime += numminutes + " mins ") : formattedTime;
        formattedTime = numseconds != 0 ? (formattedTime += numseconds + " secs ") : formattedTime;
    %>
    <%= 'Time Left: '+formattedTime %>
            <% } else {%>
    <%= 'Bidding Closed At: ' + remainingTimes[itemIndex][2] %>
            <% } %>
</p>
    </div>
    <a class="popup-with-zoom-anim" href="#fullname-edit-dialog" id="action-modal"
    style="color:#2db2ea; display: none">Action Modal</a><br/>
    <div id="fullname-edit-dialog" class="small-dialog zoom-anim-dialog mfp-hide">
        <h2 class="margin-bottom-10" id="action-heading"></h2>
        <form method="POST" name="editform" action="/api/items/update/status">
        <p id="action-description"></p>
        <fieldset>
        <div class="twelve columns editform">
        <input type="hidden" name="action" id="actionToSubmit" />
        <input type="hidden" name="itemId" value="<%= item.id %>" />
        <input type="submit" class="submit" value="Yes"/>
        </div>
        </fieldset>
        <div class="clearfix"></div>
        </form>
        </div>
        <div class="four columns" style="float:right">
        <form action="/user/sell/bids/start/0" method="get">
        <input type="hidden" name="itemId" value="<%= item.id %>"/>
        <input type="submit" class="item-selling-btn" value="View Details/ Bids"/>
        </form>
        <select class="orderby actions">More Actions
    <option>More Actions</option>
    <option>Stop Bidding</option>
    <option>Delete</option>
    <option>Hold</option>
    <option>Cancel</option>
    </select>
    </div>
    </div>
    </div>

    <span class="line" style="margin-top:10px;margin-bottom: 0px"></span><div class="clearfix"></div>
        <% } %>


<div class="clearfix"></div>

    <!-- Pagination -->
    <div class="pagination-container">
    <nav class="pagination">
    <ul>
    <%
var pageOne = (pageMultipationFactor * 10) + 1;
var pageTwo = (pageMultipationFactor * 10) + 2;
var pageThree = (pageMultipationFactor * 10) + 3;
%>
<% if(maxPageCount >= pageOne) {%>
<li>
    <a href="/user/sell/list/start/<%= (pageOne-1) * 10 %>" <% if(pageOne === currentPageNumber) { %>class="current-page"<% } %>>
<%= pageOne %>
        </a>
        </li>
        <% } %>
<% if(maxPageCount >= pageTwo) {%>
<li>
    <a href="/user/sell/list/start/<%= (pageTwo-1) * 10 %>" <% if(pageTwo === currentPageNumber) { %>class="current-page"<% } %>>
<%= pageTwo %>
        </a>
        </li>
        <% } %>
<% if(maxPageCount >= pageThree) {%>
<li>
    <a href="/user/sell/list/start/<%= (pageThree-1) * 10 %>" <% if(pageThree === currentPageNumber) { %>class="current-page"<% } %>>
<%= pageThree %>
        </a>
        </li>
        <% } %>
</ul>
</nav>

<nav class="pagination-next-prev">
    <ul>
    <% if(0 < pageMultipationFactor) {%>
<li><a href="/user/sell/list/start/<%= (pageMultipationFactor - 1) * 30 %>" class="prev"></a></li>
        <% } %>
<% if(maxPageCount >= (pageMultipationFactor * 10) + 4) {%>
<li><a href="/user/sell/list/start/<%= (pageMultipationFactor + 1) * 30 %>" class="next"></a></li>
        <% } %>
</ul>
</nav>
</div>

</div>

</div>

<div class="margin-top-50"></div>

    <!-- Footer
    ================================================== -->
    <div id="footer">

    <!-- Container -->
    <div class="container">

    <div class="four columns">
    <img src="images/logo-footer.png" alt="" class="margin-top-10"/>
    <p class="margin-top-15">Nulla facilisis feugiat magna, ut molestie metus hendrerit vitae. Vivamus
tristique lectus at varius rutrum. Integer lobortis mauris non consectetur eleifend.</p>
</div>

<div class="four columns">

    <!-- Headline -->
    <h3 class="headline footer">Customer Service</h3>
<span class="line"></span>
    <div class="clearfix"></div>

    <ul class="footer-links">
    <li><a href="#">Order Status</a></li>
<li><a href="#">Payment Methods</a></li>
<li><a href="#">Delivery & Returns</a></li>
    <li><a href="#">Privacy Policy</a></li>
<li><a href="#">Terms & Conditions</a></li>
    </ul>

    </div>

    <div class="four columns">

    <!-- Headline -->
    <h3 class="headline footer">My Account</h3>
<span class="line"></span>
    <div class="clearfix"></div>

    <ul class="footer-links">
    <li><a href="#">My Account</a></li>
<li><a href="#">Order History</a></li>
<li><a href="#">Wish List</a></li>
</ul>

</div>

<div class="four columns">

    <!-- Headline -->
    <h3 class="headline footer">Newsletter</h3>
    <span class="line"></span>
    <div class="clearfix"></div>
    <p>Sign up to receive email updates on new product announcements, gift ideas, special promotions, sales
and more.</p>

<form action="#" method="get">
    <button class="newsletter-btn" type="submit">Join</button>
    <input class="newsletter" type="text" placeholder="mail@example.com" value=""/>
    </form>
    </div>

    </div>
    <!-- Container / End -->

    </div>
    <!-- Footer / End -->

    <!-- Footer Bottom / Start -->
<div id="footer-bottom">

    <!-- Container -->
    <div class="container">

    <div class="eight columns">© Copyright 2014 by <a href="#">trizzy</a>. All Rights Reserved.</div>
<div class="eight columns">
    <ul class="payment-icons">
    <li><img src="images/visa.png" alt=""/></li>
    <li><img src="images/mastercard.png" alt=""/></li>
    <li><img src="images/skrill.png" alt=""/></li>
    <li><img src="images/moneybookers.png" alt=""/></li>
    <li><img src="images/paypal.png" alt=""/></li>
    </ul>
    </div>

    </div>
    <!-- Container / End -->

    </div>
    <!-- Footer Bottom / End -->

<!-- Back To Top Button -->
<div id="backtotop"><a href="#"></a></div>

    </div>


    <!-- Java Script
================================================== -->
<script src="http://code.jquery.com/jquery-1.11.0.min.js"></script>
    <script src="http://code.jquery.com/jquery-migrate-1.2.1.min.js"></script>
    <script src="scripts/jquery.jpanelmenu.js"></script>
    <script src="scripts/jquery.themepunch.plugins.min.js"></script>
    <script src="scripts/jquery.themepunch.revolution.min.js"></script>
    <script src="scripts/jquery.themepunch.showbizpro.min.js"></script>
    <script src="scripts/jquery.magnific-popup.min.js"></script>
    <script src="scripts/hoverIntent.js"></script>
    <script src="scripts/superfish.js"></script>
    <script src="scripts/jquery.pureparallax.js"></script>
    <script src="scripts/jquery.pricefilter.js"></script>
    <script src="scripts/jquery.selectric.min.js"></script>
    <script src="scripts/jquery.royalslider.min.js"></script>
    <script src="scripts/SelectBox.js"></script>
    <script src="scripts/modernizr.custom.js"></script>
    <script src="scripts/waypoints.min.js"></script>
    <script src="scripts/jquery.flexslider-min.js"></script>
    <script src="scripts/jquery.counterup.min.js"></script>
    <script src="scripts/jquery.tooltips.min.js"></script>
    <script src="scripts/jquery.isotope.min.js"></script>
    <script src="scripts/puregrid.js"></script>
    <script src="scripts/stacktable.js"></script>
    <script src="scripts/custom.js"></script>
    <script src="scripts/views/useraccountselling.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jqueryui/1.11.0/jquery-ui.min.js"></script>
    <script src="scripts/views/header_func.js"></script>

    <script>
    $(document).ready(function() {
        $("#from").datepicker();
        $("#to").datepicker();
    });
</script>

</body>
</html>