<!DOCTYPE html>
<!--[if IE 8 ]>
<html class="ie ie8" lang="en"> <![endif]-->
<!--[if (gte IE 9)|!(IE)]><!-->
<html lang="en"> <!--<![endif]-->
<head>

    <!-- Global Site Tag (gtag.js) - Google Analytics -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=UA-107495910-1"></script>
    <script>
        window.dataLayer = window.dataLayer || [];
        function gtag(){dataLayer.push(arguments)};
        gtag('js', new Date());

        gtag('config', 'UA-107495910-1');
    </script>

    <!-- Basic Page Needs
    ================================================== -->
    <meta charset="utf-8">
    <title>SellBnB</title>

    <!-- Mobile Specific Metas
    ================================================== -->
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">

    <!-- CSS
    ================================================== -->
    <link rel="stylesheet" href="https://ajax.googleapis.com/ajax/libs/jqueryui/1.11.0/themes/smoothness/jquery-ui.css">
    <link rel="stylesheet" href="css/style.css">
    <link rel="stylesheet" href="css/colors/blue.css" id="colors">

    <!--[if lt IE 9]>
    <script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
    <![endif]-->

</head>

<body class="boxed">
<div id="wrapper">

    <% include header.ejs %>

    <!-- Titlebar
    ================================================== -->
    <!--<section class="parallax-titlebar fullwidth-element"  data-background="#000" data-opacity="0.2" data-height="160">-->

        <!--<img src="images/mini-slides/6.jpg" alt="" />-->
        <!--<div class="parallax-overlay"></div>-->

        <!--<div class="parallax-content">-->
            <!--<h2>User Account <span>Payment Information</span></h2>-->

            <!--<nav id="breadcrumbs">-->
                <!--<ul>-->
                    <!--<li>Home</li>-->
                    <!--<li>Account</li>-->
                    <!--<li>Payment Information</li>-->
                <!--</ul>-->
            <!--</nav>-->
        <!--</div>-->
    <!--</section>-->
<div class="row"></div>
    <div class="container">

        <!-- Sidebar
        ================================================== -->
        <div class="four columns">

            <!-- Categories -->
            <div class="widget margin-top-0">

                <ul id="categories">

                    <li><a href="/user/basic">Basic Account</a></li>
                    <li><a href="/user/contact">Contact Information</a></li>
                    <li><a href="/user/payment" class="active">Payment Information</a></li>
                    <% if(user.is_seller) { %>
                    <li><a href="/user/business">Business Information</a></li>
                    <% } %>
                    <li><a href="/user/inbox">Messages</a></li>
                    <!--<li><a href="/user/notification">Notification Preferences</a></li>-->

                </ul>
                <div class="clearfix"></div>

            </div>

        </div>


        <!-- Content
        ================================================== -->

        <div class="twelve columns products">
            <% var paymentInfomations = userPaymentInformation.PaymentInformations %>

            <% for(var paymentIndex = 0; paymentIndex < paymentInfomations.length; paymentIndex++) {
                var paymentInfo = paymentInfomations[paymentIndex];
            %>
                <h3 class="headline">Account <%= paymentIndex + 1 %></h3><span class="line margin-bottom-30"></span><div class="clearfix"></div>
                <table class="basic-table" style="">

                    <tbody>
                    <tr>
                        <td>Bank Account No</td>
                        <td><%= paymentInfo.bankAccountNo %></td>
                    </tr>
                    <tr>
                        <td>Account Type </td>
                        <td><%= paymentInfo.accountType %></td>
                    </tr>
                    <tr>
                        <td>Account Holder Name </td>
                        <td><%= paymentInfo.accountName %></td>
                    </tr>
                    <tr>
                        <td>Bank Name</td>
                        <td><%= paymentInfo.bankName %></td>
                    </tr>
                    <tr>
                        <td>Bank Branch</td>
                        <td><%= paymentInfo.bankCBranch %></td>
                    </tr>
                    <tr>
                        <td>Country</td>
                        <td><%= paymentInfo.bankCountry %></td>
                    </tr>
                    </tbody>
                </table>
                <a style="color:#2db2ea;float: right" class="paymentinformationremove">Remove</a><br><br>
                <form action="/api/user/paymentinfo/delete" method="post">
                    <input type="hidden" value="<%= paymentInfo.id %>" name="paymentId"/>
                </form>
            <% } %>
            <br>
            <a class="popup-with-zoom-anim" href="#payment-add-dialog" style="color:#2db2ea;float: right">Add Account</a>
            <div id="payment-add-dialog" class="small-dialog zoom-anim-dialog mfp-hide">
                <h2 class="margin-bottom-10">Add Payment Information</h2>
                <form method="post" name="editform" action="/api/user/paymentinfo/add">

                    <fieldset>

                        <input name="id" type="hidden" value="<%= user.id %>"/>

                        <div class="twelve alpha columns editform">
                            <input name="newbankaccountno" type="text" id="newbankaccountno" placeholder="Bank Account Number"/>
                        </div>

                        <div class="twelve alpha columns editform">
                            <input name="newbankaccounttype" type="text" id="newbankaccounttype" placeholder="Bank Account Number"/>
                        </div>

                        <div class="twelve alpha columns editform">
                            <input name="newbankaccountname" type="text" id="newbankaccountname" placeholder="Bank Account Holder Name"/>
                        </div>

                        <div class="twelve alpha columns editform">
                            <input name="newbankname" type="text" id="newbankname" placeholder="Bank Name"/>
                        </div>

                        <div class="twelve alpha columns editform">
                            <input name="newbankbranch" type="text" id="newbankbranch" placeholder="Bank Branch"/>
                        </div>

                        <div class="twelve alpha columns editform">
                            <input name="newbankcountry" type="text" id="newbankcountry" placeholder="Bank Country"/>
                        </div>

                        <div class="twelve columns editform">
                            <input type="submit" class="submit" id="submitnewaccoutn" value="Save"/>
                        </div>

                    </fieldset>

                    <div class="clearfix"></div>
                </form>
            </div>
        </div>

    </div>

    <div class="margin-top-50"></div>

    <!-- Footer
    ================================================== -->
    <% include footer.ejs %>

</div>


<!-- Java Script
================================================== -->
<script src="http://code.jquery.com/jquery-1.11.0.min.js"></script>
<script src="http://code.jquery.com/jquery-migrate-1.2.1.min.js"></script>
<script src="scripts/jquery.jpanelmenu.js"></script>
<script src="scripts/jquery.themepunch.plugins.min.js"></script>
<script src="scripts/jquery.themepunch.revolution.min.js"></script>
<script src="scripts/jquery.themepunch.showbizpro.min.js"></script>
<script src="scripts/jquery.magnific-popup.min.js"></script>
<script src="scripts/hoverIntent.js"></script>
<script src="scripts/superfish.js"></script>
<script src="scripts/jquery.pureparallax.js"></script>
<script src="scripts/jquery.pricefilter.js"></script>
<script src="scripts/jquery.selectric.min.js"></script>
<script src="scripts/jquery.royalslider.min.js"></script>
<script src="scripts/SelectBox.js"></script>
<script src="scripts/modernizr.custom.js"></script>
<script src="scripts/waypoints.min.js"></script>
<script src="scripts/jquery.flexslider-min.js"></script>
<script src="scripts/jquery.counterup.min.js"></script>
<script src="scripts/jquery.tooltips.min.js"></script>
<script src="scripts/jquery.isotope.min.js"></script>
<script src="scripts/puregrid.js"></script>
<script src="scripts/stacktable.js"></script>
<script src="scripts/custom.js"></script>
<script src="scripts/views/userpaymentinformation.js"></script>
<script src="scripts/views/header_func.js"></script>

</body>
</html>