<!DOCTYPE html>
<!--[if IE 8 ]>
<html class="ie ie8" lang="en"> <![endif]-->
<!--[if (gte IE 9)|!(IE)]><!-->
<html lang="en"> <!--<![endif]-->
<head>
    <!-- Global Site Tag (gtag.js) - Google Analytics -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=UA-107495910-1"></script>
    <script>
        window.dataLayer = window.dataLayer || [];
        function gtag(){dataLayer.push(arguments)};
        gtag('js', new Date());

        gtag('config', 'UA-107495910-1');
    </script>

    <%
    if (typeof(message)== undefined)
        var message = "";
    %>
    <!-- Basic Page Needs
    ================================================== -->
    <meta charset="utf-8">
    <title>AntCommodity</title>

    <!-- Mobile Specific Metas
    ================================================== -->
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">

    <!-- CSS
    ================================================== -->
    <link rel="stylesheet" href="https://ajax.googleapis.com/ajax/libs/jqueryui/1.11.0/themes/smoothness/jquery-ui.css">
    <link rel="stylesheet" href="/css/style.css">
    <link rel="stylesheet" href="/css/colors/blue.css" id="colors">

    <!--[if lt IE 9]>
    <script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
    <![endif]-->

</head>

<body class="boxed">
<div id="wrapper">

    <% include header.ejs %>

    <div class="row"></div>
    <% if(updateBidMessage != null && updateBidMessage != undefined && updateBidMessage != "") {%>
    <div class="notification success closeable" id="message_success" style="margin-top: -38px;">
        <p><span><%= updateBidMessage %></span></p>
        <a class="close" href="#"></a>
    </div>
    <% } %>

    <div class="container">


        <!-- Content
        ================================================== -->
        <!--<div class="twelve columns">-->

        <!--&lt;!&ndash; Search &ndash;&gt;-->
        <!--<div class="item-search">-->
        <!--<form action="#" method="get">-->
        <!--<button><i class="fa fa-search"></i></button>-->
        <!--<input class="search-field" type="text" placeholder="Search" value="" size="5" maxlength="4"/>-->
        <!--</form>-->
        <!--</div>-->

        <!--</div>-->

        <div class="container">
            <div class="fourteen columns centered">
                <!-- Tabs Navigation -->
                <ul class="tabs-nav">
                    <li id="tab_1"><a href="#tab1">Open</a></li>
                    <li id="tab_2"><a href="#tab2">Pending</a></li>
                    <li id="tab_3"><a href="#tab3">Cancelled</a></li>
                </ul>

                <!-- Tabs Content -->
                <div class="tabs-container">

                    <div class="tab-content" id="tab1">
                        <div>
                            <form action="/user/buy/list/start/0,0,0" method="GET" id="open_duration_form">
                                <input type="hidden" name="buyingpageItemOption" value="Open"/>
                                <input type="hidden" name="pendingDurationOption" value="1"/>
                                <input type="hidden" name="cancelledDurationOption" value="1"/>
                                Your have <%= buyingListOpen.rows.length %> orders in
                                <select class="orderby" name="openDurationOption" id="filter_options_open">
                                    <% if(filterParamerOpen == '1') {%>
                                    <option selected value="1">Last Month</option>
                                    <option value="6">Last Six Months</option>
                                    <option value="12">Last Year</option>
                                    <option value="0">From Beginning</option>
                                    <% } %>
                                    <% if(filterParamerOpen == '6') {%>
                                    <option value="1">Last Month</option>
                                    <option selected value="6">Last Six Months</option>
                                    <option value="12">Last Year</option>
                                    <option value="0">From Beginning</option>
                                    <% } %>
                                    <% if(filterParamerOpen == '12') {%>
                                    <option value="1">Last Month</option>
                                    <option value="6">Last Six Months</option>
                                    <option selected value="12">Last Year</option>
                                    <option value="0">From Beginning</option>
                                    <% } %>
                                    <% if(filterParamerOpen == '0') {%>
                                    <option value="1">Last Month</option>
                                    <option value="6">Last Six Months</option>
                                    <option value="12">Last Year</option>
                                    <option selected value="0">From Beginning</option>
                                    <% } %>
                                </select>
                                <div class="clearfix"></div>
                            </form>

                        </div>

                        <div class="fourteen columns products centered">

                            <% for(var itemIndex = 0; itemIndex < buyingListOpen.rows.length; itemIndex++) {
                                var bid = buyingListOpen.rows[itemIndex];
                                var item = buyingListOpen.rows[itemIndex].Item;
                                var itemImage = itemImagesOpen[itemIndex];
                                var maxBid = lastBidOpen[itemIndex];
                                var commodityName = itemDetailsOpen[itemIndex].item.name;
                                var seller = itemDetailsOpen[itemIndex].user.username;
                                var sellerId = itemDetailsOpen[itemIndex].user.id;
                                var formattedStatus = '';
                                var id = 'Contract Id: CI'+bid.id;
                                var formattedTime = bid.updatedAt.split('T')[1].split(".");
                            %>
                            <!-- Selling Items -->
                            <div class="item-selling-div fourteen columns">
                                <div class="item-selling-div">
                                    <div class="three columns">
                                        <% if(itemImage != null) {%>
                                        <img src="/uploads/items/<%= itemImage.url %>"/>
                                        <% } else {%>
                                        <img src="/images/blog-widget-01.png"/>
                                        <% } %>
                                    </div>
                                    <div class="five columns">
                                        <h3><%= item.title %></h3>
                                        <p><%= id %><br>
                                            Commodity Name: <%= commodityName %><br>
                                            Seller: <a href="/user/public/userId/<%= sellerId %>"> <%= seller %></a><br>
                                            Status: Contract Created<br>
                                            Contract Date: <%= bid.updatedAt.split('T')[0]+" "+formattedTime[0] %><br>
                                        </p>
                                    </div>
                                    <div class="five columns">
                                        <div class="two columns" style="float:right">
                                            <form action="/items/id/<%= item.id %>" method="GET">
                                                <input type="submit" style="float: right; width: 100%; padding-right:20px"
                                                       class="item-selling-btn" value="View Details"/>
                                            </form>
                                            <% if (bid.status == 'open' || bid.status == 'mutual-cancellation-seller') {%>
                                            <form method="GET" action="/user/buy/contract/id/<%= item.id %>">
                                                <input type="hidden" value="<%= bid.id %>" name="bidId"/>
                                                <input type="submit" style="float: right; width: 100%; padding-right:20px"
                                                       class="item-selling-btn" value="Contract" />
                                            </form>
                                            <% } %>
                                        </div>
                                    </div>
                                </div>
                            </div>

                            <span class="line" style="margin-top:10px;margin-bottom: 0px"></span><div class="clearfix"></div>
                            <% } %>


                            <div class="clearfix"></div>

                            <!-- Pagination -->
                            <div class="pagination-container">
                                <nav class="pagination">
                                    <ul>
                                        <%
                                        var pageOne = (pageMultipationFactorOpen * 10) + 1;
                                        var pageTwo = (pageMultipationFactorOpen * 10) + 2;
                                        var pageThree = (pageMultipationFactorOpen * 10) + 3;
                                        %>
                                        <% if(maxPageCountOpen >= pageOne) {%>
                                        <li>
                                            <a href="/user/buy/list/start/<%= (pageOne-1) * 10 %>,0,0?buyingpageItemOption=Open&openDurationOption=<%= filterParamerOpen %>&pendingDurationOption=1&cancelledDurationOption=1" <% if(pageOne === currentPageNumberOpen) { %>class="current-page"<% } %>>
                                                <%= pageOne %>
                                            </a>
                                        </li>
                                        <% } %>
                                        <% if(maxPageCountOpen >= pageTwo) {%>
                                        <li>
                                            <a href="/user/buy/list/start/<%= (pageTwo-1) * 10 %>,0,0?buyingpageItemOption=Open&openDurationOption=<%= filterParamerOpen %>&pendingDurationOption=1&cancelledDurationOption=1" <% if(pageTwo === currentPageNumberOpen) { %>class="current-page"<% } %>>
                                                <%= pageTwo %>
                                            </a>
                                        </li>
                                        <% } %>
                                        <% if(maxPageCountOpen >= pageThree) {%>
                                        <li>
                                            <a href="/user/buy/list/start/<%= (pageThree-1) * 10 %>,0,0?buyingpageItemOption=Open&openDurationOption=<%= filterParamerOpen %>&pendingDurationOption=1&cancelledDurationOption=1" <% if(pageThree === currentPageNumberOpen) { %>class="current-page"<% } %>>
                                                <%= pageThree %>
                                            </a>
                                        </li>
                                        <% } %>
                                    </ul>
                                </nav>

                                <nav class="pagination-next-prev">
                                    <ul>
                                        <% if(0 < pageMultipationFactorOpen) {%>
                                        <li><a href="/user/buy/list/start/<%= (pageMultipationFactorOpen - 1) * 30 %>,0,0?buyingpageItemOption=Open&openDurationOption=<%= filterParamerOpen %>&pendingDurationOption=1&cancelledDurationOption=1" class="prev"></a></li>
                                        <% } %>
                                        <% if(maxPageCountOpen >= (pageMultipationFactorOpen * 10) + 4) {%>
                                        <li><a href="/user/buy/list/start/<%= (pageMultipationFactorOpen + 1) * 30 %>,0,0?buyingpageItemOption=Open&openDurationOption=<%= filterParamerOpen %>&pendingDurationOption=1&cancelledDurationOption=1" class="next"></a></li>
                                        <% } %>
                                    </ul>
                                </nav>
                            </div>

                        </div>
                    </div>
                    <div class="tab-content" id="tab2">
                        <div>
                            <form action="/user/buy/list/start/0,0,0" method="GET" id="pending_duration_form">
                                <input type="hidden" name="buyingpageItemOption" value="Open"/>
                                <input type="hidden" name="openDurationOption" value="1"/>
                                <input type="hidden" name="cancelledDurationOption" value="1"/>
                                Your have <%= buyingListPending.rows.length %> orders in
                                <select class="orderby" name="pendingDurationOption" id="filter_options_pending">
                                    <% if(filterParamerPending == '1') {%>
                                    <option selected value="1">Last Month</option>
                                    <option value="6">Last Six Months</option>
                                    <option value="12">Last Year</option>
                                    <option value="0">From Beginning</option>
                                    <% } %>
                                    <% if(filterParamerPending == '6') {%>
                                    <option value="1">Last Month</option>
                                    <option selected value="6">Last Six Months</option>
                                    <option value="12">Last Year</option>
                                    <option value="0">From Beginning</option>
                                    <% } %>
                                    <% if(filterParamerPending == '12') {%>
                                    <option value="1">Last Month</option>
                                    <option value="6">Last Six Months</option>
                                    <option selected value="12">Last Year</option>
                                    <option value="0">From Beginning</option>
                                    <% } %>
                                    <% if(filterParamerPending == '0') {%>
                                    <option value="1">Last Month</option>
                                    <option value="6">Last Six Months</option>
                                    <option value="12">Last Year</option>
                                    <option selected value="0">From Beginning</option>
                                    <% } %>
                                </select>
                                <div class="clearfix"></div>
                            </form>

                        </div>

                        <div class="fourteen columns products centered">

                            <% for(var itemIndex = 0; itemIndex < buyingListPending.rows.length; itemIndex++) {
                                var bid = buyingListPending.rows[itemIndex];
                                var item = buyingListPending.rows[itemIndex].Item;
                                var itemImage = itemImagesPending[itemIndex];
                                var maxBid = lastBidPending[itemIndex];
                                var commodityName = itemDetailsPending[itemIndex].item.name;
                                var seller = itemDetailsPending[itemIndex].user.username;
                                var sellerId = itemDetailsPending[itemIndex].user.id;
                                var formattedStatus = '';
                                var id = 'Bid Id: '+bid.id;
                                var formattedTime = bid.updatedAt.split('T')[1].split(".");

                            %>
                            <!-- Selling Items -->
                            <div class="item-selling-div fourteen columns">
                                <div class="item-selling-div">
                                    <div class="three columns">
                                        <% if(itemImage != null) {%>
                                        <img src="/uploads/items/<%= itemImage.url %>"/>
                                        <% } else {%>
                                        <img src="/images/blog-widget-01.png"/>
                                        <% } %>
                                    </div>
                                    <div class="five columns">
                                        <h3><%= item.title %></h3>
                                        <p><%= id %><br>
                                            Commodity Name: <%= commodityName %><br>
                                            Seller: <a href="/user/public/userId/<%= sellerId %>"> <%= seller %></a><br>
                                            <% if(remainingTimesPending[itemIndex][0] != 0) {
                                                var remainingTime = remainingTimesPending[itemIndex][0];
                                                var numdays = Math.floor(remainingTime / 86400);
                                                var numhours = Math.floor((remainingTime % 86400) / 3600);
                                                var numminutes = Math.floor(((remainingTime % 86400) % 3600) / 60);
                                                var numseconds = Math.floor(((remainingTime % 86400) % 3600) % 60);
                                                var isAlligibleToBid = true;

                                                var formattedTime = "";
                                                formattedTime = numdays != 0 ? (formattedTime += numdays + " days ") : formattedTime;
                                                formattedTime = numhours != 0 ? (formattedTime += numhours + " hrs ") : formattedTime;
                                                formattedTime = numminutes != 0 ? (formattedTime += numminutes + " mins ") : formattedTime;
                                                formattedTime = numseconds != 0 ? (formattedTime += numseconds + " secs ") : formattedTime;

                                                if(numdays == 0 && numhours == 0 && numminutes == 0 && numseconds == 0) {
                                                    isAlligibleToBid = false;
                                                }
                                            %>
                                            <%= 'Time Left: '+formattedTime %> <br>
                                            Status:  Active Bidding <br>
                                            <% } else {%>
                                            <%= 'Bidding Closed At: ' + remainingTimesPending[itemIndex][2] %> <br>
                                            Status:  Wating for seller to select a bid <br>
                                            <% } %>
                                            Last Bid: <%= maxBid.bid %><br>
                                            Your Last Bid: <%= bid.bid %><br>
                                        </p>
                                    </div>
                                    <% if(remainingTimesPending[itemIndex][0] != 0) {%>
                                        <div class="two columns">
                                            <form method="post" action="/api/bid/update/bid">

                                                <fieldset>
                                                    <input type="hidden" name="id" value="<%= bid.id %>"/>
                                                    <div class="two columns editform">
                                                        <input style="width: 80%" name="newbid" type="text" id="newbid" placeholder="Your New Bid" value="<%= bid.bid.split(" ")[0]+" " %>"/>
                                                    </div>

                                                    <div class="two columns editform">
                                                        <input type="hidden" value="<%= maxBid.bid %>">
                                                        <input type="submit" class="submit updatebid" id="submitbid" value="Place Bid"/>
                                                    </div>

                                                </fieldset>

                                                <div class="clearfix"></div>
                                            </form>
                                        </div>
                                        <div class="three columns">
                                            <div class="two columns" style="float:right">
                                                <form action="/items/id/<%= item.id %>" method="GET">
                                                    <input type="submit" style="float: right; width: 100%; padding-right:20px"
                                                           class="item-selling-btn" value="View Details"/>
                                                </form>
                                                <% if (bid.status == 'open' || bid.status == 'mutual-cancellation-seller') {%>
                                                <form method="GET" action="/user/buy/contract/id/<%= item.id %>">
                                                    <input type="hidden" value="<%= bid.id %>" name="bidId"/>
                                                    <input type="submit" style="float: right; width: 100%; padding-right:20px"
                                                           class="item-selling-btn" value="Contract" />
                                                </form>
                                                <% } %>
                                            </div>
                                        </div>
                                    <% } else {%>
                                        <div class="five columns">
                                            <div class="two columns" style="float:right">
                                                <form action="/items/id/<%= item.id %>" method="GET">
                                                    <input type="submit" style="float: right; width: 100%; padding-right:20px"
                                                           class="item-selling-btn" value="View Details"/>
                                                </form>
                                                <% if (bid.status == 'open' || bid.status == 'mutual-cancellation-seller') {%>
                                                <form method="GET" action="/user/buy/contract/id/<%= item.id %>">
                                                    <input type="hidden" value="<%= bid.id %>" name="bidId"/>
                                                    <input type="submit" style="float: right; width: 100%; padding-right:20px"
                                                           class="item-selling-btn" value="Contract" />
                                                </form>
                                                <% } %>
                                            </div>
                                        </div>
                                    <% } %>

                                </div>
                            </div>

                            <span class="line" style="margin-top:10px;margin-bottom: 0px"></span><div class="clearfix"></div>
                            <% } %>


                            <div class="clearfix"></div>

                            <!-- Pagination -->
                            <div class="pagination-container">
                                <nav class="pagination">
                                    <ul>
                                        <%
                                        var pageOne = (pageMultipationFactorPending * 10) + 1;
                                        var pageTwo = (pageMultipationFactorPending * 10) + 2;
                                        var pageThree = (pageMultipationFactorPending * 10) + 3;
                                        %>
                                        <% if(maxPageCountPending >= pageOne) {%>
                                        <li>
                                            <a href="/user/buy/list/start/0,<%= (pageOne-1) * 10 %>,0?buyingpageItemOption=Open&openDurationOption=1&pendingDurationOption=<%= filterParamerPending %>&cancelledDurationOption=1" <% if(pageOne === currentPageNumberPending) { %>class="current-page"<% } %>>
                                                <%= pageOne %>
                                            </a>
                                        </li>
                                        <% } %>
                                        <% if(maxPageCountPending >= pageTwo) {%>
                                        <li>
                                            <a href="/user/buy/list/start/0,<%= (pageTwo-1) * 10 %>,0?buyingpageItemOption=Open&openDurationOption=1&pendingDurationOption=<%= filterParamerPending %>&cancelledDurationOption=1" <% if(pageTwo === currentPageNumberPending) { %>class="current-page"<% } %>>
                                                <%= pageTwo %>
                                            </a>
                                        </li>
                                        <% } %>
                                        <% if(maxPageCountPending >= pageThree) {%>
                                        <li>
                                            <a href=user/buy/list/start/0,<%= (pageThree-1) * 10 %>,0?buyingpageItemOption=Open&openDurationOption=1&pendingDurationOption=<%= filterParamerPending %>&cancelledDurationOption=1" <% if(pageThree === currentPageNumberPending) { %>class="current-page"<% } %>>
                                                <%= pageThree %>
                                            </a>
                                        </li>
                                        <% } %>
                                    </ul>
                                </nav>

                                <nav class="pagination-next-prev">
                                    <ul>
                                        <% if(0 < pageMultipationFactorPending) {%>
                                        <li><a href="/user/buy/list/start/0,<%= (pageMultipationFactorPending - 1) * 30 %>,0?buyingpageItemOption=Open&openDurationOption=1&pendingDurationOption=<%= filterParamerPending %>&cancelledDurationOption=1" class="prev"></a></li>
                                        <% } %>
                                        <% if(maxPageCountPending >= (pageMultipationFactorPending * 10) + 4) {%>
                                        <li><a href="/user/buy/list/start/0,<%= (pageMultipationFactorPending + 1) * 30 %>,0?buyingpageItemOption=Open&openDurationOption=1&pendingDurationOption=<%= filterParamerPending %>&cancelledDurationOption=1" class="next"></a></li>
                                        <% } %>
                                    </ul>
                                </nav>
                            </div>

                        </div>
                    </div>
                    <div class="tab-content" id="tab3">
                        <div>
                            <form action="/user/buy/list/start/0,0,0" method="GET" id="cancelled_duration_form">
                                <input type="hidden" name="buyingpageItemOption" value="Cancelled"/>
                                <input type="hidden" name="openDurationOption" value="1"/>
                                <input type="hidden" name="pendingDurationOption" value="1"/>
                                Your have <%= buyingListCancelled.rows.length %> orders in
                                <select class="orderby" name="pendingDurationOption" id="filter_options_cancelled">
                                    <% if(filterParamerCancelled == '1') {%>
                                    <option selected value="1">Last Month</option>
                                    <option value="6">Last Six Months</option>
                                    <option value="12">Last Year</option>
                                    <option value="0">From Beginning</option>
                                    <% } %>
                                    <% if(filterParamerCancelled == '6') {%>
                                    <option value="1">Last Month</option>
                                    <option selected value="6">Last Six Months</option>
                                    <option value="12">Last Year</option>
                                    <option value="0">From Beginning</option>
                                    <% } %>
                                    <% if(filterParamerCancelled == '12') {%>
                                    <option value="1">Last Month</option>
                                    <option value="6">Last Six Months</option>
                                    <option selected value="12">Last Year</option>
                                    <option value="0">From Beginning</option>
                                    <% } %>
                                    <% if(filterParamerCancelled == '0') {%>
                                    <option value="1">Last Month</option>
                                    <option value="6">Last Six Months</option>
                                    <option value="12">Last Year</option>
                                    <option selected value="0">From Beginning</option>
                                    <% } %>
                                </select>
                                <div class="clearfix"></div>
                            </form>

                        </div>

                        <div class="fourteen columns products centered">

                            <% for(var itemIndex = 0; itemIndex < buyingListCancelled.rows.length; itemIndex++) {
                                var bid = buyingListCancelled.rows[itemIndex];
                                var item = buyingListCancelled.rows[itemIndex].Item;
                                var itemImage = itemImagesCancelled[itemIndex];
                                var maxBid = lastBidCancelled[itemIndex];
                                var commodityName = itemDetailsCancelled[itemIndex].item.name;
                                var seller = itemDetailsCancelled[itemIndex].user.username;
                                var sellerId = itemDetailsCancelled[itemIndex].user.id;
                                var formattedStatus = '';
                                var id = 'Bid Id: '+bid.id;
                                if(bid.status == 'mutual-cancellation-seller' || bid.status == 'mutual-cancellation-buyer' || bid.status == 'mutual-cancellation-all') {
                                    formattedStatus = 'Mutual Decision';
                                    id = 'Contract Id: CI'+bid.id;
                                }

                            %>
                            <!-- Selling Items -->
                            <div class="item-selling-div fourteen columns">
                                <div class="item-selling-div">
                                    <div class="three columns">
                                        <% if(itemImage != null) {%>
                                        <img src="/uploads/items/<%= itemImage.url %>"/>
                                        <% } else {%>
                                        <img src="/images/blog-widget-01.png"/>
                                        <% } %>
                                    </div>
                                    <div class="five columns">
                                        <h3><%= item.title %></h3>
                                        <p><%= id %><br>
                                            Commodity Name: <%= commodityName %><br>
                                            Seller: <a href="/user/public/userId/<%= sellerId %>"> <%= seller %></a><br>
                                            Status: <%= formattedStatus %><br>
                                            Your Last Bid: <%= bid.bid %><br>
                                            <% if(remainingTimesCancelled[itemIndex][0] != 0) {
                                                var remainingTime = remainingTimesCancelled[itemIndex][0];
                                                var numdays = Math.floor(remainingTime / 86400);
                                                var numhours = Math.floor((remainingTime % 86400) / 3600);
                                                var numminutes = Math.floor(((remainingTime % 86400) % 3600) / 60);
                                                var numseconds = Math.floor(((remainingTime % 86400) % 3600) % 60);

                                                var formattedTime = "";
                                                formattedTime = numdays != 0 ? (formattedTime += numdays + " days ") : formattedTime;
                                                formattedTime = numhours != 0 ? (formattedTime += numhours + " hrs ") : formattedTime;
                                                formattedTime = numminutes != 0 ? (formattedTime += numminutes + " mins ") : formattedTime;
                                                formattedTime = numseconds != 0 ? (formattedTime += numseconds + " secs ") : formattedTime;
                                            %>
                                            <%= 'Time Left: '+formattedTime %>
                                            <% } else {%>
                                            <%= 'Bidding Closed At: ' + remainingTimesCancelled[itemIndex][2] %>
                                            <% } %></p>
                                    </div>

                                    <div class="five columns">
                                        <div class="two columns" style="float:right">
                                            <form action="/items/id/<%= item.id %>" method="GET">
                                                <input type="submit" style="float: right; width: 100%; padding-right:20px"
                                                       class="item-selling-btn" value="View Details"/>
                                            </form>
                                            <% if (bid.status == 'open' || bid.status == 'mutual-cancellation-seller') {%>
                                            <form method="GET" action="/user/buy/contract/id/<%= item.id %>">
                                                <input type="hidden" value="<%= bid.id %>" name="bidId"/>
                                                <input type="submit" style="float: right; width: 100%; padding-right:20px"
                                                       class="item-selling-btn" value="Contract" />
                                            </form>
                                            <% } %>
                                        </div>
                                    </div>
                                </div>
                            </div>

                            <span class="line" style="margin-top:10px;margin-bottom: 0px"></span><div class="clearfix"></div>
                            <% } %>


                            <div class="clearfix"></div>

                            <!-- Pagination -->
                            <div class="pagination-container">
                                <nav class="pagination">
                                    <ul>
                                        <%
                                        var pageOne = (pageMultipationFactorCancelled * 10) + 1;
                                        var pageTwo = (pageMultipationFactorCancelled * 10) + 2;
                                        var pageThree = (pageMultipationFactorCancelled * 10) + 3;
                                        %>
                                        <% if(maxPageCountCancelled >= pageOne) {%>
                                        <li>
                                            <a href="/user/buy/list/start/0,0,<%= (pageOne-1) * 10 %>?buyingpageItemOption=Open&openDurationOption=1&pendingDurationOption=1&cancelledDurationOption=<%= filterParamerCancelled %>" <% if(pageOne === currentPageNumberCancelled) { %>class="current-page"<% } %>>
                                                <%= pageOne %>
                                            </a>
                                        </li>
                                        <% } %>
                                        <% if(maxPageCountCancelled >= pageTwo) {%>
                                        <li>
                                            <a href="/user/buy/list/start/0,0,<%= (pageTwo-1) * 10 %>?buyingpageItemOption=Open&openDurationOption=1&pendingDurationOption=1&cancelledDurationOption=<%= filterParamerCancelled %>" <% if(pageTwo === currentPageNumberCancelled) { %>class="current-page"<% } %>>
                                                <%= pageTwo %>
                                            </a>
                                        </li>
                                        <% } %>
                                        <% if(maxPageCountCancelled >= pageThree) {%>
                                        <li>
                                            <a href=user/buy/list/start/0,0,<%= (pageThree-1) * 10 %>?buyingpageItemOption=Open&openDurationOption=1&pendingDurationOption=1&cancelledDurationOption=<%= filterParamerCancelled %>" <% if(pageThree === currentPageNumberCancelled) { %>class="current-page"<% } %>>
                                                <%= pageThree %>
                                            </a>
                                        </li>
                                        <% } %>
                                    </ul>
                                </nav>

                                <nav class="pagination-next-prev">
                                    <ul>
                                        <% if(0 < pageMultipationFactorCancelled) {%>
                                        <li><a href="/user/buy/list/start/0,0,<%= (pageMultipationFactorCancelled - 1) * 30 %>?buyingpageItemOption=Open&openDurationOption=1&pendingDurationOption=1&cancelledDurationOption=<%= filterParamerCancelled %>" class="prev"></a></li>
                                        <% } %>
                                        <% if(maxPageCountCancelled >= (pageMultipationFactorCancelled * 10) + 4) {%>
                                        <li><a href="/user/buy/list/start/0,0,<%= (pageMultipationFactorCancelled + 1) * 30 %>,0?buyingpageItemOption=Open&openDurationOption=1&pendingDurationOption=1&cancelledDurationOption=<%= filterParamerCancelled %>" class="next"></a></li>
                                        <% } %>
                                    </ul>
                                </nav>
                            </div>

                        </div>
                    </div>
                </div>
            </div>
        </div>



    </div>

    <div class="margin-top-50"></div>

    <!-- Footer
    ================================================== -->
    <% include footer.ejs %>

</div>


<!-- Java Script
================================================== -->
<script src="http://code.jquery.com/jquery-1.11.0.min.js"></script>
<script src="/scripts/views/useraccountbuying.js"></script>
<script src="http://code.jquery.com/jquery-migrate-1.2.1.min.js"></script>
<script src="/scripts/jquery.jpanelmenu.js"></script>
<script src="/scripts/jquery.themepunch.plugins.min.js"></script>
<script src="/scripts/jquery.themepunch.revolution.min.js"></script>
<script src="/scripts/jquery.themepunch.showbizpro.min.js"></script>
<script src="/scripts/jquery.magnific-popup.min.js"></script>
<script src="/scripts/hoverIntent.js"></script>
<script src="/scripts/superfish.js"></script>
<script src="/scripts/jquery.pureparallax.js"></script>
<script src="/scripts/jquery.pricefilter.js"></script>
<script src="/scripts/jquery.selectric.min.js"></script>
<script src="/scripts/jquery.royalslider.min.js"></script>
<script src="/scripts/SelectBox.js"></script>
<script src="/scripts/modernizr.custom.js"></script>
<script src="/scripts/waypoints.min.js"></script>
<script src="/scripts/jquery.flexslider-min.js"></script>
<script src="/scripts/jquery.counterup.min.js"></script>
<script src="/scripts/jquery.tooltips.min.js"></script>
<script src="/scripts/jquery.isotope.min.js"></script>
<script src="/scripts/puregrid.js"></script>
<script src="/scripts/stacktable.js"></script>
<script src="/scripts/custom.js"></script>
<script src="/scripts/views/header_func.js"></script>

</body>
</html>