<!DOCTYPE html>
<!--[if IE 8 ]>
<html class="ie ie8" lang="en"> <![endif]-->
<!--[if (gte IE 9)|!(IE)]><!-->
<html lang="en"> <!--<![endif]-->
<head>
    <%
    if (typeof(message)== undefined)
        var message = "";
    %>
    <!-- Basic Page Needs
    ================================================== -->
    <meta charset="utf-8">
    <title>Seller BnB</title>

    <!-- Mobile Specific Metas
    ================================================== -->
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">

    <!-- CSS
    ================================================== -->
    <link rel="stylesheet" href="https://ajax.googleapis.com/ajax/libs/jqueryui/1.11.0/themes/smoothness/jquery-ui.css">
    <link rel="stylesheet" href="css/style.css">
    <link rel="stylesheet" href="css/colors/blue.css" id="colors">

    <!--[if lt IE 9]>
    <script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
    <![endif]-->

</head>

<body class="boxed">
<div id="wrapper">

    <% include header.ejs %>

    <!-- Titlebar
    ================================================== -->
    <section class="parallax-titlebar fullwidth-element" data-background="#000" data-opacity="0.45" data-height="160">

        <img src="images/titlebar_bg_02.jpg" alt=""/>
        <div class="parallax-overlay"></div>

        <div class="parallax-content">
            <h2><%= item.title %> <span>Bidding Details</span></h2>

            <nav id="breadcrumbs">
                <ul>
                    <li>Home</li>
                    <li>Sell Account</li>
                    <li>Bidding Details</li>
                </ul>
            </nav>
        </div>
    </section>

    <div class="container">


        <!-- Content
        ================================================== -->
        <!--<div class="twelve columns">-->

        <!--&lt;!&ndash; Search &ndash;&gt;-->
        <!--<div class="item-search">-->
        <!--<form action="#" method="get">-->
        <!--<button><i class="fa fa-search"></i></button>-->
        <!--<input class="search-field" type="text" placeholder="Search" value="" size="5" maxlength="4"/>-->
        <!--</form>-->
        <!--</div>-->

        <!--</div>-->

        <div class="twelve columns centered">

            <% for(var biddingIndex = 0; biddingIndex < biddingList.length; biddingIndex++) {
                var bidding = biddingList[biddingIndex];

                var warehouse = bidding.WareHouse;
                var formattedAddress = "";
                formattedAddress = (warehouse.warehouseAddress1 != null && warehouse.warehouseAddress1 != undefined) ?
                        warehouse.warehouseAddress1 : formattedAddress;
                formattedAddress = (warehouse.warehouseAddress2 != null && warehouse.warehouseAddress2 != undefined) ?
                formattedAddress + ", " +warehouse.warehouseAddress2 : formattedAddress;
                formattedAddress = (warehouse.warehouseCity != null && warehouse.warehouseCity != undefined) ?
                formattedAddress + ", " +warehouse.warehouseCity : formattedAddress;

                var formattedStatus = '';
                if(bidding.status == 'open') {
                    formattedStatus = 'Contract Created';
                }else if(bidding.status == 'mutual-cancellation-buyer') {
                    formattedStatus =  'Mutual Cancellation Request from Buyer';
                }else if(bidding.status == 'mutual-cancellation-seller') {
                    formattedStatus =  'Mutual Cancellation Request from You';
                } else if(bidding.status == 'mutual-cancellation-all') {
                    formattedStatus =  'Mutual Cancellation Decision';
                } else if(bidding.status == 'pending') {
                    formattedStatus = 'Pending Selection';
                } else if(bidding.status == 'cancelled') {
                    formattedStatus = 'Cancelled';
                }
            %>
            <div class="item-selling-div eleven columns centered" style="margin-top: -20px;">
                <div class="item-selling-div centered">
                    <div class="eight columns" style="padding-top: 20px;">
                        <h3>Bid: <%= bidding.bid %></h3>
                        <p>Quantity: <%= bidding.quantity %><br>
                            Buyer: <a href="/user/public/userId/<%= bidding.User.id %>"> <%= bidding.User.username %></a><br>
                            Status: <%= formattedStatus %>
                        </p>
                    </div>
                    <div class="two columns">
                        <a class="popup-with-zoom-anim " href="#bid-detail-dialog-<%= bidding.id %>" style="display: none">Edit</a><br/>

                        <a class="popup-with-zoom-anim " href="#bidding-accept-modal-<%= bidding.id%>" id="bidding-accept-modal-button"
                           style="display: none">Edit</a><br/>

                        <div id="bid-detail-dialog-<%= bidding.id %>" class="small-dialog zoom-anim-dialog mfp-hide">
                            <h2 class="margin-bottom-10">Bid Details</h2>

                            <div>
                                <table class="basic-table">
                                    <tbody>
                                    <tr>
                                        <td>Bid</td>
                                        <td id="bid"><%= bidding.bid %></td>
                                    </tr>
                                    <tr>
                                        <td>Quantity</td>
                                        <td id="quantity"><%= bidding.quantity %></td>
                                    </tr>
                                    <tr>
                                        <td>Buyer</td>
                                        <td id="buyer"><%= bidding.User.full_name %> (<a href="/user/public/userId/<%= bidding.User.id %>"> <%= bidding.User.username %></a>)</td>
                                    </tr>
                                    <tr>
                                        <td>Package Type</td>
                                        <td id="package_type"><%= bidding.packageType %></td>
                                    </tr>
                                    <tr>
                                        <td>Delivery By</td>
                                        <td id="delivery_by"><%= bidding.deliveryBy %></td>
                                    </tr>
                                    <tr>
                                        <td>Payment Terms</td>
                                        <td id="payment_terms"><%= bidding.paymentTerms %></td>
                                    </tr>
                                    <tr>
                                        <td>Warehouse</td>
                                        <td id="warehouse"><%= formattedAddress %></td>
                                    </tr>
                                    <tr>
                                        <td>Note</td>
                                        <td id="note"><%= bidding.note %></td>
                                    </tr>
                                    <tr>
                                        <td>Status</td>
                                        <td id="status"><%= formattedStatus %></td>
                                    </tr>
                                    <tr>
                                        <td>Bid at:</td>
                                        <td id="updatedAt"><%= bidsCreatedAt[biddingIndex] %></td>
                                    </tr>
                                    </tbody>
                                </table>
                            </div>

                            <form method="post" name="editform" action="/api/bid/update/status">

                                <fieldset>
                                    <input type="hidden" name="itemId" value="<%= bidding.ItemId %>" />
                                    <input type="hidden" name="bidId" value="<%= bidding.id %>" />
                                    <input type="hidden" name="itemName" value="<%= item.title  %>" />
                                    <input type="hidden" name="userId" value="<%= user.id  %>" />
                                    <input type="hidden" name="status" value="open" />
                                    <div class="twelve columns editform">
                                        <% if (bidding.status == 'pending' || bidding.status == 'cancelled' || bidding.status == 'mutual-cancellation-all') { %>
                                            <input type="submit" class="submit" value="Accept"/>
                                        <% } %>
                                    </div>

                                </fieldset>

                                <div class="clearfix"></div>
                            </form>
                        </div>

                        <div id="bidding-accept-modal-<%= bidding.id%>" class="small-dialog zoom-anim-dialog mfp-hide">
                            <h2 class="margin-bottom-10">Accept Bidding</h2>
                            <form method="post" name="editform" action="/api/bid/update/status">
                                <p> Are you sure to accept this bid? </p>
                                <fieldset>
                                    <input type="hidden" name="itemId" value="<%= bidding.ItemId %>" />
                                    <input type="hidden" name="bidId" value="<%= bidding.id %>" />
                                    <input type="hidden" name="itemName" value="<%= item.title  %>" />
                                    <input type="hidden" name="userId" value="<%= user.id  %>" />
                                    <input type="hidden" name="status" value="open" />
                                    <input type="submit" class="submit" value="Accept" style="width: 100%" />
                                </fieldset>

                                <div class="clearfix"></div>
                            </form>
                        </div>

                        <input type="hidden" value="<%= bidding.id %>"/>
                        <button class="item-selling-btn" style="width: 100%">View Details</button><br>
                        <% if (bidding.status == 'pending' || bidding.status == 'cancelled' || bidding.status == 'mutual-cancellation-all') { %>
                        <button class="bidding-accept-btn" style="width: 100%">Accept</button>
                        <% } else if (bidding.status.indexOf('mutual') != -1 || bidding.status.indexOf('open') != -1) {%>
                        <form method="GET"
                              action="/user/sell/contract/bidId/<%= bidding.id %>">
                            <input type="submit" style="float: right; width: 100%; padding-right:20px"
                                   class="item-selling-btn" value="Contract" />
                        </form>
                        <% } %>
                    </div>
                </div>
            </div>
            <span class="line" style="margin-top:10px;margin-bottom: 0px"></span><div class="clearfix"></div>
            <% } %>

            <div class="clearfix"></div>

            <!-- Pagination -->
            <div class="pagination-container" style="padding-top:20px; padding-left: 20px">
                <nav class="pagination">
                    <ul>
                        <%
                        var pageOne = (pageMultipationFactor * 10) + 1;
                        var pageTwo = (pageMultipationFactor * 10) + 2;
                        var pageThree = (pageMultipationFactor * 10) + 3;
                        %>
                        <% if(maxPageCount >= pageOne) {%>
                        <li>
                            <a href="http://localhost:3000/user/sell/bids/start/<%= (pageOne-1) * 10 %>?itemId=<%= itemId %>" <% if(pageOne === currentPageNumber) { %>class="current-page"<% } %>>
                                <%= pageOne %>
                            </a>
                        </li>
                        <% } %>
                        <% if(maxPageCount >= pageTwo) {%>
                        <li>
                            <a href="http://localhost:3000/user/sell/bids/start/<%= (pageTwo-1) * 10 %>?itemId=<%= itemId %>" <% if(pageTwo === currentPageNumber) { %>class="current-page"<% } %>>
                                <%= pageTwo %>
                            </a>
                        </li>
                        <% } %>
                        <% if(maxPageCount >= pageThree) {%>
                        <li>
                            <a href="http://localhost:3000/user/sell/bids/start/<%= (pageThree-1) * 10 %>?itemId=<%= itemId %>" <% if(pageThree === currentPageNumber) { %>class="current-page"<% } %>>
                                <%= pageThree %>
                            </a>
                        </li>
                        <% } %>
                    </ul>
                </nav>

                <nav class="pagination-next-prev">
                    <ul>
                        <% if(0 < pageMultipationFactor) {%>
                        <li><a href="http://localhost:3000/user/sell/bids/start/<%= (pageMultipationFactor - 1) * 30 %>?itemId=<%= itemId %>" class="prev"></a></li>
                        <% } %>
                        <% if(maxPageCount >= (pageMultipationFactor * 10) + 4) {%>
                        <li><a href="http://localhost:3000/user/sell/bids/start/<%= (pageMultipationFactor + 1) * 30 %>?itemId=<%= itemId %>" class="next"></a></li>
                        <% } %>
                    </ul>
                </nav>
            </div>

        </div>

    </div>

    <div class="margin-top-50"></div>

    <!-- Footer
    ================================================== -->
    <% include footer.ejs %>

</div>


<!-- Java Script
================================================== -->
<script src="http://code.jquery.com/jquery-1.11.0.min.js"></script>
<script src="http://code.jquery.com/jquery-migrate-1.2.1.min.js"></script>
<script src="scripts/jquery.jpanelmenu.js"></script>
<script src="scripts/jquery.themepunch.plugins.min.js"></script>
<script src="scripts/jquery.themepunch.revolution.min.js"></script>
<script src="scripts/jquery.themepunch.showbizpro.min.js"></script>
<script src="scripts/jquery.magnific-popup.min.js"></script>
<script src="scripts/hoverIntent.js"></script>
<script src="scripts/superfish.js"></script>
<script src="scripts/jquery.pureparallax.js"></script>
<script src="scripts/jquery.pricefilter.js"></script>
<script src="scripts/jquery.selectric.min.js"></script>
<script src="scripts/jquery.royalslider.min.js"></script>
<script src="scripts/SelectBox.js"></script>
<script src="scripts/modernizr.custom.js"></script>
<script src="scripts/waypoints.min.js"></script>
<script src="scripts/jquery.flexslider-min.js"></script>
<script src="scripts/jquery.counterup.min.js"></script>
<script src="scripts/jquery.tooltips.min.js"></script>
<script src="scripts/jquery.isotope.min.js"></script>
<script src="scripts/puregrid.js"></script>
<script src="scripts/stacktable.js"></script>
<script src="scripts/custom.js"></script>
<script src="https://ajax.googleapis.com/ajax/libs/jqueryui/1.11.0/jquery-ui.min.js"></script>
<script src="scripts/views/viewbiddingdetailsseller.js"></script>

</body>
</html>