<!DOCTYPE html>
<!--[if IE 8 ]>
<html class="ie ie8" lang="en"> <![endif]-->
<!--[if (gte IE 9)|!(IE)]><!-->
<html lang="en"> <!--<![endif]-->
<head>

    <!-- Global Site Tag (gtag.js) - Google Analytics -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=UA-107495910-1"></script>
    <script>
        window.dataLayer = window.dataLayer || [];
        function gtag(){dataLayer.push(arguments)};
        gtag('js', new Date());

        gtag('config', 'UA-107495910-1');
    </script>

    <!-- Basic Page Needs
    ================================================== -->
    <meta charset="utf-8">
    <title>SellBnB</title>

    <!-- Mobile Specific Metas
    ================================================== -->
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">

    <!-- CSS
    ================================================== -->
    <link rel="stylesheet" href="css/jquery-ui.css">
    <link rel="stylesheet" href="css/style.css">
    <link rel="stylesheet" href="css/colors/blue.css" id="colors">

    <!--[if lt IE 9]>
    <script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
    <![endif]-->

</head>

<body class="boxed">
<div id="wrapper">

    <% include header.ejs %>

    <!-- Titlebar
    ================================================== -->
    <!--<section class="parallax-titlebar fullwidth-element"  data-background="#000" data-opacity="0.2" data-height="160">-->

        <!--<img src="images/mini-slides/6.jpg" alt="" />-->
        <!--<div class="parallax-overlay"></div>-->

        <!--<div class="parallax-content">-->
            <!--<h2>User <span>Message Thread</span></h2>-->

            <!--<nav id="breadcrumbs">-->
                <!--<ul>-->
                    <!--<li>Home</li>-->
                    <!--<li>User</li>-->
                    <!--<li>Messages</li>-->
                <!--</ul>-->
            <!--</nav>-->
        <!--</div>-->
    <!--</section>-->
    <div class="row"></div>
    <div class="container">

        <!-- Sidebar
        ================================================== -->
        <div class="four columns">

            <!-- Categories -->
            <div class="widget margin-top-0">

                <ul id="categories">

                    <li><a href="/user/inbox">Inbox</a></li>
                    <li><a href="/user/sent">Sent</a></li>

                </ul>
                <div class="clearfix"></div>

            </div>

        </div>


        <!-- Content
        ================================================== -->

        <div class="twelve columns products">

            <ul>
                <li style="border-bottom: thin solid lightgray">
                    <div class="message_avatar">
                        <%if(messageDetails.senderUserId.profile_pic == null) { %>
                            <img style="margin-top:20px; margin-left: 10px" src="http://www.gravatar.com/avatar/00000000000000000000000000000000?d=mm&amp;s=70" alt=""/>
                        <% } else { %>
                            <img src="/uploads/profile_pic/<%= messageDetails.senderUserId.profile_pic %>" alt="" style="width: 80px; height: 80px;margin-top:20px; margin-left: 10px"/>
                        <% } %>
                    </div>
                    <div class="comment-content" style="padding: 19px 22px 22px 100px;">
                        <div class="arrow-comment"></div>
                        <div class="comment-by"><strong><%= messageDetails.senderUserId.full_name+' ('+messageDetails.senderUserId.username+')' %></strong><span
                                    class="date"><%= messageDetails.createdAt.split('T')[0]+' '+messageDetails.createdAt.split('T')[1].split('.')[0] %></span>
                        </div>
                        <h4><strong><%= messageDetails.subject %></strong></h4>
                        <p><%= messageDetails.message %></p>
                    </div>
                </li>

                <% for(replyIndex = 0; replyIndex < messageReplies.length; replyIndex++) {
                    var reply = messageReplies[replyIndex];
                %>
                    <li style="border-bottom: thin solid lightgray">
                        <div class="message_avatar">
                            <%if(reply.User.profile_pic == null) { %>
                                <img style="margin-top:20px; margin-left: 10px" src="http://www.gravatar.com/avatar/00000000000000000000000000000000?d=mm&amp;s=70" alt=""/>
                            <% } else { %>
                                <img src="/uploads/profile_pic/<%= reply.User.profile_pic %>" alt="" style="width: 80px; height: 80px; margin-top:20px; margin-left: 10px"/>
                            <% } %>
                        </div>
                        <div class="comment-content" style="padding: 19px 22px 22px 100px;">
                            <div class="arrow-comment"></div>
                            <div class="comment-by"><strong><%= reply.User.full_name+' ('+reply.User.username+')' %></strong><span
                                        class="date"><%= reply.createdAt.split('T')[0]+' '+reply.createdAt.split('T')[1].split('.')[0] %></span>
                            </div>
                            <p><%= reply.message %></p>
                            <br>
                        </div>
                    </li>
                <% } %>

            </ul>
            <br>
            <form id="add-comment" class="add-comment" action="/api/messages/addreply" method="POST">
                <fieldset>
                    <input type="hidden" name="userId" value="<%= user.id %>" />
                    <input type="hidden" name="messageId" value="<%= messageDetails.id %>" />
                    <div>
                        <label>Your Reply: </label>
                        <textarea cols="40" rows="2" name="reply" style="min-height: 100px; width: 97%"></textarea>
                    </div>

                </fieldset>

                <input type="submit" class="button color" style="width: 100%" value="Send Reply"/>
                <div class="clearfix"></div>

            </form>
        </div>

    </div>

    <div class="margin-top-50"></div>

    <!-- Footer
    ================================================== -->
    <% include footer.ejs %>

</div>


<!-- Java Script
================================================== -->
<script src="http://code.jquery.com/jquery-1.11.0.min.js"></script>
<script src="http://code.jquery.com/jquery-migrate-1.2.1.min.js"></script>
<script src="scripts/jquery.jpanelmenu.js"></script>
<script src="scripts/jquery.themepunch.plugins.min.js"></script>
<script src="scripts/jquery.themepunch.revolution.min.js"></script>
<script src="scripts/jquery.themepunch.showbizpro.min.js"></script>
<script src="scripts/jquery.magnific-popup.min.js"></script>
<script src="scripts/hoverIntent.js"></script>
<script src="scripts/superfish.js"></script>
<script src="scripts/jquery.pureparallax.js"></script>
<script src="scripts/jquery.pricefilter.js"></script>
<script src="scripts/jquery.selectric.min.js"></script>
<script src="scripts/jquery.royalslider.min.js"></script>
<script src="scripts/SelectBox.js"></script>
<script src="scripts/modernizr.custom.js"></script>
<script src="scripts/waypoints.min.js"></script>
<script src="scripts/jquery.flexslider-min.js"></script>
<script src="scripts/jquery.counterup.min.js"></script>
<script src="scripts/jquery.tooltips.min.js"></script>
<script src="scripts/jquery.isotope.min.js"></script>
<script src="scripts/puregrid.js"></script>
<script src="scripts/stacktable.js"></script>
<script src="scripts/custom.js"></script>
<script src="scripts/views/header_func.js"></script>

</body>
</html>